<%= javascript_include_tag 'lender_offering.js' %>
<%= javascript_include_tag 'bl_util.js' %>

<%= render :partial => 'menus/lenders_menu' %>
<a id="top1"></a>
<%= form_for (@lenders, :url=> {:controller=>"lender", :action => "update_lender_offering"}, :html=>
{:width=> "100%",:height=> "100%", :class=>"lender_offering", :multipart=>true, :id=>"lender_item_registration"}) do |nf| %>

<%#= render :partial => 'home/check_for_errors', :locals => {:data_source => @lenders}  %>
<% unless @lenders[0].blank? %>
<% @lenders = @lenders[0] %>
<% end  %>
<% if not @lenders.blank?  %>
<% unless session[:reuse] %>
<%= nf.hidden_field( :lender_item_id) %>
<% end %>
<%= nf.hidden_field( :is_active) %>
<%= nf.hidden_field( :is_saved) %>
<%= nf.hidden_field( :user_id) %>

<% end %>

<% @st = UsStates.find(:all, :order => "state_name") %>
<% @ct = Countries.find(:all, :order => "country_name") %>
<% @community_name  = (session[:community_name].blank? ? false : true) %>
<% if @community_name  %>
<% @cdetails = Community_Members.find(:first, :readonly, :conditions => ["user_id = ?", session[:user_id]])  %>
<% @caddress = Communities.find(:first, :readonly, :conditions => ["community_id = ?", session[:community_id])  %>
<% end  %>

<div class="top" >

	<p>
		<span class="logo_white" >The Echo Market</span>
	</p>
	<p>
		<%= session[:user_alias] + ": " unless session[:user_alias].blank? %>
		LENDER ITEM REGISTRATION
		<%#*<a href="#" class="registration_header" style="display:none;" onclick="saveAndFinishLater();" >Save and Finish Later</a>%> <a href="#" class="registration_header" style="display:none;" onclick="saveAll();">Save Lender Item Registration</a>
	</p>
	<% unless session[:notice].blank? %>
	<p>
		<%= session[:notice] %>
	</p>
	<% end  %>
</div>
<div>
	<span class="registration_header" style="display:none;color:red;font-size:14px;font-weight:bold;text-decoration:none;float:left;margin:10px;width:94%;"> In the following, a black '*' indicates a required field; '(nn)' indicates the maximum number of characters allowed for entry; and, not choosing either 'Yes' or 'No' will be interpreted as 'Indifferent'...</span>
</div>
<div   class="div_p" id="menu_item_1" >
	1. Contact Information
</div>
<a id="top"></a>
<div id="form_contact_information" class="contact_information" style="display:none;">
	<div style="display:block;float:left;width:94%;height:auto;margin:5px;">
		<div style="width: 50%;float:left;">
			<label id="personal" >As a lender, how would you describe yourself?<span class="required_fields">&nbsp;&nbsp;*</span></label>
			<% unless @lenders.describe_yourself.blank? %>
			<% current_selected = @lenders.describe_yourself %>
			<% else %>
			<% current_selected = '99' %>
			<% end  %>
			<% @getbl = Contactdescribes.find(:all, :readonly => true, :conditions => ['borrower_or_lender = 1'], :order=>"option_value") %>
			<% @bl = options_from_collection_for_select(@getbl, :option_value, :borrower_or_lender_text, current_selected.to_i) %>
			<%= nf.select( :describe_yourself, @bl,{:style=>"width:auto;" }) %>

			<span class="error" id="describe_yourself_combo_error">&nbsp;</span>
		</div>
		<% display_div = 'none' %>
		<% unless @lenders.describe_yourself.blank? %>
		<% if @lenders.describe_yourself == 100 %>
		<% display_div =  'inline'%>
		<% else %>
		<% display_div =  'none'%>
		<% end %>
		<% end %>
		<div id="other_describe_yourself" style="float:left;width:48%;margin-left:15px;display:<%= display_div %>;">
			<label>How then would you describe yourself?:&nbsp;<span class="required_fields">&nbsp;&nbsp;*</span>&nbsp;<span class="max_length">(24)</span></label>
			<%= nf.text_field(:other_describe_yourself, :size=>24, :maxlength=>24, :class=>"hidden_input") %>
			<span class="error" id="other_describe_yourself_error">&nbsp;</span>
		</div>
	</div>

	<div style="display:block;float:left;width:86%;height:auto;margin:5px;">
		<table class="personal">

			<tr class="odd">
				<td style="width:25%;">
				<div>
					<label>Organization Name:&nbsp;<span class="max_length">(24)</span></label>
					<%= nf.text_field( :organization_name,  :maxlength=>24, :size=>24) %>
					<span class="error" id="organization_name_error">&nbsp;</span>
				</div></td>

				<td style="width:25%;" colspan="2">
				<div style="display:inline-block;vertical-align:top;">
					<label>Public Display Organization Name?:</label>
					<%= render :partial => 'layouts/yes_no', :locals =>
					{:object=> "lenders", :field=> "displayLenderOrganizationName", :radio_id => "public_display_organization_name", :radio_num => "publicdisplayorganizationname", :which_class=>"radio", :onchange_call => ""} %>
					<span class="error" id="public_display_organization_name_error">&nbsp;</span>
				</div></td>

				<td style="width:25%;">
				<div>
					&nbsp;
				</div></td>

			</tr>

			<tr class="even">
				<td style="width:25%;">
				<div>
					<label>First Name:<span class="required_fields">&nbsp;&nbsp;*</span>&nbsp;<span class="max_length">(24)</span></label>
					<%= nf.text_field( :first_name,  :maxlength=>24, :size=>24) %>
					<span class="error" id="first_name_error">&nbsp;</span>
				</div></td>

				<td style="width:25%;">
				<div>
					<label>Middle Initial:</label>
					<%= nf.text_field( :mi, :size=>"1", :maxlength=>"1") %>
					<span class="error">&nbsp;</span>
				</div></td>

				<td style="width:25%;">
				<div>
					<label>Last Name:<span class="required_fields">&nbsp;&nbsp;*</span>&nbsp;<span class="max_length">(24)</span></label>
					<%= nf.text_field( :last_name,  :maxlength=>24, :size=>24) %>
					<span class="error" id="last_name_error">&nbsp;</span>
				</div></td>

				<td style="width:25%;">
				<div style="display:inline-block;vertical-align:top;">
					<label >Public Display Name?:</label>
					<%= render :partial => 'layouts/yes_no', :locals => {:object=> "lenders",:edit => true, :field=> "displayLenderName", :radio_id => "public_display_name", :radio_num => "publicdisplayname", :which_class=>"radio", :onchange_call => ""} %>
					<span class="public_display_name_error">&nbsp;</span>
				</div></td>

			</tr>

			<tr class="odd">
				<td style="width:25%;">
				<div>
					<label>Address Line 1:<span class="required_fields">&nbsp;&nbsp;*</span>&nbsp;<span class="max_length">(24)</span></label>
					<%= nf.text_field( :address_line_1, :maxlength=>24, :size=>24) %>
					<span class="error" id="address_line_1_error">&nbsp;</span>
				</div></td>
				<td style="width:25%;">
				<div>
					<label>Address Line 2:</label>
					<%= nf.text_field( :address_line_2,  :maxlength=>24, :size=>24) %>
					<span class="error">&nbsp;</span>
				</div></td>
				<td style="width:25%;">
				<div>
					<label>Postal Code:<span class="required_fields">&nbsp;&nbsp;*</span>&nbsp;<span class="max_length">(15)</span></label>
					<%= nf.text_field( :postal_code,  :maxlength=>15, :size=>15) %>
					<span class="error" id="postal_code_error">&nbsp;</span>
				</div></td>
				<td style="width:25%;">
				<div>
					<label>City:<span class="required_fields">&nbsp;&nbsp;*</span>&nbsp;<span class="max_length">(20)</span></label>
					<%= nf.text_field( :city, :maxlength=>20, :size=>20) %>
					<span class="error" id="city_error">&nbsp;</span>
				</div></td>

			</tr>
			<tr class="even">
				<td style="width:25%;"><label>County:&nbsp;<span class="max_length">(20)</span></label> <%= nf.text_field( :province,  :maxlength=>20, :size=>20) %> <span class="error">&nbsp;</span>
					
				</td>
				
				
				<td style="width:25%;">
					
				 <% if @lenders.state_id_string.blank? %>
           			<% display_state_id = 'inline' %>
           		<% else %>
           			<% display_state_id = 'none' %>
           		<% end %>
             
            <div id="choose_us_state"  style="display:#{display_state_id};" >
				<label>Select State: <span class="required_fields">&nbsp;&nbsp;*</span> </label> 
				<% unless @lenders.state_id.blank? %>
				<% current_selected = @lenders.state_id %>
				<% else %>
				<% current_selected = '99' %>
				<% end  %>
				<% @states = options_from_collection_for_select(@st, :state_id, :state_name, current_selected) %>
				<%= nf.select(:state_id, @states, {:tabindex=>14}) %> 
			</div>

			<% unless @lenders.state_id_string.blank? %>
           <% display_state_id_string = 'inline' %>
           <% else %>
           <% display_state_id_string = 'none' %>
           <% end %>
           
           	<div id="provide_country_state" style="display:#{display_state_id_string};" >
					<label>Provide Region: <span class="required_fields">&nbsp;&nbsp;*</span>&nbsp;<span class="max_length">(40)</span> </label>
					<%= nf.text_field(:state_id_string, {:tabindex=>14}) %>
					
				</div>
				<span class="error" id="state_error">&nbsp;</span>
		
				</td>
				
				
				
				<td style="width:25%;"><label>Country:</label> <% unless @lenders.country_id.blank? %>
				<% current_selected = @lenders.country_id %>
				<% else %>
				<% current_selected = '99' %>
				<% end  %>
				<% @countries = options_from_collection_for_select(@ct, :country_id, :country_name, current_selected) %>
				<%= nf.select(:country_id, @countries, {:onchange=>"select#lenders_country_id();"}) %> <span class="error" id="country_error">&nbsp;</span>
				</td>

				<td style="width:25%;">
				<div style="display:inline-block;vertical-align:top;">
					<label >Public Display Address?:</label>
					<%= render :partial => 'layouts/yes_no', :locals => {:object=> "lenders",:edit => true, :field=> "displayLenderAddress",:radio_id => "public_display_address_radio", :radio_num => "publicdisplayaddress", :which_class=>"radio", :onchange_call => ""} %>
					<span class="error">&nbsp;</span>
				</div></td>
			</tr>
		</table>
		<table class="personal">
			<tr class="odd">
				<td style="width:33%;"><label  >Home Phone:&nbsp;<span class="max_length">(15)</span></label> <%= nf.telephone_field( :home_phone, :maxlength=>15, :size=>15) %> <label style="font-size:12px" for="displayLenderHomePhone" >Public display your home phone?&nbsp;
					<%= nf.check_box(:public_display_home_phone, {:style=>"vertical-align: middle;width:15px;"}) %> </label><span class="error"   id="home_phone_error">&nbsp;</span></td>
				<td style="width:33%;"><label>Cell Phone:&nbsp;<span class="max_length">(15)</span></label> <%= nf.telephone_field(:cell_phone, :maxlength=>15, :size=>15) %> <label style="font-size:12px" for="displayLenderCellPhone" >Public display your cell phone?&nbsp;
					<%= nf.check_box(:public_display_cell_phone, {:style=>"vertical-align: middle;width:15px;"}) %> </label><span class="error" id="cell_phone_error">&nbsp;</span></td>
				<td style="width:34%;"><label>Alternative Phone:&nbsp;<span class="max_length">(15)</span></label> <%= nf.telephone_field( :alternative_phone, :maxlength=>15, :size=>15) %> <label style="font-size:12px" for="displayLenderAlternativePhone" >Public display your alternative phone?&nbsp;
					<%= nf.check_box(:public_display_alternative_phone,  {:style=>"vertical-align: middle;width:15px;"}) %> </label><span class="error" id="alternative_phone_error">&nbsp;</span></td>

			</tr>
		</table>
	</div>

	<div class="bottom">
		<a href="#item_section1" class="registration_header" style="display:none;" onclick="showReview();">Review Lender Item Registration {Beta}</a>
		<a href="#menu_item_2" onclick="showBorrowersContactPreferences();">Continue to '2. Your Borrowers Contact Preferences'</a>
	</div>
</div >

<div class="div_p" id="menu_item_2" >
	2. Your Borrowers Contact Preferences
</div>

<div id="form_borrower_preference" class="contact_information" style="display:none;">
	<div style="float:left;width:92%;margin-left:25px;margin-bottom:1px;">
		<label id="personal" style="margin-left:50px;">How would you like interested borrowers to make initial contact with you?</label>
		<label id="personal" style="margin-left:55px;">...You are required to choose at least one option.</label>
	</div>
	<div   class="div_white" >
		&nbsp;
	</div>

	<div style="float:left;width:92%;margin-left:25px;background-color:#E0E0FF;">
		<label class="readonly_label_underline">Contact Option: By Postal Mail?:</label>
		<% display_div = 'none' %>
		<% unless @lenders.useWhichContactAddress.blank? %> <% if @lenders.useWhichContactAddress != -1 %>
		<% display_div =  'block'%> <% end %>
		<% end %>
		<div id="postalWithContactAddress" style="display: <%= display_div %>;">
			<%= render :partial => 'layouts/with_contact_address', :locals =>
			{:object => "lenders", :field=>"useWhichContactAddress", :radio_id => "useWhichContactAddress", :radio_num => "useWhichContactAddress", :which_class=>"radio", :onchange_call => "noNotContactAddress(this, 'lenders');"} %>
		</div>

		<% display_div = 'none' %>
		<% unless @lenders.displayLenderAddress.blank? %> <% if @lenders.displayLenderAddress == 0 %>
		<% display_div =  'block'%> <% end %>
		<% end %>
		<div id="postalWithOutContactAddress" style="display:<%= display_div %>;">

			<p>
				You have selected above to not display your contact address.
			</p>
			<label for="useWhichContactAddressAlternative" >Use an alternative address?:&nbsp;
				<%= nf.check_box(:useWhichContactAddressAlternative) %> </label>

		</div>
	</div>

	<% display_div = 'none' %>
	<% unless @lenders.useWhichContactAddress.blank? %>
	<% if @lenders.useWhichContactAddress == 1 || @lenders.useWhichContactAddress == 2 || @lenders.useWhichContactAddressAlternative == 1 %>
	<% display_div =  'block'%>
	<% end %>
	<% end %>
	<div id="table_alternative_address_input" style="display:<%= display_div %>;width:92%;background-color:#E1F5A9; margin:5px 0px 0px 25px">
		<label id="personal" >Provide your alternative contact address here:</label>
		<br />
		<table class="alternative_address_table" id="table_address_input" >
			<tr>
				<td><label>Address Line 1:<span style="color:black;font-size:16px">&nbsp;&nbsp;*</span>&nbsp;<span class="max_length">(24)</span></label> <%= nf.text_field( :address_line_1_alternative, :size=>20, :maxlength=>24) %> <span class="error" id="address_line_1_alternative_error">&nbsp;</span></td>
				<td><label>Address Line 2:&nbsp;<span class="max_length">(24)</span></label> <%= nf.text_field( :address_line_2_alternative, :size=>20, :maxlength=>24) %> <span class="error">&nbsp;</span></td>
				<td><label>City:<span style="color:black;font-size:16px">&nbsp;&nbsp;*</span>&nbsp;<span class="max_length">(20)</span></label> <%= nf.text_field( :city_alternative, :size=>20, :maxlength=>20) %> <span class="error" id="city_alternative_error">&nbsp;</span></td>
				<td><label>County/Province:&nbsp;<span class="max_length">(24)</span></label> <%= nf.text_field( :province_alternative, :size=>20, :maxlength=>24) %> <span class="error">&nbsp;</span></td>
			</tr>
			<tr>
				<td>
				
				
			   <% if @lenders.state_id_alternative_string.blank? %>
           					<% display_state_id = 'inline' %>
           				<% else %>
           					<% display_state_id = 'none' %>
           				<% end %>
             
            <div id="choose_us_state"  style="display:#{display_state_id};" >
				<label>Select Alternative State: <span class="required_fields">&nbsp;&nbsp;*</span> </label> 
				<% unless @lenders.state_id_alternative.blank? %>
				<% current_selected = @lenders.state_id_alternative %>
				<% else %>
				<% current_selected = '99' %>
				<% end  %>
				<% @states = options_from_collection_for_select(@st, :state_id, :state_name, current_selected) %>
				<%= nf.select(:state_id, @states, {:tabindex=>14}) %> 
				</div>

			<% unless @lenders.state_id_alternative_string.blank? %>
           <% display_state_id_string = 'inline' %>
           <% else %>
           <% display_state_id_string = 'none' %>
           <% end %>
           	<div id="provide_country_state" style="display:#{display_state_id_string};" >
					<label>Provide Region: <span class="required_fields">&nbsp;&nbsp;*</span>&nbsp;<span class="max_length">(40)</span> </label>
					<%= nf.text_field(:state_id_string_alternative, {:tabindex=>14}) %>
					
				</div>
				<span class="error" id="state_alternative_error">&nbsp;</span>
				
				
				</td>
				
				
				
				
				<td><label>Country:<span style="color:black;font-size:16px">&nbsp;&nbsp;*</span></label> <% unless @lenders.country_id_alternative.blank? %>
				<% current_selected = @lenders.country_id_alternative %>
				<% else %>
				<% current_selected = '99' %>
				<% end  %>
				<% @countries = options_from_collection_for_select(@ct, :country_id, :country_name, current_selected) %>
				<%= nf.select(:country_id_alternative, @countries) %> <span class="error" id="country_alternative_error">&nbsp;</span>
				</td>
				<td>
					<label>Postal Code<span style="color:black;font-size:16px">&nbsp;&nbsp;*</span>&nbsp;<span class="max_length">(15)</span></label> <%= nf.text_field( :postal_code_alternative,:maxlength=>15, :size=>15) %> <span class="error" id="postal_code_alternative_error">&nbsp;</span>
					
				</td>
				<td> &nbsp; </td>

			</tr>

			<tr>
				<td colspan="4"><span class="error" id="whichContactAddressError">Incomplete alternative address information.  Please note required fields.</span></td>

			</tr>
		</table>

	</div>
	<div   class="div_white" >
		&nbsp;
	</div>
	<div style="float:left;width:92%;margin-left:25px;background-color:#E0E0FF;">
		<label class="readonly_label_underline">Contact Option: By your Login E-Mail? Or, an Alternative E-Mail?</label>
		<table class="personal">
			<tr>
				<td >
				<div>
					<label>Login E-Mail:</label>
					<% @lender_email = Users.find(:first) %>
					<label style="font-size:14px;"><%= @lender_email.email %></label>
					<span class="error" id="email1_contact_error">&nbsp;</span>
				</div></td>
				<td >
				<div>
					<label>Alternative:</label>
					<%= nf.text_field( :email_alternative) %>
					<span class="error" id="email2_contact_error">&nbsp;</span>
				</div></td>
				<td >
				<div >
					<label>Which E-Mail Address?:</label>
					<%= render :partial => 'layouts/contact_email', :locals =>
					{:object => "lenders", :field=>"borrower_contact_by_email", :radio_id => "borrower_contact_email", :which_class=>"radio"} %>
					<span class="error">&nbsp;</span>
				</div></td>
			</tr>
		</table>
	</div>
	<div   class="div_white" >
		&nbsp;
	</div>
	<div style="float:left;width:92%;margin-left:25px;background-color:#E0D6CC;" id="byYourPhone">
		<label class="readonly_label_underline">Contact Option: By your Phone? </label>
		<table class="personal">
			<tr>
				<td>
				<div id="displayHomePhoneContact">
					<label>Home Phone:&nbsp;<span id="contact_home_phone">&nbsp;</span></label>
					<label style="font-size:12px;">Can borrowers call you at your home phone?&nbsp;
						<%= nf.check_box( :borrower_contact_by_home_phone) %></label>
					<span class="error">&nbsp;</span>
				</div>
				<div id="nodisplayHomePhoneContact" style="display:none">
					&nbsp;
				</div></td>
				<td>
				<div id="displayCellPhoneContact">
					<label>Cell Phone:&nbsp;<span id="contact_cell_phone">&nbsp;</span></label>
					<label style="font-size:12px;">... your cell phone?&nbsp;
						<%= nf.check_box( :borrower_contact_by_cell_phone) %></label>
					<span class="error">&nbsp;</span>
				</div>
				<div id="nodisplayCellPhoneContact" style="display:none">
					&nbsp;
				</div></td>
				<td>
				<div id="displayAlternativePhoneContact">
					<label>Alternative Phone:&nbsp;<span id="contact_alternative_phone">&nbsp;</span></label>
					<label style="font-size:12px;">... your alternative phone?&nbsp;
						<%= nf.check_box( :borrower_contact_by_alternative_phone) %></label>
					<span class="error">&nbsp;</span>
				</div>
				<div id="nodisplayAlternativeContact" style="display:none">
					&nbsp;
				</div></td>
				<td>
				<div >
					&nbsp;
				</div></td>
			</tr>
		</table>
	</div>
	<div   class="div_white" >
		&nbsp;
	</div>
	<div style="float:left;width:92%;margin-left:25px;background-color:#CCEBD6;">
		<label class="readonly_label_underline" >Contact Option: By Internet Social Media?</label>
		<br />
		<div class="column50">
			<div>
				<label>Your Facebook Account:</label>
				<%= nf.text_field( :borrower_contact_by_Facebook, {:tabindex=>"1"}) %>
				<span class="error">&nbsp;</span>
			</div>
			<div>
				<label>Your LinkedIn Account:</label>
				<%= nf.text_field( :borrower_contact_by_LinkedIn,{:tabindex=>"3"}) %>
				<span class="error">&nbsp;</span>
			</div>
			<div>
				<label>Other Social Media:</label>
				<%= nf.text_field( :borrower_contact_by_Other_Social_Media,{:tabindex=>"5"}) %>
				<span class="error">&nbsp;</span>
			</div>
		</div>
		<div class="column50">
			<div>
				<label>Your Twitter Account:</label>
				<%= nf.text_field( :borrower_contact_by_Twitter,{:tabindex=>"2"}) %>

				<span class="error">&nbsp;</span>
			</div>
			<div>
				<label>Your Instagram Account:</label>
				<%= nf.text_field( :borrower_contact_by_Instagram,{:tabindex=>"4"}) %>
				<span class="error">&nbsp;</span>
			</div>
			<div>
				<label>Other Social Media Access:</label>
				<%= nf.text_field( :borrower_contact_by_Other_Social_Media_Access, {:tabindex=>"6"}) %>
				<span class="error">&nbsp;</span>
			</div>
		</div>
	</div>
	<div   class="div_white" >
		&nbsp;
	</div>
	<div class="bottom">
		<a href="#item_section2" class="registration_header" style="display:none;" onclick="showReview();">Review Lender Item Registration {BETA}</a>
		<a href="#menu_item_1" onclick="showFormContact();">Return to '1. Contact Information'</a>&nbsp;&nbsp; <a href="#menu_item_3" onclick="showLenderToBorrower();">Continue to '3. Item Transfer: Lender to Borrower</a>
	</div>
</div>
<div   class="div_white" >
	&nbsp;
</div>
<label class="personal" id="menu_category" style="margin-left:15px;float:left;">Item Transfer</label>
<div class="div_p" id="menu_item_3" >
	3. Item Transfer: Lender to Borrower
</div>

<div id="form_lender_to_borrower" class="contact_information" style="display:none;">
	<div   class="div_white" >
		&nbsp;
	</div>
	<label class="personal" style="margin-left:55px;">How would like borrower(s) to receive your item?</label>
	<div   class="div_white" >
		&nbsp;
	</div>
	<div style="float:left;width:92%;padding-left: 25px;padding-top: 5px;margin-left:25px;background-color:#CFBDAE;">
		<label for="delivery_address_checkbox">Borrower comes to your...:</label>
		<%= render :partial => 'layouts/borrower_comes_to_address', :locals => {:object => "lenders", :radio_id => "b_address_checkbox", :which_class=>"radio" } %>
		<span class="error">&nbsp;</span>
	</div>
	<div   class="div_white" >
		&nbsp;
	</div>
	<div style="float:left;width:92%;padding-left: 25px;padding-top: 5px;margin-left:25px;background-color:#C2B9BC;">
		<label for="agreed_location_radio">Meet with borrower at an agreed location?:</label>
		<%= render :partial => 'layouts/yes_no', :locals => {:object=> "lenders",:edit=>true,:field=>"meetBorrowerAtAgreedL2B", :radio_id => "agreed_location_radio", :radio_num => "agreedlocationradio", :which_class=>"radio", :onchange_call => ""} %>
		<span class="error">&nbsp;</span>
	</div>
	<div   class="div_white" >
		&nbsp;
	</div>
	<div style="float:left;width:92%;padding-left: 25px;padding-top: 5px;margin-left:25px;background-color:#CFBDAE;">
		<label for="borrower_preferred_location_radio">Will deliver to borrower preferred location?:</label>
		<%= render :partial => 'layouts/yes_no', :locals => {:object=> "lenders",:edit=>true,:field=>"willDeliverToBorrowerPreferredL2B", :radio_id => "borrower_preferred_location_radio", :radio_num => "borrowerpreferredlocationradio", :which_class=>"radio", :onchange_call => ""} %>
		<span class="error">&nbsp;</span>
	</div>
	<div   class="div_white" >
		&nbsp;
	</div>

	<div style="float:left;width:92%;padding-left: 25px;padding-top: 5px;margin-left:25px;background-color:#C2B9BC;">
		<label for="third_party_present_lender">Would you like a third-party present during transfer to borrower?:</label>
		<%= render :partial => 'layouts/yes_no', :locals => {:object=> "lenders",:edit=>true, :field=>"thirdPartyPresenceL2B", :radio_id => "third_party_present_lender", :radio_num => "thirdpartypresentlender", :which_class=>"radio",
		:onchange_call => ""} %>
		<span class="error">&nbsp;</span>
	</div>
	<% display_div = 'none' %>
	<% unless @lenders.thirdPartyPresenceL2B.blank? %>
	<% if @lenders.thirdPartyPresenceL2B.abs == 1 %>
	<% display_div =  'inline'%>
	<% end %>
	<% end %>
	<div style="float:left;width:92%;padding-left: 25px;padding-top:5px;margin-left:25px;background-color:#E1F5A9;display:<%= display_div  %>;" id="which_delivery_locationL2B_div">
		<div class="column30">
			<label  for="which_delivery_location_lender">Your choice?:</label>
			<%= render :partial => 'layouts/yes_no', :locals => {:object=> "lenders",:edit=>true, :field=> "lenderThirdPartyChoiceL2B",:radio_id => "which_delivery_location_lender", :radio_num => "whichdeliverylocationlender", :which_class=>"radio", :onchange_call => ""} %>
		</div>
		<div class="column30">
			<label  for="mutually_agreed_radio_lender">Mutually agreed?:</label>
			<%= render :partial => 'layouts/yes_no', :locals => {:object=> "lenders",:edit=>true, :field=>"agreedThirdPartyChoiceL2B", :radio_id => "mutually_agreed_radio_lender", :radio_num => "mutuallyagreedradiolender", :which_class=>"radio", :onchange_call => ""} %>
		</div>
	</div>

	<div class="bottom">
		<a href="#item_section3" class="registration_header" style="display:none;" onclick="showReview();">Review Lender Item Registration {BETA}</a>
		<a href="#menu_item_2" onclick="showBorrowersContactPreferences();">Return to '2. Your Borrowers Contact Preferences'</a>
		<a href="#menu_item_4" onclick="showBorrowerToLender();">Continue to '4. Item Transfer: Borrower to Lender'</a>

	</div>

</div>
<div   class="div_p" id="menu_item_4">
	4. Item Transfer: Borrower to Lender
</div>
<div id="form_borrower_to_lender" class="contact_information" style="display:none;">

	<label class="personal" style="margin-left:55px;">How would like borrower(s) to return your item?</label>
	<div style="margin-left:25px;margin-top:5px;float:left;">
		<label >Borrower returns to your...:</label>
		<%= render :partial => 'layouts/borrower_returns_to_address', :locals => {:object => "lenders",:radio_id => "delivery_address_checkbox_borrower", :which_class=>"radio" } %>
		<span class="error">&nbsp;</span>
	</div>

	<div style="margin-left:25px;margin-top:5px;float:left;">
		<label >Will meet with borrower at an agreed location?:</label>
		<%= render :partial => 'layouts/yes_no', :locals => {:object=> "lenders",:edit=> true, :field=>"meetBorrowerAtAgreedB2L",:radio_id => "agreed_location_radio_borrower", :radio_num => "agreedlocationradioborrower", :which_class=>"radio", :onchange_call => ""} %>
		<span class="error">&nbsp;</span>
	</div>

	<div style="margin-left:25px;margin-top:5px;float:left;">
		<label >Will pick up at borrower's location?:</label>
		<%= render :partial => 'layouts/yes_no', :locals => {:object=> "lenders",:edit=> true,:field=>"willPickUpPreferredLocationB2L",:radio_id => "borrower_location_pick_up", :radio_num => "borrowerlocationpickup", :which_class=>"radio", :onchange_call => ""} %>
		<span class="error">&nbsp;</span>
	</div>

	<div style="margin-left:25px;margin-top:5px;float:left;">
		<label >Would you like a third-party present during transfer from borrower?:</label>
		<%= render :partial => 'layouts/yes_no', :locals => {:object=> "lenders",:edit=> true,:field=>"thirdPartyPresenceB2L",:radio_id => "third_party_present_borrower", :radio_num => "thirdpartypresentborrower", :which_class=>"radio",
		:onchange_call => ""} %>
		<span class="error">&nbsp;</span>
	</div>
	<% display_div = 'none' %>
	<% unless @lenders.thirdPartyPresenceB2L.blank? %>
	<% if @lenders.thirdPartyPresenceB2L.abs == 1 %>
	<% display_div =  'inline'%>
	<% end %>
	<% end %>

	<div style="float:left;width:92%;padding-left: 25px;padding-top:5px;margin-left:25px;background-color:#E1F5A9;display:<%= display_div  %>;" id="which_delivery_locationB2L_div">
		<div class="column30" >

			<label >Your choice?:</label>
			<%= render :partial => 'layouts/yes_no', :locals => {:object=> "lenders",:edit=> true,:field=>"lenderThirdPartyChoiceB2L",:radio_id => "your_choice_location_radio_borrower", :radio_num => "lenderThirdPartyChoiceB2L", :which_class=>"radio", :onchange_call => ""} %>
		</div>

		<div class="column30" >
			<label >Mutually agreed?:</label>
			<%= render :partial => 'layouts/yes_no', :locals => {:object => "lenders",:edit=> true,:field=>"agreedThirdPartyChoiceB2L",:radio_id => "mutually agreed_radio_borrower", :radio_num => "agreedThirdPartyChoiceB2L", :which_class=>"radio", :onchange_call => ""} %>
		</div>
	</div>

	<div class="bottom">
		<a href="#item_section4" class="registration_header" style="display:none;" onclick="showReview();">Review Lender Item Registration {BETA}</a>
		<a href="#menu_item_3" onclick="showLenderToBorrower();">Return to '3. Item Transfer: Lender to Borrower'</a>
		<a href="#menu_item_5" onclick="showItem();">Continue to '5. Items(s) to Lend'</a>

	</div>

</div>

<div   class="div_white" id="div_white" >
	&nbsp;
</div>
<div   class="div_p" id="menu_item_5" >
	5. Item(s) to Lend
</div>

<div id="form_item" class="contact_information" style="display:none;">
	<label class="personal" style="margin-left:25px;margin-top:5px;">Item you would like to lend</label>
	<table class="personal">
		<tr class="odd">
			<td width="50%">
			<div style="margin-left:25px;margin-top:5px;">
				<label>Category:<span class="required_fields">&nbsp;&nbsp;*</span> <% unless @lenders.item_category_id.blank? %>
					<% current_selected = @lenders.item_category_id %>
					<% else %>
					<% current_selected = '99' %>
					<% end  %>
					<% @categories = Categories.find(:all, :readonly => true, :order=> "category_type") %>
					<% @cats = options_from_collection_for_select(@categories, :category_id, :category_type, current_selected.to_i) %>
					<%= nf.select( :item_category_id, @cats,{ :onchange=>"lenders_item_category_id();", :style=>"width:auto;" }) %></label>
				<span class="error" id="item_category_id_error">Choose a 'Category'.</span>

			</div></td>
			<td  style="width:50%;"> <% display_div = 'none' %>
			<% unless @lenders.item_category_id.blank? %>
			<% if @lenders.item_category_id == 0 %>
			<% display_div =  'inline'%>
			<% end %>
			<% end %>
			<div style="display:<%= display_div %>;margin-left:25px;margin-top:5px;" id="other_category">
				<label>Add another category:<span class="required_fields">&nbsp;&nbsp;*</span></label>
				<%= nf.text_field( :other_item_category, {:class=>"hidden_input"}) %>

			</div></td>

		</tr>

		<tr class="even">
			<td colspan='2'>
			<div style="margin-left:25px;margin-top:5px;">
				<label>Based on this category, would you like to notify borrowers seeking items in this category?:&nbsp;
					<%= render :partial => 'layouts/yes_no', :locals => {:object=> "lenders",
					:field=>"notify_borrowers",:radio_id => "notify_borrowers", :radio_num => "notify_borrowers1", :which_class=>"radio", :onchange_call => ""} %></label>

			</div></td>
		</tr>

		<tr class="odd">
			<td style="width:50%">
			<div style="margin-left:25px;margin-top:5px;">
				<label for="item_description">Description:<span class="required_fields">&nbsp;&nbsp;*</span></label>
				<%= nf.text_field( :item_description) %>
				<span class="error" id="item_description_error">Please provide a item description.</span>
			</div></td>
			<td style="width:50%">
			<div style="margin-left:25px;margin-top:5px;">
				<label>Condition:&nbsp;<span class="required_fields">&nbsp;&nbsp;*</span></label>

				<% unless @lenders.item_condition_id.blank? %>
				<% current_selected = @lenders.item_condition_id %>
				<% else %>
				<% current_selected = '99' %>
				<% end  %>
				<% @item_conditions = Itemconditions.find(:all, :order=> "item_conditions_id") %>
				<% @bl = options_from_collection_for_select(@item_conditions, :item_conditions_id, :conditions, current_selected.to_i) %>
				<%= nf.select( :item_condition_id, @bl) %>
				<span class="error" id="item_condition_id_error">Choose a 'Condition'.</span>
			</div></td>
		</tr>
		<tr class="even">
			<td  style="width:50%;">
			<div style="margin-left:25px;margin-top:5px;">
				<label for="item_model">Model:</label>
				<%= nf.text_field( :item_model) %>

			</div></td>
			<td  style="width:50%;">
			<div style="margin-left:25px;margin-top:5px;">
				<label>Number of Items:<span class="required_fields">&nbsp;&nbsp;*</span><span class="required_fields">&nbsp;&nbsp;Please not more than 100 items</span></label>
				<%= nf.text_field( :item_count, {:size=>5, :maxlength=>3}) %>
				<span class="error" id="item_count_error">Invalid item count.</span>
			</div></td>
		</tr>

		<% @ig = Itemimages.find(:all, :readonly => true, :conditions => ["lender_item_id =?", @lenders.lender_item_id]) %>
		<% if @ig.blank? %>
		<tr class="odd">
			<td  style="width:50%;">
			<div style="margin-left:25px;margin-top:5px;float:left;">
				<label>Image of Item:</label>
				<input type="file" id="l2bimage" class="" name="lenders[item_image_upload]"  accept="image/*" />
				<span class="file_image_error">&nbsp;</span>
			</div></td >
			<td  style="width:50%;">
			<div style="margin-left:5px;margin-top:5px;float:left;display:block;" id="image_details">
				<img id="imagePreview" height="100" width="200" src="" alt="Uploaded image file" />
				<label>If you'd like, provide a caption for your item image<span class="max_length">(50)</span></label>
				<%= nf.text_field( :item_image_caption) %>
			</div></td>
		</tr>
		<% else %>

		<tr class="odd">
			<td style="width:50%;">
			<div style="margin-left:25px;margin-top:5px;float:left;">
				<label>Image Caption:<% unless @ig[0].item_image_caption.blank? %>
					<%= @ig[0].item_image_caption   %>
					<% else %>
					None provided.
					<% end %></label>
				<label>Image of Item:</label>
				<% file_path_str = "../images/item_images/" + @ig[0].image_file_name %>
				<img  height="100" width="200" src="<%= file_path_str %>" alt="Uploaded image file" />
				<span class="file_image_error">&nbsp;</span>
			</div></td>
			<td style="width:50%;">
			<div style="margin-left:5px;margin-top:5px;float:left;display:block;" id="image_details">
				<input type="file" id="l2bimage" class="" name="lenders[item_image_upload]"  accept="image/*" />
				<span class="file_image_error">&nbsp;</span>
				<img id="imagePreview" height="100" width="200" src="" alt="New uploaded image file" />
				<label>If you'd like, provide an updated caption for your item image<span class="max_length">(50)</span></label>
				<%= nf.text_field( :item_image_caption) %>
			</div></td>
		</tr>
		<% end %>

	</table>

	<div   class="div_white" id="div_white" >
		&nbsp;
	</div>

	<div class="bottom">
		<a href="#item_section5" class="registration_header" style="display:none;" onclick="showReview();">Review Lender Item Registration {BETA}</a>
		<a href="#menu_item_4" onclick="showBorrowerToLender();">Return to '4. Item Transfer:Borrower to Lender'</a>
		<a href="#menu_item_6" onclick="showMonetary();">Continue to '6. Terms of Lending: Monetary '</a>

	</div>

</div>
<div   class="div_white" id="div_white" >
	&nbsp;
</div>
<label class="personal" id="menu_category" style="margin-left:15px;float:left;">Terms of Lending</label>

<div   class="div_p" id="menu_item_6" >
	6. Terms of Lending: Monetary
</div>
<div id="form_monetary" class="contact_information" style="display:none;">
	<table class="personal">
		<tr>
			<td>
			<div style="display:inline-table;margin-top:5px;margin-left:25px;">
				<label for="for_free_radio" id="personal">For free?</label>
				<%= render :partial => 'layouts/yes_no', :locals => {:object=>"lenders" ,:edit=> true,:field=>"for_free",:radio_id => "for_free_radio", :radio_num => "forfreeradio", :which_class=>"radio", :onchange_call => ""} %>
				<span class="error">&nbsp;</span>
			</div></td>
			<td>
			<div>
				&nbsp;
			</div></td>
		</tr>
		<tr>
			<td>
			<div style="margin-top:5px;margin-left:25px;">
				<label id="personal">Small borrowing fee?:</label>
				<%= render :partial => 'layouts/yes_no', :locals => {:object => "lenders",:edit=> true,:field=>"small_fee",:radio_id => "small_fee_radio", :radio_num => "smallfeeradio", :which_class=>"radio", :onchange_call => "" } %>
				<span class="error">&nbsp;</span>
			</div></td>
			<td>
			<div style="margin-top:5px;margin-left:25px;">
				<label for="small_borrowing_fee" id="personal">If yes, what fee amount?</label>
				<%= nf.text_field( :small_fee_amount) %>
				<span class="small_error">&nbsp;</span>
			</div></td>
		</tr>
		<tr>
			<td>
			<div style="margin-top:5px;margin-left:25px;">
				<label id="personal">Item may be available for small purchase amount?:</label>
				<%= render :partial => 'layouts/yes_no', :locals => {:object => "lenders",:edit=> true,:field=>"available_for_purchase",:radio_id => "small_purchase_amount_radio", :radio_num => "available_for_purchase", :which_class=>"radio", :onchange_call => ""} %>
				<span class="error">&nbsp;</span>
			</div></td>
			<td>
			<div style="margin-top:5px;margin-left:25px;">
				<label id="personal">If yes, what purchase amount?</label>
				<%= nf.text_field( :available_for_purchase_amount) %>
				<span class="error">&nbsp;</span>
			</div></td>
		</tr>
		<tr>
			<td>
			<div style="margin-top:5px;margin-left:25px;">
				<label id="personal">Item may be available for donation?:</label>
				<%= render :partial => 'layouts/yes_no', :locals => {:object => "lenders",:edit=> true,:field=>"available_for_donation",:radio_id => "available_for_donation_radio", :radio_num => "availablefordonationradio", :which_class=>"radio", :onchange_call => ""} %>
				<span class="error">&nbsp;</span>
			</div></td>
			<td>
			<div style="margin-top:5px;margin-left:25px;">
				<label id="personal">If yes, would you like to anonymously donate?:</label>
				<%= render :partial => 'layouts/yes_no', :locals => {:object => "lenders",:edit=> true,:field=>"donate_anonymous",:radio_id => "anonymous_donation_radio", :radio_num => "anonymousdonationradio", :which_class=>"radio", :onchange_call => ""} %>
				<span class="error">&nbsp;</span>
			</div></td>
		</tr>
		<tr>
			<td>
			<div style="margin-top:5px;margin-left:25px;">
				<label id="personal">Would you be interesting in trading?:</label>
				<%= render :partial => 'layouts/yes_no', :locals => {:object => "lenders",:edit=> true,:field=>"trade",:radio_id => "trading_radio", :radio_num => "tradingradio", :which_class=>"radio", :onchange_call => ""} %>
				<span class="error">&nbsp;</span>
			</div></td>
			<td>
			<div style="margin-top:5px;margin-left:25px;">
				<label id="personal">If yes, what would you like in exchange?</label>
				<%= nf.text_field( :trade_item) %>
				<span class="error">&nbsp;</span>
			</div></td>
		</tr>
		<tr>
			<td>
			<div style="margin-top:5px;margin-left:25px;">
				<label id="personal">Do you require a security deposit?:</label>
				<%= render :partial => 'layouts/yes_no', :locals => {:object => "lenders",:edit=> true,:field=>"security_deposit",:radio_id => "security_deposit_radio", :radio_num => "securitydepositradio", :which_class=>"radio", :onchange_call => ""} %>
				<span class="error">&nbsp;</span>
			</div></td>
			<td>
			<div style="margin-top:5px;margin-left:25px;">
				<label id="personal">If yes, please provide the security deposit amount:</label>
				<%= nf.text_field( :security_deposit_amount) %>
				<span class="security_deposit_amount_error">&nbsp;</span>
			</div></td>
		</tr>
	</table>
	<div class="bottom">
		<a href="#item_section6" class="registration_header" style="display:none;" onclick="showReview();">Review Lender Item Registration {BETA}</a>
		<a href="#menu_item_5" onclick="showItem();">Return to '5. Items(s) to Lend'</a>
		<a href="#menu_item_7" onclick="showDuration();">Continue to '7. Terms of Lending: Duration'</a>
	</div>
</div>
<div   class="div_p" id="menu_item_7" >
	7. Terms of Lending: Duration
</div>
<div id="form_duration" class="contact_information" style="display:none;">
	<div style="float:left;width:33%;margin-left:25px;">
		<label id="personal">Agreed number of days?:</label>
		<%= render :partial => 'layouts/yes_no', :locals => {:object => "lenders",:edit=> true,:field=>"agreed_number_of_days",:radio_id => "agreed_number_of_days", :radio_num => "agreed_number_of_days", :which_class=>"radio", :onchange_call => ""} %>
		<span class="error">&nbsp;</span>
	</div>
	<div style="float:left;">
		<label id="personal">Agreed number of hours?:</label>
		<%= render :partial => 'layouts/yes_no', :locals => {:object => "lenders",:edit=> true,:field=>"agreed_number_of_hours",:radio_id => "agreed_number_of_hours", :radio_num => "agreed_number_of_hours", :which_class=>"radio", :onchange_call => ""} %>
		<span class="error">&nbsp;</span>
	</div>
	<div style="float:left;margin-left:40px;">
		<label id="personal">Indefinite?</label>
		<%= render :partial => 'layouts/yes_no', :locals => {:object => "lenders",:edit=> true,:field=>"indefinite_duration",:radio_id => "indefinite", :radio_num => "indefinite", :which_class=>"radio", :onchange_call => ""} %>
		<span class="error">&nbsp;</span>
	</div>
	<div class="bottom">
		<a href="#item_section7" class="registration_header" style="display:none;" onclick="showReview();">Review Lender Item Registration {BETA}</a>
		<a href="#menu_item_6" onclick="showMonetary();">Return to '6. Terms of Lending: Monetary'</a>
		<a href="#menu_item_8" onclick="showConditions();">Continue to '8. Terms of Lending: Conditions'</a>
	</div>

</div>
<div   class="div_p" id="menu_item_8">
	8. Terms of Lending: Conditions
</div>
<div id="form_conditions" class="contact_information" style="display:none;">
	<table class="personal" >
		<tr>
			<td style="vertical-align:top;">
			<div style="margin-left:25px;margin-top:5px;">
				<label >Would you like to be present during borrowing period?</label>
				<%= render :partial => 'layouts/yes_no', :locals => {:object => "lenders",:edit=> true,:field=>"present_during_borrowing_period",:radio_id => "not_necessary_radio", :radio_num => "notnecessaryradio", :which_class=>"radio", :onchange_call => "presenceYes(this);"} %>
				<span class="error">&nbsp;</span>
			</div></td>
			<td style="vertical-align:top;"> <% display_div = 'none' %>
			<% unless @lenders.present_during_borrowing_period.blank? %>
			<% if @lenders.present_during_borrowing_period.abs == 1 %>
			<% display_div =  'inline'%>
			<% end %>
			<% end %>
			<div style="display:<%= display_div %>;background-color:#E1F5A9;;margin-left:15px;margin-top:5px;" id="length_of_presence">
				<div style="margin-left:25px;margin-top:5px;margin-right:10px;">
					<label >During the entire lending period?:</label>
					<%= render :partial => 'layouts/yes_no', :locals => {:object => "lenders",:edit=> true,:field=>"entire_period",:radio_id => "present_entire", :radio_num => "present_entire", :which_class=>"radio", :onchange_call => ""} %>
					<span class="error">&nbsp;</span>
				</div>
				<div style="margin-left:25px;margin-top:5px;margin-right:10px;">
					<label >During lending period partially?:</label>
					<%= render :partial => 'layouts/yes_no', :locals => {:object => "lenders",:edit=> true,:field=>"partial_period",:radio_id => "present_partial", :radio_num => "present_partial", :which_class=>"radio", :onchange_call => ""} %>
					<span class="error">&nbsp;</span>
				</div>
			</div></td>
		</tr>
		<tr>
			<td style="vertical-align:top;">
			<div style="margin-left:25px;margin-top:5px;">
				<label >Would you like to provide item proper-use training?</label>
				<%= render :partial => 'layouts/yes_no', :locals => {:object => "lenders",:edit=> true,:field=>"provide_proper_use_training",:radio_id => "proper_use", :radio_num => "proper_use", :which_class=>"radio", :onchange_call => ""} %>
				<span class="error">&nbsp;</span>
			</div></td>
			<td style="vertical-align:top;">
			<div style="margin-left:15px;margin-top:5px;">
				<label for="lenders_specific_conditions" >I have specific conditions of lending:</label>
				<%= nf.text_area( :specific_conditions, {:maxlength=>"255", :placeholder=>"Please enter your conditions...", :size=>"10X20"}) %>
				<span class="error">&nbsp;</span>
			</div></td>
		</tr>

	</table>

	<div class="bottom">
		<a href="#item_section8" class="registration_header" style="display:none;" onclick="showReview();">Review Lender Item Registration {BETA}</a>
		<a href="#menu_item_7" onclick="showDuration();">Return to '7. Terms of Lending: Duration'</a>
		<a href="#menu_item_9" onclick="showLegal();">Continue to '9. Legal/Other'</a>

	</div>
</div>
<div   class="div_white" >
	&nbsp;
</div>
<div   class="div_p" id="menu_item_9">
	9. Legal/Other
</div>

<div id="form_legal" class="contact_information" style="display:none;">

	<div style="margin-left:25px;margin-top:5px;float:left;">
		<p class="offering">
			Echo Market is offered as a facilitating service to introduce lenders to borrowers and vice versa.
		</p>

		<p class="offering">
			Once a lender or borrower has been introduced, Echo Market will play no mediating role in that event.
		</p>

		<p class="offering">
			In the aftermath of that event, Echo Market will offer a 'Satisfaction Survey' to both the lender and the borrower. If satisfaction is found poor, Echo Market will then seek more information to determine the continuance of either the lender or borrower participation.
		</p>
	</div>
	<div   class="div_white" >
		&nbsp;
	</div>
	<div style="margin-left:25px;margin-top:5px;margin-bottom:5px;float:left;">
		<ul >
			<li style="margin:5px;">
				<label for="lenders_goodwill" style="color:#0B0B3B">&nbsp;I am acting and participating in a spirit of goodwill.&nbsp;
					<%= nf.check_box( :goodwill) %><span class="required_fields" >&nbsp;&nbsp;*</span></label>
				<span class="error" id="goodwill_error"  >&nbsp;</span>
			</li>
			<li style="margin:5px;">
				<label for="lenders_age_18_or_more" style="color:#0B0B3B">&nbsp;I have achieved the age of 18 years or more.&nbsp;
					<%= nf.check_box( :age_18_or_more) %><span class="required_fields">&nbsp;&nbsp;*</span></label>
				<span class="error" id="18_or_more_error">&nbsp;</span>
			</li>
		</ul>

	</div>

	<div class="bottom">
		<a href="#item_section9" class="registration_header" style="display:none;" onclick="showReview();">Review Lender Item Registration {BETA}</a>
		<a href="#menu_item_8" onclick="showConditions();">Return to '8. Terms of Lending: Conditions'</a>
	</div>
</div>
<div id="item_readonly" style="display:none;">
	<%= render :partial => 'lender/lender_offering_readonly' %>
</div>
<% end %>

