<%= javascript_include_tag 'echo_market.js' , :type => "text/javascript" %>

<%= form_tag '/lender/l_list',  :html=>  {:class=>"l_list",  :id=>"l_list"}  %>


  <div class="top" >
    <p><span class="logo_white" >The Echo Market</span></p>
    <p><%= session[:community_name].to_s unless session[:community_name].blank? %> Lender Items</p>
  </div>

  <div class="column">
    <h2 class="h2_listing" >What is sought to borrow...</h2>

    <% if @lender.blank? %>
      <p>Seems that no one has offered anything lend ...</p>
      <% if session[:user_type] == 'lender' || session[:user_type] == 'both' %>
       
       <% unless session[:community_id].blank? %>
       		<%= link_to "Would you like to seek something to borrow?", community_lender_offering_url(:id => session[:user_id], :type => session[:user_type]), {:class=> "search1"}   %>
	   <% else %>
			<%= link_to "Would you like to seek something to borrow?", lender_offering_url(:id => session[:user_id], :type => session[:user_type]), {:class=> "search1"}   %>
		<% end %>
     
     
      <% else %>
        <%= link_to "Please login or register as a 'lender' to offer an item.", user_login_path(:id => '', :type => 'lender'), {:class=> "search1"}   %>
      <% end %>
    <% else %>
            
    <% for bb in @lender %>
        <% if bb.is_community.to_i < 3 %>
         <%  icaption = (bb.item_image_caption.blank? ? 'None provided' : bb.item_image_caption)  %>
        <img src='<%= get_image_path(bb.image_file_name) %>' alt="<%= icaption %>" height="42"  width="42" style="margin:5px;"/>
            <% unless icaption.blank? %>
              <label class="item_listing" ><%= icaption %></label>
            <% end %>
        <% else %>
        <span class="radius">This is a Rapid Lender Record, so the information is limited.</span>
        
        <% end %>    
         <label class="item_listing" ><%= bb.category_type %></label><br />    
        <label class="item_listing" >Item Description: &nbsp;<%= bb.item_description %></label>
        <label class="item_listing">Model: &nbsp;<%= bb.item_model %></label>
        <label class="item_listing">Condition:&nbsp;<%= bb.condition %></label>
		  
        <%= link_to "Details..." , lender_item_detail_url(:id=> bb.b_id ), {:style=>"color:#ff4500;"} %>
	
        <hr style="color:indigo;" />

      <% end %>

    <% end %>
  </div>

  <div class="bottom">
    
    
    <% if session[:user_id] %>
        <% unless session[:community_id].blank? %>
      		<a href="/lender/community_lender_offering" >Offer an Item to Lend</a>
      		<a href="/borrower/community_borrower_seeking" >Seek an Item to Borrow</a>
      	<% else %>
      		<a href="/lender/lender_offering" >Offer an Item to Lend</a>
      		<a href="/borrower/borrower_seeking" >Seek an Item to Borrow</a>
      	<% end %>
    <% end %>
    
    
    
    <a href="/user/register" >Become a Echo Market Lender or Borrower Member</a>
  </div>



