<style type="text/css">

  p{
    padding:1px 1px 1px 15px;
    margin-left:5px;
    color:black;
    font-size:14px;
    font-weight:normal;
    width:94%;
  }
  label {
    margin-left:15px;
    font-size:14px;
    font-weight:normal;
  }
</style>


<%= javascript_include_tag 'lender_offering.js', :type => "text/javascript" %>

<%= form_tag '/lender/lender_item_detail', :html=> {:class=>"lender_item_detail", :id=>"lenders_item_form"} do |nf| %>

<div class="top" >
	<p>
		<span class="logo_white" >The Echo Market</span>
	</p>
	<p>
        <% unless sesion[:community_name].blank?  %>
        <%= (session[:user_alias].blank? ? "" : session[:user_alias] + " of " +  session[:community_name]  %>
        <% else %>
		<%= session[:user_alias]   %>
		<% end %>
		: LENDER ITEM DETAIL
	</p>
	<%= link_to 'Back to Items Listing', home_items_listing_url, {:style=>"color:white; text-align:right;float:right;margin-right:15px;"}  %>
</div>

  <div class="div_p_detail" >Lender Description</div>
  <div class="div_p_detail_sub">
    <p>
    
  		<% for bb in @lender %>  
      
   	<%=  bb.borrower_or_lender_text %>
		<% if bb.borrower_or_lender_text == 'Other'%>
		&nbsp;<%= bb.other_describe_yourself %>
		<% end %>
      <% unless bb.organization_name.blank? %>
        <br />
        <% if bb.displayLenderOrganizationName.abs == 1 %>
          Lender Organization Name: &nbsp;<%= bb.organization_name %><br />
        <% end %>
      <% end %>
      <% if bb.displayLenderName.abs == 1%>
        Lender Name:&nbsp;<%= bb.first_name %>&nbsp;<%= (bb.mi.blank? ? "": bb.mi) %>&nbsp;<%= bb.last_name %><br />
      <% end %></p>
      <% if (bb.displayLenderAddress == 1) %>
 		 <%	lender_primary_address = Lender.find(bb.l_id).addresses.where("address_type = 'primary'")  %>
		<p>
		Lender Address:
		<br />
		<%= lender_primary_address.address_line_1 %>
		<%= (lender_primary_address.address_line_2.blank? ? " ": lender_primary_address.address_line_2) %>
		<br />
		<%= lender_primary_address.city + ","%>
		<%= (lender_primary_address.province.blank? ? "": lender_primary_address.province) + " " %>

		<% unless lender_primary_address.us_state_id.blank? || lender_primary_address.us_state_id == '99'  %>
		<%= lender_primary_address.state_name %>
		<% end %>
		<br />
		
		<% unless lender_primary_address.region.blank?  %>
		<%= lender_primary_address.region %>
		<% end %>
		<br />
		
		
		<% unless lender_primary_address.country_name.blank? %>
		<%= lender_primary_address.country_name + " " %>
		<% end %>
		
		<%= lender_primary_address.postal_code %>
	</p>
	<% end %>
	
      
  </div>


 % if ((bb.useWhichContactAddress == 2)  || (bb.useWhichContactAddress == 1)) %>

<div class="div_p_detail" >
	Lender Contact - Alternative Address:
</div>
<div class="div_p_detail_sub">
   <%  lender_alternative_address = Lender.find(bb.b_id).addresses.where("address_type = 'alternative'") %>
    
	<p>
		<%= lender_alternative_address.address_line_1 %>
		<%= (lender_alternative_address.address_line_2.blank? ? " ": lender_alternative_address.address_line_2) %>
		<br />
		<%= lender_alternative_address.city + ","%>
		<%= (lender_alternative_address.province.blank? ? "": lender_alternative_address.province) + " " %>

		<% unless lender_alternative_address.us_state_id.blank? || lender_alternative_address.us_state_id == '99'  %>
		<%= lender_alternative_address.state_name %>
		<% end %>
		<br />
		
		<% unless lender_alternative_address.region.blank?  %>
		<%= lender_alternative_address.region %>
		<% end %>
		<br />
		
		
		<% unless lender_alternative_address.country_name.blank? %>
		<%= lender_alternative_address.country_name + " " %>
		<% end %>
		
		<%= lender_alternative_address.postal_code %>
	</p>
	
</div>
<% end %>

  

  <% if bb.public_display_home_phone.abs == 1 || bb.public_display_cell_phone.abs == 1  || bb.public_display_alternative_phone.abs == 1%>

    <div class="div_p_detail"  >Lender Contact - Phone:</div>
    <div class="div_p_detail_sub">
      <p>
        <% if bb.public_display_home_phone.abs == 1 %>
          <%= "Home: " + bb.home_phone %>&nbsp;
        <% end %>
        <% if bb.public_display_cell_phone.abs == 1 %>
          <%= "Cell: " + bb.cell_phone %>&nbsp;
        <% end %>

        <% if bb.public_display_alternative_phone.abs == 1 %>
          <%= "Alternative: " + bb.alternative_phone %>
        <% end %></p>

    </div>

  <% end %>


  <% unless bb.borrower_contact_by_email == 0  %>
  <%  @uemail = User.find(:first, :readonly => true, :conditions => ["user_id = ?", bb.user_id]) %>
    <div class="div_p_detail" >Lender Contact - Email:</div>

    <div class="div_p_detail_sub">
      <p>
        <% if bb.borrower_contact_by_email == 3 %>
        <% if  session[:community_id] %>
     		<%= mail_to session[:email],"#{session[:email]}", {:style=>"color:indigo"}%>
      	<% else  %>
          
          &nbsp;&nbsp;
          <%= mail_to @uemail.email,"#{@uemail.email}", {:style=>"color:indigo"}%>
      	<% end  %>
        <% end %>
        
        <% if bb.borrower_contact_by_email == 2 %>
          <%= mail_to bb.email_alternative,"#{bb.email_alternative}", {:style=>"color:indigo"} %>&nbsp;&nbsp;
        <% end %>
        <% if bb.borrower_contact_by_email.to_i.abs == 1 %>
          <%= mail_to bb.email_alternative, "#{bb.email_alternative}", {:style=>"color:indigo"} %>&nbsp;&nbsp;
         
 <% if  session[:community_id] %>
     		<%= mail_to session[:email],"#{session[:email]}", {:style=>"color:indigo"}%>
      	<% else  %>
         
          <%= mail_to @uemail.email,"#{@uemail.email}", {:style=>"color:indigo"}%>
      	<% end  %>

        <% end %>
      </p>

    </div>

  <% end %>

  <% unless bb.borrower_contact_by_Facebook.blank? &&  bb.borrower_contact_by_LinkedIn.blank? &&  bb.borrower_contact_by_Other_Social_Media.blank?
    bb.borrower_contact_by_Twitter.blank? &&  bb.borrower_contact_by_Instagram.blank? &&  bb.borrower_contact_by_Other_Social_Media_Access.blank? %>
    <div class="div_p_detail" >Lender Contact - Social Media:</div>
    <div class="div_p_detail_sub">

      <p>
        <% unless bb.borrower_contact_by_Facebook.blank?  %>
          Facebook Access: &nbsp;<%= bb.borrower_contact_by_Facebook %>&nbsp;&nbsp;
        <% end %>

        <% unless bb.borrower_contact_by_LinkedIn.blank?  %>
          LinkedIn Access: &nbsp;<%= bb.borrower_contact_by_LinkedIn %>&nbsp;&nbsp;
        <% end %>

        <% unless bb.borrower_contact_by_Twitter.blank?  %>
          Twitter Access:&nbsp;<%= bb.borrower_contact_by_Twitter %>&nbsp;&nbsp;

        <% end %>
        <% unless bb.borrower_contact_by_Instagram.blank?  %>
          Instagram Access:&nbsp;<%= bb.borrower_contact_by_Instagram %>&nbsp;&nbsp;
        <% end %>

        <% unless bb.borrower_contact_by_Other_Social_Media.blank?  %>
          <br />
          Other Social Media Account Access:&nbsp;<%= bb.borrower_contact_by_Other_Social_Media %>
          Other Social Media Account Access:&nbsp;<%= bb.borrower_contact_by_Other_Social_Media_Access %>
        <% end %>
      </p>
    </div>

  <% end %>

  <div class="div_p_detail" >Item Transfer: Lender to Borrower</div>
  <div class="div_p_detail_sub">
    <% @user_response = bb.b_comes_to_which_address.to_s %>
    Borrower item pick up ...:
    <% if  @user_response == "3" %>
      <p>.. At lender address</p>
    <% elsif  @user_response == "2" %>
      <p>... At lender address</p>
    <% elsif  @user_response == "1" %>
      <p>... At either lender contact or alternative address</p>
    <% elsif  @user_response == "0" %>
      <p>No pick up at lender address</p>
    <% else %>
      <p>...This is a Rapid Item Registered Participant...No addresses required.</p>
    <% end %>


    <%  unless bb.meetBorrowerAtAgreedL2B.to_i == 0 %>
      Wants to meet with borrower at an agreed location?: &nbsp;
      <%= (bb.meetBorrowerAtAgreedL2B.to_i == 1 ? "Yes": "Lender indifferent") %>
      <br />
    <% end %>

    <%  unless bb.willDeliverToBorrowerPreferredL2B == 0 %>
      Will deliver to borrower preferred location?: &nbsp;
      <%= (bb.willDeliverToBorrowerPreferredL2B.to_i == 1 ? "Yes": "Lender indifferent")  %>
      <br />
    <% end %>


    <% unless bb.thirdPartyPresenceL2B == 0 %>
      <div class="div_p_detail_sub" style="background-color:#E2D7CE;">
        Lender would like a third-party present during transfer to borrower?: &nbsp;
        <%= (bb.thirdPartyPresenceL2B == 1 ? "Yes": "Lender indifferent")  %>
        <br />


        <div class="column30">
          Lender's choice?: &nbsp;
          <%= (bb.lenderThirdPartyChoiceL2B == 0 ? "Not interested" : (bb.lenderThirdPartyChoiceL2B == 1 ? "Yes": "Indifferent") ) %>
        </div>
        <div class="column30">
          Mutually agreed?: &nbsp;
          <%= (bb.agreedThirdPartyChoiceL2B == 0 ? "Not interested" : (bb.agreedThirdPartyChoiceL2B == 1 ? "Yes": "Indifferent") ) %>
        </div>
      </div>
    <% end %>

  </div>

  <div   class="div_p_detail" >Item Transfer: Borrower to Lender</div>
  <div class="div_p_detail_sub">
    <% @user_response = bb.b_returns_to_which_address.to_s %>
    Borrower item return ...:
    <% if  @user_response == "3" %>
      <p>Can return to lender contact address</p>
    <% elsif  @user_response == "2" %>
      <p>Can return to lender alternative address</p>
    <% elsif  @user_response == "1" %>
      <p>Can return to either lender contact or alternative address</p>
    <% elsif  @user_response == "0" %>
      <p>No return to lender address</p>
    <% else %>
      <p>This is a Rapid Item Registered Participant. No addresses required.</p>
    <% end %>

    <% unless  bb.meetBorrowerAtAgreedB2L == 0  %>
      Wants to meet with borrower at an agreed location?:
      <%= (bb.meetBorrowerAtAgreedB2L.to_i == 1 ? "Yes": "Indifferent") %>
      <br />
    <% end  %>


    <% unless bb.willPickUpPreferredLocationB2L == 0 %>
      Wants to pick up at borrower's location?: &nbsp;
      <%= (bb.willPickUpPreferredLocationB2L.to_i == 1 ? "Yes": "Indifferent")  %>
      <br />
    <% end %>


    <% unless bb.thirdPartyPresenceB2L == 0 %>
      <div class="div_p_detail_sub" style="background-color:#E2D7CE;">
        Lender would like a third-party present during transfer from borrower?: &nbsp;
        <%= (bb.thirdPartyPresenceB2L.to_i == 1 ? "Yes": "Indifferent")  %>
        <br />

        <div class="column30">
          Lender's choice?: &nbsp;
          <%= (bb.lenderThirdPartyChoiceB2L == 0 ? "Not interested" : (bb.lenderThirdPartyChoiceB2L == 1 ? "Yes": "Indifferent") ) %>
        </div>
        <div class="column30">
          Mutually agreed?: &nbsp;
          <%= (bb.agreedThirdPartyChoiceL2B == 0 ? "Not interested" : (bb.agreedThirdPartyChoiceB2L == 1 ? "Yes": "Indifferent") ) %>
        </div>
      </div>
    <% end %>
  </div>

  <div   class="div_p_detail" >Item Offered to Lend</div>
  <div class="div_p_detail_sub">

    Category:
   
   
    <% if bb.category_type == "Other" %>
      &nbsp;Other category:
      <%= bb.other_item_category %>
    <% end %>


    <br />
    Description:&nbsp;
    <%= bb.item_description %>
    <br />

    Condition:&nbsp;
    <%= bb.condition %>
    <br />

    <% unless bb.item_model.blank?  %>
      Model: &nbsp;
      <%= bb.item_model %>
      <br />
    <% end %>

    Number of Items: &nbsp;
    <%= bb.item_count %><br />


      <% @icaption = (bb.item_image_caption.blank? ? "No caption provided"  :  bb.item_image_caption)  %>

      <div style="margin-left:25px;margin-top:5px;float:left;">

        <table style="width:100%">
          <tr>
            <th>Image caption</th>
            <th>Image of Item</th>
          </tr>
          <tr>
            <td style="width:50%;text-align:center;"><%= @icaption %></td>
            <td style="width:50%;text-align:center;"> <img src="<%= get_image_path(bb.image_file_name) %>"  height="42"  width="42" alt="<%= @icaption  %>" style="margin:5px;" /></td>
          </tr>
        </table>
      </div>




  </div>

  <div   class="div_p_detail" >Terms of Lending: Monetary</div>
  <div class="div_p_detail_sub">

    <% unless  bb.for_free == 0 %>
      Lender offering item for free: &nbsp;
      <%= (bb.for_free == 1 ? "Yes": "Lender indifferent") %>
      <br />
    <% end %>
    <% unless  bb.small_fee == 0 %>
      Lender offering item for a small borrowing fee:
      <%= (bb.small_fee == 1 ? "Yes": "Lender indifferent") %>&nbsp;&nbsp;
      <% unless  bb.small_fee_amount.blank?  %>
        Small borrowing fee amount:
        <%= number_to_currency(bb.small_fee_amount) %>
      <% end %>
      <br />
    <% end %>


    <% unless  bb.available_for_purchase == 0 %>
      Lender offering for small purchase amount: &nbsp;
      <%= (bb.available_for_purchase == 1 ? "Yes": "Lender indifferent") %>&nbsp;&nbsp;
      <% unless  bb.available_for_purchase_amount.blank? %>
        Small purchase amount:
        <%= number_to_currency(bb.available_for_purchase_amount) %><br />
      <% end %>
      <br />
    <% end %>

    <% unless  bb.available_for_donation == 0 %>
      Lender offering for for donation: &nbsp;
      <%= (bb.available_for_donation.to_i == 1 ? "Yes": "Indifferent") %>
      <br />
    <% end %>

    <% unless  bb.security_deposit == 0 %>
      Lender is requesting a security deposit: &nbsp;
      <%= (bb.security_deposit == 1 ? "Yes": "Lender indifferent") %>&nbsp;&nbsp;
      <% unless  bb.security_deposit_amount.blank? %>
        Security deposit amount:
        <%= number_to_currency(bb.security_deposit_amount) %><br />
      <% end %>
      <br />
    <% end %>
    
    
    <% unless  bb.trade == 0 %>
      Lender interested in trading:&nbsp;
      <%= (bb.trade.to_i == 1 ? "Yes": "Indifferent") %>&nbsp;&nbsp;
      <% unless bb.trade_item.blank? %>
        Lender would like to trade:&nbsp;
        <%= bb.trade_item %>
      <% end %>
    <% end %>
    <br />
  </div>

  <% unless bb.agreed_number_of_days == 0 && bb.agreed_number_of_hours == 0  && bb.present_during_borrowing_period == 0 %>
    <div   class="div_p_detail" >Terms of Lending: Duration</div>
    <div class="div_p_detail_sub">

      <% unless  bb.agreed_number_of_days == 0 %>
        Lender seeking agreed number of days:
        <%= (bb.agreed_number_of_days == 1 ? "Yes": "Indifferent")  %>
        <br />
      <% end %>

      <% unless  bb.agreed_number_of_hours == 0 %>
        Lender seeking agreed number of hours:
        <%= (bb.agreed_number_of_hours == 1 ? "Yes": "Indifferent") %>
        <br />
      <% end %>

      <% unless  bb.present_during_borrowing_period == 0 %>
        Lender offering indefinite borrowing period?
        <%= (bb.present_during_borrowing_period == 1 ? "Yes": "Indifferent") %>
        <br />
      <% end %>

    </div>
  <% end %>


  <div   class="div_p_detail" >Terms of Lending: Conditions</div>
  <div class="div_p_detail_sub">
    <% if bb.present_during_borrowing_period.abs == 1 %>
      Lender requests presence during the entire lending period:
      <%= (bb.entire_period == 0 ? "No" : (bb.entire_period == 1 ? "Yes": "Indifferent"))  %><br />
      Lender requests presence during lending period partially:
      <%= (bb.partial_period == 0 ? "No" : (bb.partial_period == 1 ? "Yes": "Indifferent")) %>&nbsp;&nbsp;
      <br />
    <% end %>

    <% unless bb.provide_proper_use_training == 0 %>
      Item proper-use training requested:
      <%= (bb.provide_proper_use_training == 1 ? "Yes": "Lender indifferent") %>&nbsp;&nbsp;
      <br />
    <% end %>
    <% unless bb.specific_conditions.blank? %>
      Specific lending conditions:&nbsp;
      <%= bb.specific_conditions %>
      <br />
    <% end %>
  </div>
<% end %>
<% end %>