<%= javascript_include_tag 'add_item.js' %>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
 
<div id="rapid_lender" >
	
<% @lender = Lenders.new %>

<%= form_for @lender, :url => {:controller => "search", :action => "create"}, :html => {:class=>"items_listing"} do |nf| %>
        <p>Seems that you want to offer something to lend.  Here you may offer a RAPID Lender Item</p>
         
       	<label>Your lender email, so folks can contact you
         <%= nf.text_field :email_alternative,  { :maxlength=>50, :size=>20}  %>
	    <span class="error" id="email_error">email</span>

   	    <label>Please select an Item Category
      	 <%= nf.collection_select :item_category_id, Categories.order('category_type ASC'), :category_id, :category_type, {:include_blank => true} %></label> 	
		<span class="error" id="cat_error">category_id</span>
		
		<label>Item Description
         <%= nf.text_field :item_description,  { :maxlength=>50, :size=>20}  %></label> 	
	    <span class="error" id="id">id</span>

		<a href="#"  onclick="addItem();" class="">Add Item</a> 
				
<% end %>

</div>
