  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


<script>


  $(document).ready(function() {

    $.fn.center = function () {
    	
      var element = $(this);
      var e_width = element.width();
      var win_width = $(window).width();
      var left_margin_calc =  (win_width - e_width) / 2;
      element.css('margin-left', (left_margin_calc + "px"));

    };


    $("div.form_wrapper").center();
  

$( "input#searches_start_date").datepicker({
  dateFormat: "yy-mm-dd"
});

$( "input#searches_end_date").datepicker({
  dateFormat: "yy-mm-dd"
});

 	$( "input#searches_end_date").change(function() {
		
	   $("#start_date_error").css("visibility", "hidden");
	   $("#end_date_error").css("visibility", "hidden");

        var start_date_value = $("input#searches_start_date").val();
        var end_date_value   = $("input#searches_end_date").val();

		if ((start_date_value == '') && (end_date_value != '')){
			$("#start_date_error").text("Now please provide a Start Date.");
			$("#start_date_error").css("visibility", "visible");
		} else if (start_date_value > end_date_value) {
			$("#start_date_error").text("Please provide a Start Date earlier than your End Date.");
			$("#start_date_error").css("visibility", "visible");
		}
		
	});

		$( "input#searches_start_date").change(function() {
		
		$("#end_date_error").css("visibility", "hidden");
		$("#start_date_error").css("visibility", "hidden");
        var start_date_value = $("input#searches_start_date").val();
        var end_date_value   = $("input#searches_end_date").val();

		if ((end_date_value == '') && (start_date_value != '')) {
			$("#end_date_error").text("Now please provide an End Date.");
			$("#end_date_error").css("visibility", "visible");
		} else if (start_date_value > end_date_value) {
			$("#end_date_error").text("Please provide an End Date later than your Start Date.");
			$("#end_date_error").css("visibility", "visible");
		}
		
		
	});


  });

   
</script>

  <script>
  
  
  	 function submitSearch(){
  
  	 var choose_l_or_b = $("input[name='searches[lender_or_borrower]']:checked");
 	 
      $("span#echo_market_search_error").css("visibility", "hidden");
      if ( !(choose_l_or_b.val()) )   {
        $("span#echo_market_search_error").text("From the above option 'Items to borrower or items to lend?', you need to choose to either search for what is being offered or what is needed.");
        $("span#echo_market_search_error").css("color", "red");
        $("span#echo_market_search_error").css("visibility", "visible");
  
      } else if (($("input#searches_keyword").val() == "")   && ($("input#searches_postal_code").val() == "")  &&
        ($("input#searches_start_date").val() == "")  && ($("input#searches_end_date").val() == "")  && ($("select#searches_category_id").val() == "") )
      {
        $("span#echo_market_search_error").text("You have to provide at least one search criteria.");
        $("span#echo_market_search_error").css("color", "red");
        $("span#echo_market_search_error").css("visibility", "visible");
  
      } else if ( 
      	
      	
      	  (($("input#searches_start_date").val() != "")  && ($("input#searches_end_date").val() == ""))  || 
      	  (($("input#searches_start_date").val() == "")  && ($("input#searches_end_date").val() != "")) 
      	  
      	  
      	  )
      {
        $("span#echo_market_search_error").text("If you want to do a Date Create search, you have to provide both a Start Date and an End Date.");
        $("span#echo_market_search_error").css("color", "red");
        $("span#echo_market_search_error").css("visibility", "visible");
  
      } else {
       
        $("form.item_search").submit();
      }
      
      
    
    }

 </script>





























<%= form_for @search, :url => {:controller => "search", :action => "create"}, :html => {:class => "item_search"} do |nf| %>
  <% @s_get_items = @search.get_items %>
 
  <div class="top" >
    <p><span class="logo_white" >The Echo Market</span></p>
    <p>SEARCH</p>
   </div>
   
  
 <div  style="float:left;margin-top:5px;margin-left:15px;">

    <label>Items to borrower or items to lend?:</label>
<% if session[:community_id] %>
	<% @l_c =  Lenders.where("user_id = ?", session[:user_id]) %>
	<% @b_c =  Borrowers.where("user_id = ?", session[:user_id]) %>
	<%= nf.hidden_field :is_community, :value=> 1 %>
	<%= nf.hidden_field :user_id, :value=> session[:user_id] %>

<% else %>
	<% @l_c =  Lenders.where("is_community = 0 and is_active = 1") %>
	<% @b_c =  Borrowers.where("is_community = 0 and is_active = 1") %>
	<%= nf.hidden_field :is_community, :value=> 0 %>
	<%= nf.hidden_field :user_id, :value=> '' %>

<% end %>

 
  <ul  >
    <% if @l_c.count > 0 %>
      <li><label class="radio" for="search_lender_or_borrower_1" >Search what lenders have offered...:&nbsp;
          <%= nf.radio_button :lender_or_borrower, "1" %>
        </label>
      </li>
    <% end %>
    <% if @b_c.count > 0 %>
      <li><label class="radio" for="search_lender_or_borrower_2" >Search what borrowers need..:&nbsp;
          <%= nf.radio_button :lender_or_borrower, "2" %>
        </label>
      </li>
    <% end %>

  </ul>
</div>
 


  <div  style="float:left;margin-top:5px;margin-left:15px;" >
    <label>Enter your search value:&nbsp;</label>
     
    <%= nf.text_field :keyword , :html=> {:maxlength=> 24, :size=> 24} %>
    <span class="max_length" style="float:left;">24 characters permitted: &nbsp;&nbsp;</span>
    <span class="offering" style="float:left;">Please be specific, just use one singular noun or a verb if they describe an item.</span>
  </div>

 <div  style="float:left;margin-top:5px;margin-left:15px;">
    <label>Item category:</label>
    <%= nf.collection_select :category_id, Categories.order('category_type ASC'), :category_id, :category_type, :include_blank => true %> 
</div>
  
  
  
  <div  style="float:left;margin-top:5px;margin-left:15px;">
    <label>Location. Enter a postal code here.</label>
    <%= nf.text_field :postal_code , :html => { :maxlength=> 12, :size=> 14} %>
    <span class="offering" style="float:left;">You can search for vicinity postal code beginning with a certain pattern.  For example to find all items in the Boston, MA area, just search for '021' without the single quotes.</span>

  </div>
  
   <div  style="float:left;margin-top:5px;margin-left:15px;width:96%;">
    <p style="margin-left:-2px; padding:2px;">Date Created Range:</p>    
     <% @s_d = (@search.start_date.blank? ? "" : @search.start_date.strftime("%Y-%m-%d")) %>
     <% @e_d = (@search.end_date.blank? ? ""  : @search.end_date.strftime("%Y-%m-%d")) %>
  <label>Start Date:</label>    
    <%= nf.text_field :start_date, :value => @s_d  %>
 <span class="error" id="start_date_error" style="clear:both;"></span>
 - through- <label>End Date:</label>    
<%= nf.text_field :end_date, :value => @e_d %>
 <span class="error" id="end_date_error" style="clear:both;"></span>
 
    <span class="offering" style="float:left;">If you choose to search by a Date Created Range, you must provide both a Start Date and an End Date.  To find a single Create Date, select the Start Date and End Date as the same date.</span>
  </div>

  <div  style="float:left;margin:5px;width:76%;margin-left:15px;" >
    <span class="error" id="echo_market_search_error">Error message</span>
 <a href="#" onclick="submitSearch();" class="update_member" >Fingers Crossed! Please submit search.</a>
  </div>


  <% unless session[:community_id].blank? %>
  	<% @lc = Lenders.count(:conditions =>   ["user_id = ?", session[:user_id]]) %>
  	<% @bc = Borrowers.count(:conditions => ["user_id = ?", session[:user_id]]) %>
  <% else %>
 	<% @lc = Lenders.count(:conditions =>   ["is_active = 1 AND is_saved = 1 and is_community = 0"]) %>
  	<% @bc = Borrowers.count(:conditions => ["is_active = 1 AND is_saved = 1 and is_community = 0"]) %>
  <% end %>
  <% if @s_get_items.blank? && @search.blank? %>

      <div style="margin-left:15px;margin-top:5px;float:left;">
        <% if @lc > 0 && @bc = 0 %>
          <p>There are <%= @lc %> items available for lending, and at the moment no one is seeking to borrow.
          </p>
        <% elsif @lc = 0 && @bc > 0 %>
          <p>There are <%= @bc %> borrowers seeking items, and at the moment no one is offering items.</p>
        <% else %>
          <p>There are <%= @lc %> items available for lending, and <%= @bc %>  borrows seeking items. </p>

        <% end %>
      </div>

  <% elsif @s_get_items.blank? && !@search.blank? %>

      <div style="margin-left:15px;margin-top:5px;float:left;">
        <% if @lc > 0 && @bc = 0 %>
          <p>Your search did not produced any results. There are <%= @lc %> items available for lending, and at the moment no one is seeking to borrow.
          </p>
        <% elsif @lc = 0 && @bc > 0 %>
          <p>Your search did not produced any results. There are <%= @bc %> borrowers seeking items, and at the moment no one is offering items.</p>
        <% else %>
          <p>Your search did not produced any results. There are <%= @lc %> items available for lending, and <%= @bc %>  borrows seeking items. </p>

        <% end %>
      </div>


  <% else %>
    <div style="margin-left:15px;margin-top:10px;">
      <p style="margin:-2px;color:red;float:left;">Your search for above criteria produced the following results.</p>
    </div>


    <table class="personal" >
      <tr>
        <th>Category</th>
        <th>Description</th>
        <th>Model</th>
        <th>Condition</th>
        <th>Postal Code</th>
        <th>Detail</th>
      </tr>
    
      <% @s_get_items.each do |isq| %>

        <tr>
          <td>
            <% @cats = Categories.find(:first, :select=> "category_type", :readonly=>true, :conditions => ["category_id = ?", isq.item_category_id]) %>
            <%= (isq.item_category_id.blank? ? "No Item Category provided" : @cats.category_type) %>
          </td>
          <td>
            <%= (isq.item_description.blank? ? "NA": isq.item_description) %></td>
          <td>
            <%= (isq.item_model.blank? ? "NA": isq.item_model) %></td>
          <td>
            <% @cond = Itemconditions.find(:first, :select=> "conditions", :readonly=>true, :conditions => ["item_conditions_id = ?", isq.item_condition_id]) %>
            <%= (isq.item_category_id.blank? ? "No Item Condition provided" : @cond.conditions) %>
          </td>
          <td>
            <%= (isq.postal_code.blank? ? "NA": isq.postal_code) %></td>
          <td>
            
            <% if @search.lender_or_borrower == 2 %>
            	<%= link_to "More..."  , borrower_item_detail_url(:id => isq.borrower_item_id), {:style=>"color:#ff4500;"} %>
            <% else %> 		
       		<%= link_to "More..."  , lender_item_detail_url(:id => isq.lender_item_id), {:style=>"color:#ff4500;"} %>
           		
          <% end %>
            
            
          </td>

        </tr>
      <% end %>
    </table>
  <% end %>

  <% end %>