<%= javascript_include_tag 'echo_market.js' %>

<%= form_for :borrower, :url=>{:controller=>"borrower", :action => "b_list"},  :html=>  {:class=>"b_list",  :id=>"b_list"} do |nf| %>
  <div class="top" >
    <p><span class="logo_white" >The Echo Market</span></p>
    <p><%= session[:community_name].to_s unless session[:community_name].blank? %> Borrower Items</p>
  </div>

  <div class="column">
    <h2 id="h2_listing" >What is sought to borrow...</h2>
      if session[:community_name].blank? 
        @borrower = Borrowers.find(:all, :readonly, :order =>"item_category_id ASC, date_created ASC", :conditions => ["is_active=1 and (is_community = 0 OR is_community = 3)"])  
    else    
       @borrower = Borrowers.find(:all, :readonly, :order =>"item_category_id ASC, date_created ASC", :conditions =>
               ["is_active=1 AND is_community = 1 AND user_id = ?", session[:user_id]]) 
    end 
    @borrower = Borrowers.new if @borrower.blank?
    <% if @borrower.blank? %>
      <p>Seems that no one is seeking to borrow anything...</p>
      <% if session[:user_type] == 'borrower' || session[:user_type] == 'both' %>
       
       <% unless session[:community_id].blank? %>
       		<%= link_to "Would you like to seek something to borrow?", community_borrower_seeking_url(:id => session[:user_id], :type => session[:user_type]), {:class=> "search1"}   %>
	   <% else %>
			<%= link_to "Would you like to seek something to borrow?", borrower_seeking_url(:id => session[:user_id], :type => session[:user_type]), {:class=> "search1"}   %>
		<% end %>
        
     
      <% else %>
        <%= link_to "Please login or register as a 'borrower' to seek an item.", user_login_path(:id => '', :type => 'borrower'), {:class=> "search1"}   %>
      <% end %>
    <% else %>
      <% hold_cat  = "" %>

      <% @borrower.each do |ldr| %>
        <% @cats = Categories.find(:first, :readonly, :conditions => ['category_id = ?', ldr.item_category_id])  %>
        <% if @cats %>
          <% if ((@cats.category_id == ldr.item_category_id) && (hold_cat != @cats.category_id))  %>
            <label><%= @cats.category_type %></label><br />
            <% hold_cat  = @cats.category_id %>
          <% end %>
        <% end %>
        <% @imgs = Itemimages.find(:all,:readonly => true, :conditions => ['borrower_item_id = ?', ldr.borrower_item_id])  %>
        <% if @imgs %>
          <% @imgs.each do |oimg| %>
            <%  icaption = (oimg.item_image_caption.blank? ? 'None provided' : oimg.item_image_caption)  %>
            <img src='<%= get_image_path(oimg.image_file_name) %>' alt="<%= icaption %>" height="42"  width="42" style="margin:5px;"/>
            <% unless icaption.blank? %>
              <label id="item_listing"><%= icaption %></label>
            <% end %>
          <% end %>
        <% end %>
        <label id="item_listing" >Item Description: &nbsp;<%= ldr.item_description %></label>
        <label id="item_listing">Model: &nbsp;<%= ldr.item_model %></label>
        <% @icond = Itemconditions.find(:first, :readonly=> true, :conditions => ['item_conditions_id = ?', ldr.item_condition_id]) %>
        <label id="item_listing">Condition:&nbsp;<%= @icond.conditions %></label>
		<% unless session[:community_id].blank? %>
        <%= link_to "Details..." , borrower_item_detail_url(:id=> ldr.borrower_item_id ), {:style=>"color:#ff4500;"} %>
		<% else %>
 		<%= link_to "Details..." , community_borrower_item_detail_url(:id=> ldr.borrower_item_id ), {:style=>"color:#ff4500;"} %>
		<% end %>
        <hr style="color:indigo;" />

      <% end %>

    <% end %>
  </div>

  <div class="bottom">
    
    
    <% if session[:user_id] %>
        <% unless session[:community_id].blank? %>
      		<a href="/lender/community_lender_offering" >Offer an Item to Lend</a>
      		<a href="/borrower/community_borrower_seeking" >Seek an Item to Borrow</a>
      	<% else %>
      		<a href="/lender/lender_offering" >Offer an Item to Lend</a>
      		<a href="/borrower/borrower_seeking" >Seek an Item to Borrow</a>
      	<% end %>
    <% end %>
    
    
    
    <a href="/user/register" >Become a Echo Market Lender or Borrower Member</a>
  </div>



<% end %>
