<style type="text/css">
	p {
		padding: 1px 1px 1px 15px;
		margin-left: 5px;
		color: black;
		font-size: 14px;
		font-weight: normal;
		width: 94%;
	}

	label {
		margin-left: 15px;
		font-size: 14px;
		font-weight: normal;
	}

</style>

<%= javascript_include_tag 'borrower_seeking.js', :type => "text/javascript" %>

<%= form_for @borrower, :url=> {:controller=>"borrower", :action => "borrower_seeking"}, :html=>{:class=>"borrower_item_detail", :id=>"borrowers_item_form"}  do |nf| %>
<%= puts @borrower.to_yaml %>
<div class="top" >
	<p>
		<span class="logo_white" >The Echo Market</span>
	</p>
	<p>
        <% unless session[:community_name].blank?  %>
        <%= (session[:user_alias].blank? ? "" : session[:user_alias] + " of " +  session[:community_name] ) %>
        <% else %>
		<%= session[:user_alias]   %>
		<% end %>
		: BORROWER ITEM DETAIL
	</p>
	<%= link_to 'Back to Items Listing', home_items_listing_url, {:style=>"color:white; text-align:right;float:right;margin-right:15px;"}  %>
</div>

<div class="div_p_detail" >Borrower Description</div>
<div class="div_p_detail_sub">
	<p>
		
		
		
		<%=  @borrower[:borrower_or_lender_text] %>
		<% if @borrower[:borrower_or_lender_text] == 'Other'%>
		&nbsp;<%= @borrower[:other_describe_yourself] %>
		<% end %>
		<% unless @borrower[:organization_name].blank? %>
		<br />
		<% if @borrower[:displayBorrowerOrganizationName].to_i.abs == 1 %>
		Borrower Organization Name: &nbsp;<%= @borrower[:organization_name] %>
		<br />
		<% end %>
		<% end %>
		<% if @borrower[:displayBorrowerName].to_i.abs == 1%>
		Borrower Name:&nbsp;<%= @borrower[:first_name] %>&nbsp;<%= (@borrower[:mi].blank? ? "": @borrower[:mi]) %>&nbsp;<%= @borrower[:last_name] %>
		<br />
		<% end %>
	</p>
	<% if (@borrower[:displayBorrowerAddress] == 1 ) %>

   <%= fields_for :primary, Borrower.find(@borrower.id).addresses.primary_addresses do |builder|  %>
	<p>
		Borrower Address:
		<br />
		<%= builder.label :address_line_1, "AS" %>
		
	</p>
	
	<% end %>
	<% end %>
	
	

</div>

<% if ((@borrower[:useWhichContactAddress] == 2)  || (@borrower[:useWhichContactAddress] == 1)) %>

<div class="div_p_detail" >
	Borrower Contact - Alternative Address:
</div>
<div class="div_p_detail_sub">
   <%= fields_for :alternative, @borrower.alternative_addresses do |borrower_alternative_address|  %>
    
	<p>
		<%= borrower_alternative_address.address_line_1 %>
		<%= (borrower_alternative_address.address_line_2.blank? ? " ": borrower_alternative_address.address_line_2) %>
		<br />
		<%= borrower_alternative_address.city + ","%>
		<%= (borrower_alternative_address.province.blank? ? "": borrower_alternative_address.province) + " " %>

		<% unless borrower_alternative_address.us_state_id.blank? || borrower_alternative_address.us_state_id == '99'  %>
		<%= borrower_alternative_address.state_name %>
		<% end %>
		<br />
		
		<% unless borrower_alternative_address.region.blank?  %>
		<%= borrower_alternative_address.region %>
		<% end %>
		<br />
		
		
		<% unless borrower_alternative_address.country_name.blank? %>
		<%= borrower_alternative_address.country_name + " " %>
		<% end %>
		
		<%= borrower_alternative_address.postal_code %>
	</p>
	<% end %>
	
</div>
<% end %>



	
  
<% end %>
