<style type="text/css">
	p {
		padding: 1px 1px 1px 15px;
		margin-left: 5px;
		color: black;
		font-size: 14px;
		font-weight: normal;
		width: 94%;
	}

	label {
		margin-left: 15px;
		font-size: 14px;
		font-weight: normal;
	}

</style>

<%= javascript_include_tag 'borrower_seeking.js', :type => "text/javascript" %>

<%= form_tag '/borrower/borrower_item_detail',  :html=>{:class=>"borrower_item_detail", :id=>"borrowers_item_form"}  %>

<div class="top" >
	<p>
		<span class="logo_white" >The Echo Market</span>
	</p>
	<p>
        <% unless sesion[:community_name].blank?  %>
        <%= (session[:user_alias].blank? ? "" : session[:user_alias] + " of " +  session[:community_name]  %>
        <% else %>
		<%= session[:user_alias]   %>
		<% end %>
		: BORROWER ITEM DETAIL
	</p>
	<%= link_to 'Back to Items Listing', home_items_listing_url, {:style=>"color:white; text-align:right;float:right;margin-right:15px;"}  %>
</div>

<div class="div_p_detail" >Borrower Description</div>
<div class="div_p_detail_sub">
	<p>
		
		<% for bb in @borrower %>
		
		<%=  bb.borrower_or_lender_text %>
		<% if bb.borrower_or_lender_text == 'Other'%>
		&nbsp;<%= bb.other_describe_yourself %>
		<% end %>
		<% unless bb.organization_name.blank? %>
		<br />
		<% if bb.displayBorrowerOrganizationName.abs == 1 %>
		Borrower Organization Name: &nbsp;<%= bb.organization_name %>
		<br />
		<% end %>
		<% end %>
		<% if bb.displayBorrowerName.abs == 1%>
		Borrower Name:&nbsp;<%= bb.first_name %>&nbsp;<%= (bb.mi.blank? ? "": bb.mi) %>&nbsp;<%= bb.last_name %>
		<br />
		<% end %>
	</p>
	<% if (bb.displayBorrowerAddress == 1 ) %>

<%	borrower_primary_address = Borrower.find(bb.b_id).addresses.where(["address_type = 'primary'"])  %>
	<p>
		Borrower Address:
		<br />
		<%= borrower_primary_address.address_line_1 %>
		<%= (borrower_primary_address.address_line_2.blank? ? " ": borrower_primary_address.address_line_2) %>
		<br />
		<%= borrower_primary_address.city + ","%>
		<%= (borrower_primary_address.province.blank? ? "": borrower_primary_address.province) + " " %>

		<% unless borrower_primary_address.us_state_id.blank? || borrower_primary_address.us_state_id == '99'  %>
		<%= borrower_primary_address.state_name %>
		<% end %>
		<br />
		
		<% unless borrower_primary_address.region.blank?  %>
		<%= borrower_primary_address.region %>
		<% end %>
		<br />
		
		
		<% unless borrower_primary_address.country_name.blank? %>
		<%= borrower_primary_address.country_name + " " %>
		<% end %>
		
		<%= borrower_primary_address.postal_code %>
	</p>
	<% end %>
	
	
	

</div>

<% if ((bb.useWhichContactAddress == 2)  || (bb.useWhichContactAddress == 1)) %>

<div class="div_p_detail" >
	Borrower Contact - Alternative Address:
</div>
<div class="div_p_detail_sub">
   <%  borrower_alternative_address = Borrower.find(bb.b_id).addresses.where(["address_type = 'alternative'"]) %>
    
	<p>
		<%= borrower_alternative_address.address_line_1 %>
		<%= (borrower_alternative_address.address_line_2.blank? ? " ": borrower_alternative_address.address_line_2) %>
		<br />
		<%= borrower_alternative_address.city + ","%>
		<%= (borrower_alternative_address.province.blank? ? "": borrower_alternative_address.province) + " " %>

		<% unless borrower_alternative_address.us_state_id.blank? || borrower_alternative_address.us_state_id == '99'  %>
		<%= borrower_alternative_address.state_name %>
		<% end %>
		<br />
		
		<% unless borrower_alternative_address.region.blank?  %>
		<%= borrower_alternative_address.region %>
		<% end %>
		<br />
		
		
		<% unless borrower_alternative_address.country_name.blank? %>
		<%= borrower_alternative_address.country_name + " " %>
		<% end %>
		
		<%= borrower_alternative_address.postal_code %>
	</p>
	
</div>
<% end %>


<% if bb.public_display_home_phone.abs == 1 || bb.public_display_cell_phone.abs == 1  || bb.public_display_alternative_phone.abs == 1%>

<div class="div_p_detail"  >
	Borrower Contact - Phone:
</div>
<div class="div_p_detail_sub">
	<p>
		<% if bb.public_display_home_phone.abs == 1 %>
		<%= "Home: " + bb.home_phone %>&nbsp;
		<% end %>
		<% if bb.public_display_cell_phone.abs == 1 %>
		<%= "Cell: " + bb.cell_phone %>&nbsp;
		<% end %>

		<% if bb.public_display_alternative_phone.abs == 1 %>
		<%= "Alternative: " + bb.alternative_phone %>
		<% end %>
	</p>

</div>

<% end %>

<% unless bb.borrower_contact_by_email == '0'  %>
<% @uemail = User.find(:first, :readonly => true, :conditions => ["user_id = ?", bb.user_id]) %>
<div class="div_p_detail" >
	Borrower Contact - Email:
</div>

<div class="div_p_detail_sub">
	<p>
		<% if bb.borrower_contact_by_email == 3 %>
		<% if  session[:community_id] %>
		<%= mail_to session[:email],"#{session[:email]}", {:style=>"color:indigo"}%>
		<% else  %>
		&nbsp;&nbsp;
		<%= mail_to @uemail.email,"#{@uemail.email}", {:style=>"color:indigo"}%>
		<% end  %>
		<% end %>

		<% if bb.borrower_contact_by_email == '2' %>
		<%= mail_to bb.email_alternative,"#{bb.email_alternative}", {:style=>"color:indigo"} %>&nbsp;&nbsp;
		<% end %>
		<% if bb.borrower_contact_by_email.to_i.abs == 1 %>
		<%= mail_to bb.email_alternative, "#{bb.email_alternative}", {:style=>"color:indigo"} %>&nbsp;&nbsp;
		<% if  session[:community_id] %>
		<%= mail_to session[:email],"#{session[:email]}", {:style=>"color:indigo"}%>
		<% else  %>
		&nbsp;&nbsp;
		<%= mail_to @uemail.email,"#{@uemail.email}", {:style=>"color:indigo"}%>
		<% end  %>
		<% end %>
	</p>

</div>
<% end %>

<% unless bb.borrower_contact_by_Facebook.blank? &&  bb.borrower_contact_by_LinkedIn.blank? &&  bb.borrower_contact_by_Other_Social_Media.blank?
bb.borrower_contact_by_Twitter.blank? &&  bb.borrower_contact_by_Instagram.blank? &&  bb.borrower_contact_by_Other_Social_Media_Access.blank? %>
<div class="div_p_detail" >
	borrower Contact - Social Media:
</div>
<div class="div_p_detail_sub">

	<p>
		<% unless bb.borrower_contact_by_Facebook.blank?  %>
		Facebook Access: &nbsp;<%= bb.borrower_contact_by_Facebook %>&nbsp;&nbsp;
		<% end %>

		<% unless bb.borrower_contact_by_LinkedIn.blank?  %>
		LinkedIn Access: &nbsp;<%= bb.borrower_contact_by_LinkedIn %>&nbsp;&nbsp;
		<% end %>

		<% unless bb.borrower_contact_by_Twitter.blank?  %>
		Twitter Access:&nbsp;<%= bb.borrower_contact_by_Twitter %>&nbsp;&nbsp;
		<% end %>

		<% unless bb.borrower_contact_by_Instagram.blank?  %>
		Instagram Access:&nbsp;<%= bb.borrower_contact_by_Instagram %>&nbsp;&nbsp;
		<% end %>

		<% unless bb.borrower_contact_by_Other_Social_Media.blank?  %>
		<br />
		Other Social Media Account Access:&nbsp;<%= bb.borrower_contact_by_Other_Social_Media %>
		Other Social Media Account Access:&nbsp;<%= bb.borrower_contact_by_Other_Social_Media_Access %>
		<% end %>
	</p>
</div>

<% end %>

<div   class="div_p_detail" >
	Item Sought to Borrow
</div>
<div class="div_p_detail_sub">

	Category:
	
	<%= bb.category_type %>
	<% if bb.category_type == "Other" %>
	&nbsp;Other category:
	<%= bb.other_item_category %>
	<% end %>

	<br />
	Description:&nbsp;
	<%= bb.item_description %>
	<br />

	Condition:&nbsp;
	<%= bb.condition %>
	<br />

	<% unless bb.item_model.blank?  %>
	Model: &nbsp;
	<%= bb.item_model %>
	<br />
	<% end %>

	Number of Items: &nbsp;
	<%= bb.item_count %>
	<br />

	<% @icaption = (bb.item_image_caption.blank? ? "No caption provided"  :  bb.item_image_caption)  %>

	
	<% unless bb.image_file_name == "NA" ||  bb.image_file_name == ""  %>
	<div style="margin-left:25px;margin-top:5px;float:left;">

		<table style="width:100%">
			<tr>
				<th>Image caption</th>
				<th>Image of Item</th>

			</tr>
			<tr>

				<td style="width:50%;text-align:center;"><%= @icaption %></td>
				<td style="width:50%;text-align:center;"><img src="<%= get_image_path(bb.image_file_name) %>"  height="42"  width="42" alt="<%= @icaption  %>" style="margin:5px;" /></td>
			</tr>
		</table>
	</div>
	<% end %>

</div>

<% end %>
