<%= javascript_include_tag 'borrower_seeking.js', :type => "text/javascript" %>
<%  rowCount = 1 %>
<%= form_for @borrower, :url=> {:controller=>"borrower", :action => "borrower_history"}, :html=>  {:class=>"borrower_history", :id=>"borrowers_item_form"} do |nf| %>
<%= @borrower.to_yaml %>

  <div class="top" >
    <p><span class="logo_white" >The Echo Market</span></p>
    <p>Welcome Back Echo Market borrower!</p>

  </div>

    <div style="float:left;">
      <table class="history" >
        <tr >
          <th>Category</th>
          <th>Description</th>
          <th>Model</th>
          <th>Condition</th>
          <th>Date Created/Updated</th>
          <th>Status</th>
          <th>Process</th>
        </tr>

         <% @borrower.each do |ba| %>
          <% rowClass = ((rowCount%2) == 1 ? "odd" : "even" )  %>
          <%  rowCount = rowCount + 1 %>
          <tr class="<%= rowClass %>" >
            <td>
              <%= nf.label (ba.category_id.blank? ? "No Item Category provided" : ba.category_type) %>
              
            </td>
            <td>
              <%= nf.label (ba.item_description.blank? ? "NA": ba.item_description) %></td>
            <td>
              <%= nf.label (ba.item_model.blank? ? "NA": ba.item_model) %></td>
            <td>
              <%= nf.label (ba.item_condition_id.blank? ? "No Item Condition provided" : ba.condition) %>
             
            </td>
            <td>
              <%= (ba.date_created.blank? ? "NA": ba.date_created.strftime("%m/%d/%Y %I:%M%p")) %> <br style="margin:0;"/>
              <%= (ba.date_updated.blank? ? "NA": ba.date_updated.strftime("%m/%d/%Y %I:%M%p")) %>
            </td>
            <td>
               <%= (ba.approved == 0 ? "Not approved": "Approved") %>
            </td>
            <td >

              <%= link_to "EDIT", :controller => "borrower", :action=> "borrower_history", :commit => "edit", :id=>ba.id  %><br style="margin:0;"/><br style="margin:0;"/>
              <%= link_to "REUSE", :controller => "borrower", :action=> "borrower_history", :commit => "reuse", :id=> ba.id %><br style="margin:0;"/><br style="margin:0;"/>
              <%= link_to "DELETE", {:controller => "borrower", :action => "delete_borrower_record", :commit => "delete", :id=>ba.id} ,
                
                 {:confirm => "Are you sure you wish to delete this record?"}  %>


            </td>
          </tr>
          <% end %>
	
      </table>
    </div>


  <div class="div_white" ></div>
  <div class="bottom" style="text-align:center">
    <% unless @borrowers.blank? %>
		<% unless session[:community_id].blank? %>
			<%= link_to "I am not interested in either editting, reusing or deleting any of my existing item records. I'd like to create a new item record.", :controller => "borrower", :action => "community_borrower_seeking", :id=>"" %>
		<% else %>
			<%= link_to "I am not interested in either editting, reusing or deleting any of my existing item records. I'd like to create a new item record.", :controller => "borrower", :action => "borrower_seeking", :id=>"" %>
		<% end %>
      
    <% else %>
		<% unless session[:community_id].blank? %>
			<%= link_to "I'd like to offer a new item for borrowing.", :controller => "borrower", :action => "community_borrower_seeking", :id=>"" %>
		<% else %>
			<%= link_to "I'd like to offer a new item for borrowing.", :controller => "borrower", :action => "borrower_seeking", :id=>"" %>
		<% end %>
      

    <% end %>

  </div>
<% end %>




































