<%= javascript_include_tag 'borrower_seeking.js', :type => "text/javascript"  %>
<%= javascript_include_tag 'bl_util.js', :type => "text/javascript" %>

<%= render :partial => 'menus/borrowers_menu' %>
<%= form_for @borrower, :url=> {:controller=>"borrower", :action => "borrower_seeking"}, :html=>   {:class=>"borrower_seeking", :multipart=>true, :id=>"borrower_item_registration"} do |nf| %>


<div style="display:none;">

	<%= nf.hidden_field( :is_active, :value =>'1') %>
	<%= nf.hidden_field( :user_id, :value => session[:user_id]) %>

</div>

<div class="top" >

	<p>
		<span class="logo_white" >The Echo Market</span>
	</p>
	<p>
		<%= session[:user_alias].to_s unless session[:user_alias].blank? %> BORROWER ITEM REGISTRATION
		<a href="#" class="registration_header" style="display:none;" onclick="saveBAll();">Save Borrower Item Registration</a>
	</p>
	<% unless session[:notice].blank? %>
	<p>
		<%= session[:notice] %>
	</p>
	<% end  %>
</div>
<div>
	<span class="registration_header" style="display:none;color:black;font-size:14px;font-weight:bold;text-decoration:none;float:left;margin:10px;width:94%;"> In the following, a black '*' indicates a required field; '(nn)' indicates the maximum number of characters allowed for entry; and, not choosing either 'Yes' or 'No' will be interpreted as 'Indifferent'...</span>
</div>
<div   class="div_p" id="menu_item_1" >
	1. Contact Information
</div>
<a id="top"></a>
<div id="form_contact_information" class="contact_information" style="display:none;">
	<div style="display:block;float:left;width:94%;height:auto;margin:5px;">
		<div style="width: 50%;float:left;">
			<label class="personal" >As a borrower, how would you describe yourself?<span class="required_fields">&nbsp;&nbsp;*</span></label>
			<%= nf.collection_select :contact_describe_id, ContactDescribe.find(:all, :readonly => true, :conditions => ['borrower_or_lender = 2'], :order=>"option_value"), :id, :borrower_or_lender_text %>
			<span class="error" id="describe_yourself_combo_error">&nbsp;</span>
		</div>
				
		<div id="other_describe_yourself" style="float:left;width:48%;margin-left:15px;display:none;">
			<label>How then would you describe yourself?:&nbsp;<span class="required_fields">&nbsp;&nbsp;*</span>&nbsp;<span class="max_length">(24)</span></label>
			<%= nf.text_field(:other_describe_yourself, :size=>24, :maxlength=>24, :class=>"hidden_input") %>
			<span class="error" id="other_describe_yourself_error">&nbsp;</span>
		</div>
	</div>

	<div style="display:block;float:left;width:86%;height:auto;margin:5px;">
		<table class="personal">

			<tr class="odd">
				<td style="width:25%;">
				<div>
					<label>Organization Name:&nbsp;<span class="max_length">(24)</span></label>
					<%= nf.text_field( :organization_name,  :maxlength=>24, :size=>24) %>
					<span class="error" id="organization_name_error">&nbsp;</span>
				</div></td>

				<td style="width:25%;" colspan="2">
				<div style="display:inline-block;vertical-align:top;">
					<label>Public Display Organization Name?:</label>
					<%= render :partial => 'layouts/yes_no', :locals =>
					{:object=> "borrower", :field=> "displayBorrowerOrganizationName", :radio_id => "public_display_organization", :radio_num => "publicdisplayorganization", :which_class=>"radio", :onchange_call => ""} %>
					<span class="error" id="public_display_organization_name_error">&nbsp;</span>
				</div></td>

				<td style="width:25%;">
				<div>
					&nbsp;
				</div></td>

			</tr>

			<tr class="even">
				<td style="width:25%;">
				<div>
					<label>First Name:<span class="required_fields">&nbsp;&nbsp;*</span>&nbsp;<span class="max_length">(24)</span></label>
					<%= nf.text_field( :first_name,  :maxlength=>24, :size=>24) %>
					<span class="error" id="first_name_error">&nbsp;</span>
				</div></td>

				<td style="width:25%;">
				<div>
					<label>Middle Initial:</label>
					<%= nf.text_field( :mi, :size=>"1", :maxlength=>"1") %>
					<span class="error">&nbsp;</span>
				</div></td>

				<td style="width:25%;">
				<div>
					<label>Last Name:<span class="required_fields">&nbsp;&nbsp;*</span>&nbsp;<span class="max_length">(24)</span></label>
					<%= nf.text_field( :last_name,  :maxlength=>24, :size=>24) %>
					<span class="error" id="last_name_error">&nbsp;</span>
				</div></td>

				<td style="width:25%;">
				<div style="display:inline-block;vertical-align:top;">
					<label>Public Display Name?:</label>
					<%= render :partial => 'layouts/yes_no', :locals =>
					{:object=> "borrower",:edit => true, :field=> "displayBorrowerName", :radio_id => "public_display_name", :radio_num => "publicdisplayname", :which_class=>"radio", :onchange_call => ""} %>
					<span class="error" id="public_display_name_error">&nbsp;</span>
				</div></td>

			</tr>
			
			<% if session[:edit_record] %>
			     
			    <%= nf.fields_for  :primary_address,  @borrower.addresses.primary_address.first do |primary| %>
				<%= render :partial => 'layouts/existing_primary_address', :locals => {:object=> "borrower", :builder => primary, :class_content => "borrower primary" ,:field=> "displayBorrowerAddress"} %>
				<% end %>
			<% else %>
			
				<%= nf.fields_for :primary_address do |primary| %>
				<%= render :partial => 'layouts/existing_primary_address', :locals => {:object=> "borrower", :builder => primary, :class_content => "borrower primary",:field=> "displayBorrowerAddress" } %>
				<% end %>
			<% end %>	
			
						
			
		</table>
		<table class="personal">
			<tr class="odd">
				<td style="width:33%;"><label  >Home Phone:&nbsp;<span class="max_length">(15)</span></label> <%= nf.text_field( :home_phone, :maxlength=>15, :size=>15) %> 
					<label style="font-size:12px" for="borrower_public_display_home_phone" >Public display your home phone?&nbsp;
					<%= nf.check_box(:public_display_home_phone, {:style=>"vertical-align: middle;width:15px;"}) %> 
					</label><span class="error"   id="home_phone_error">&nbsp;</span></td>
				<td style="width:33%;"><label>Cell Phone:&nbsp;<span class="max_length">(15)</span></label>
					 <%= nf.text_field(:cell_phone, :maxlength=>15, :size=>15) %> <label style="font-size:12px" for="borrower_public_display_cell_phone" >Public display your cell phone?&nbsp;
					<%= nf.check_box(:public_display_cell_phone, {:style=>"vertical-align: middle;width:15px;"}) %> </label><span class="error" id="cell_phone_error">&nbsp;</span></td>
				<td style="width:34%;"><label>Alternative Phone:&nbsp;<span class="max_length">(15)</span></label> <%= nf.text_field( :alternative_phone, :maxlength=>15, :size=>15) %> <label style="font-size:12px" for="borrower_public_display_alternative_phone" >Public display your alternative phone?&nbsp;
					<%= nf.check_box(:public_display_alternative_phone,  {:style=>"vertical-align: middle;width:15px;"}) %> </label><span class="error" id="alternative_phone_error">&nbsp;</span></td>

			</tr>
		</table>
	</div>

	<div class="bottom">
		<a href="#item_section1" class="registration_header" style="display:none;" onclick="showReview();">Review Borrower Item Registration {BETA}</a>
		<a href="#menu_item_2" onclick="showBorrowersContactPreferences();">Continue to '2. Your Lenders Contact Preferences'</a>
	</div>
</div >

<div class="div_p" id="menu_item_2" >
	2. Your Lenders Contact Preferences
</div>

<div id="form_borrower_preference" class="contact_information" style="display:none;">
	<div style="float:left;width:92%;margin-left:25px;margin-bottom:1px;">
		<label class="personal" style="margin-left:50px;">How would you like interested lenders to make initial contact with you?</label>
		<label class="personal" style="margin-left:55px;">...You are required to choose at least one option.</label>
	</div>
	<div   class="div_white" >
		&nbsp;
	</div>

	<div style="float:left;width:92%;margin-left:25px;background-color:#E0E0FF;">
		<label class="readonly_label_underline">Contact Option: By Postal Mail?:</label>
		<% display_div = 'none' %>
		<% unless @borrower.useWhichContactAddress.blank? %>
		<% if @borrower.useWhichContactAddress != -1 %>
		<% display_div =  'block'%>
		<% end %>
		<% end %>
		<div id="postalWithContactAddress" style="display: block">
			<%= render :partial => 'layouts/with_contact_address', :locals =>
			{:object => "borrower", :field=>"useWhichContactAddress", :radio_id => "useWhichContactAddress", :radio_num => "useWhichContactAddress", :which_class=>"radio", :onchange_call => "noNotContactAddress(this, 'borrower');"} %>
		</div>

	</div>

	<div id="table_alternative_address_input" style="float:left;display:inline;width:92%;background-color:#E1F5A9; margin:5px 0px 0px 25px">
		<label class="personal" >Provide your alternative contact address here:</label>
		<br />
				
			
			<% if session[:edit_record] %>
			    <%= nf.fields_for :alternative_address, @borrower.addresses.alternative_address.first do |alternative| %>
				<%= render :partial => 'layouts/existing_alternative_address', :locals => {:hidden_type=> "lender_id", :builder => alternative , :class_content => "borrower alternative" } %>
				<% end %>
			<% else %>
				<%= nf.fields_for :alternative_address do |alternative| %>
				<%= render :partial => 'layouts/existing_alternative_address', :locals => {:hidden_type => "lender_id", :builder => alternative, :class_content => "borrower alternative" } %>
				<% end %>
			<% end %>	
			
	

	</div>
	<div   class="div_white" >
		&nbsp;
	</div>
	<div style="float:left;width:92%;margin-left:25px;background-color:#E0E0FF;">
		<label class="readonly_label_underline">Contact Option: By your Login E-Mail? Or, an Alternative E-Mail?</label>
		<table class="personal">
			<tr>
				<td >
				<div>
					<label>Login E-Mail:</label>

					<label style="font-size:14px;"><%= session[:email] %></label>
					<span class="error" id="email1_contact_error">&nbsp;</span>
				</div></td>
				<td >
				<div>
					<label>Alternative:</label>
					<%= nf.text_field( :email_alternative ) %>
					<span class="error" id="email2_contact_error">&nbsp;</span>
				</div></td>
				<td >
				<div >
					<label>Which E-Mail Address?:</label>
					<%= render :partial => 'layouts/contact_email', :locals =>
					{:object => "borrower", :field=>"borrower_contact_by_email", :radio_id => "borrower_contact_email", :which_class=>"radio"} %>
					<span class="error">&nbsp;</span>
				</div></td>
			</tr>
		</table>
	</div>
	<div   class="div_white" >
		&nbsp;
	</div>
	<div style="float:left;width:92%;margin-left:25px;background-color:#E0D6CC;" id="byYourPhone">
		<label class="readonly_label_underline">Contact Option: By your Phone? </label>
		<table class="personal">
			<tr>
				<td>
				<div id="displayHomePhoneContact">
					<label>Home Phone:&nbsp;<span id="contact_home_phone">&nbsp;</span></label>
					<label style="font-size:12px;">Can borrowers call you at your home phone?&nbsp;
						<%= nf.check_box( :borrower_contact_by_home_phone) %></label>
					<span class="error">&nbsp;</span>
				</div>
				<div id="nodisplayHomePhoneContact" style="display:none">
					&nbsp;
				</div></td>
				<td>
				<div id="displayCellPhoneContact">
					<label>Cell Phone:&nbsp;<span id="contact_cell_phone">&nbsp;</span></label>
					<label style="font-size:12px;">... your cell phone?&nbsp;
						<%= nf.check_box( :borrower_contact_by_cell_phone) %></label>
					<span class="error">&nbsp;</span>
				</div>
				<div id="nodisplayCellPhoneContact" style="display:none">
					&nbsp;
				</div></td>
				<td>
				<div id="displayAlternativePhoneContact">
					<label>Alternative Phone:&nbsp;<span id="contact_alternative_phone">&nbsp;</span></label>
					<label style="font-size:12px;">... your alternative phone?&nbsp;
						<%= nf.check_box( :borrower_contact_by_alternative_phone) %></label>
					<span class="error">&nbsp;</span>
				</div>
				<div id="nodisplayAlternativeContact" style="display:none">
					&nbsp;
				</div></td>
				<td>
				<div >
					&nbsp;
				</div></td>
			</tr>
		</table>
	</div>
	<div   class="div_white" >
		&nbsp;
	</div>
	<div style="float:left;width:92%;margin-left:25px;background-color:#CCEBD6;">

		<label class="readonly_label_underline" >Contact Option: By Internet Social Media?</label>

		<table class="personal" style="margin-left:15px;">
			<tr>
				<td><label>Your Facebook Account:</label> <%= nf.text_field( :borrower_contact_by_Facebook) %> <span class="error">&nbsp;</span></td>
				<td><label>Your LinkedIn Account:</label> <%= nf.text_field( :borrower_contact_by_LinkedIn) %> <span class="error">&nbsp;</span></td>
			</tr>
			<tr>
				<td><label>Your Twitter Account:</label> <%= nf.text_field( :borrower_contact_by_Twitter) %> <span class="error">&nbsp;</span></td>
				<td><label>Your Instagram Account:</label> <%= nf.text_field( :borrower_contact_by_Instagram) %> <span class="error">&nbsp;</span></td>
			</tr>
			<tr>
				<td><label>Other Social Media:</label> <%= nf.text_field( :borrower_contact_by_Other_Social_Media) %> <span class="error">&nbsp;</span></td>

				<td><label>Other Social Media Access:</label> <%= nf.text_field( :borrower_contact_by_Other_Social_Media_Access) %> <span class="error">&nbsp;</span></td>
			</tr>
		</table>

	</div>
	<div   class="div_white" >
		&nbsp;
	</div>
	<div class="bottom">
		<a href="#item_section2" class="registration_header" style="display:none;" onclick="showReview();">Review Borrower Item Registration {BETA}</a>
		<a href="#menu_item_1" onclick="showFormContact();">Return to '1. Contact Information'</a>&nbsp;&nbsp; <a href="#menu_item_3" onclick="showItem();">Continue to '3. Item(s) to Borrow'</a>
	</div>
</div>
<div   class="div_white" id="div_white" >
	&nbsp;
</div>
<div   class="div_p" id="menu_item_3" >
	3. Item(s) to Borrow
</div>

<div id="form_item" class="contact_information" style="display:none;">
	<label class="personal" style="margin-left:25px;margin-top:5px;">Item you would like to lend</label>
	<table class="personal">
		<tr class="odd">
			<td style="width:50%;">
			<div style="margin-left:25px;margin-top:5px;">
				<label>Category:<span class="required_fields">&nbsp;&nbsp;*</span>
					<%= nf.collection_select :category_id, Category.all, :id, :category_type %>
					 
					</label>
				<span class="error" id="category_id_error">Choose a 'Category'.</span>

			</div></td>
			<td style="width:50%;"> <% display_div = 'none' %>
			<% unless @borrower.category_id.blank? %>
			<% if @borrower.category_id == 0 %>
			<% display_div =  'inline'%>
			<% end %>
			<% end %>
			<div style="display:<%= display_div %>;margin-left:25px;margin-top:5px;" id="other_category">
				<label>Add another category:<span class="required_fields">&nbsp;&nbsp;*</span></label>
				<%= nf.text_field( :other_item_category, {:class=>"hidden_input"}) %>

			</div></td>

		</tr>

		<tr class="even">
			<td colspan='2'>
			<div style="margin-left:25px;margin-top:5px;">
				<label>Based on this category, would you like to notify lenders offering items in this category?:&nbsp;
					<%= render :partial => 'layouts/yes_no', :locals => {:object=> "borrower",
					:field=>"notify_lenders",:radio_id => "notify_lenders", :radio_num => "notify_lenders1", :which_class=>"radio", :onchange_call => ""} %></label>

			</div></td>
		</tr>

		<tr class="odd">
			<td style="width:50%">
			<div style="margin-left:25px;margin-top:5px;">
				<label for="item_description">Description:<span class="required_fields">&nbsp;&nbsp;*</span></label>
				<%= nf.text_field( :item_description) %>
				<span class="error" id="item_description_error">Please provide a item description.</span>
			</div></td>
			<td style="width:50%">
			<div style="margin-left:25px;margin-top:5px;">
				<label>Condition:&nbsp;<span class="required_fields">&nbsp;&nbsp;*</span></label>
				<%= nf.collection_select :item_condition_id, ItemCondition.all, :id, :condition %>
				<span class="error" id="item_condition_id_error">Choose a 'Condition'.</span>
			</div></td>
		</tr>

		<tr class="even">
			<td  style="width:50%;">
			<div style="margin-left:25px;margin-top:5px;">
				<label for="item_model">Model:</label>
				<%= nf.text_field( :item_model) %>

			</div></td>
			<td  style="width:50%;">
			<div style="margin-left:25px;margin-top:5px;">
				<label>Number of Items:<span class="required_fields">&nbsp;&nbsp;*</span><span class="required_fields">&nbsp;&nbsp;Please less than 100 items</span></label>
				<%= nf.text_field( :item_count, {:size=>5, :maxlength=>2}) %>
				<span class="error" id="item_count_error">Invalid item count.</span>
			</div></td>
		</tr>
	   </table>
	    	<% if session[:edit_record] %>
	    		
				<%= nf.fields_for :item_images, @borrower.item_images do |builder| %>
				<%= render :partial => 'layouts/existing_image',  :locals => {:model=> Borrower, :object=> @borrower, :builder=> builder, :class_content => "borrower primary" } %>
				<% end %>	
			<% else %>
			
				<%= nf.fields_for :item_image_new do |builder| %>
				<%= render :partial => 'layouts/new_image',  :locals => {:object=> @borrower, :builder => builder, :class_content => "borrower primary"  } %>
				<% end %>
			<% end %>
	
	<div   class="div_white" >
		&nbsp;
	</div>
	<div   class="div_white" id="div_white" >
		&nbsp;
	</div>

	<div class="bottom">
		<a href="#item_section3" class="registration_header" style="display:none;" onclick="showReview();">Review Borrower Item Registration {BETA}</a>
		<a href="#menu_item_2" onclick="showBorrowersContactPreferences();">Return to '2. Your Lenders Contact Preferences'</a>
		<a href="#menu_item_4" onclick="showBLegal();">Continue to '4. Legal/Other '</a>

	</div>

</div>
<div   class="div_white" id="div_white" >
	&nbsp;
</div>
<div   class="div_p" id="menu_item_4">
	4. Legal/Other
</div>

<div id="form_legal" class="contact_information" style="display:none;">

	<div style="margin-left:25px;margin-top:5px;float:left;">
		<p class="offering">
			Echo Market is offered as a facilitating service to introduce borrowers to lenders and vice versa.
		</p>

		<p class="offering">
			Once a borrower or lender has been introduced, Echo Market will play no mediating role in that event.
		</p>

		<p class="offering">
			In the aftermath of that event, Echo Market will offer a 'Satisfaction Survey' to both the borrower and the lender.
			If satisfaction is found poor, Echo Market will then seek more information to determine the continuance of either the borrower or lender participation.
		</p>
	</div>
	<div   class="div_white" >
		&nbsp;
	</div>
	<div style="margin-left:25px;margin-top:5px;margin-bottom:5px;float:left;">
		<ul >
			<li style="margin:5px;">
				<label for="borrower_goodwill" style="color:#0B0B3B">&nbsp;I am acting and participating in a spirit of goodwill.&nbsp;
					<%= nf.check_box( :goodwill) %><span class="required_fields" >&nbsp;&nbsp;*</span></label>
				<span class="error" id="goodwill_error"  >&nbsp;</span>
			</li>
			<li style="margin:5px;">
				<label for="borrower_age_18_or_more" style="color:#0B0B3B">&nbsp;I have achieved the age of 18 years or more.&nbsp;
					<%= nf.check_box( :age_18_or_more) %><span class="required_fields">&nbsp;&nbsp;*</span></label>
				<span class="error" id="18_or_more_error">&nbsp;</span>
			</li>
		</ul>

	</div>

	<div class="bottom">
		<a href="#item_section4" class="registration_header" style="display:none;" onclick="showReview();">Review Borrower Item Registration {BETA}</a>
		<a href="#menu_item_3" onclick="showItem();">Return to '3. Item(s) to Borrow'</a>
	</div>
</div>
<div id="item_readonly" style="display:none;">
	<%= render :partial => 'borrower/borrower_seeking_readonly' %>
</div>
<% end %>