<style type="text/css">
	p {
		padding: 1px 1px 1px 15px;
		margin-left: 5px;
		color: black;
		font-size: 14px;
		font-weight: normal;
		width: 94%;
	}

	label {
		margin-left: 15px;
		font-size: 14px;
		font-weight: normal;
	}

</style>

<%= javascript_include_tag 'borrower_seeking.js', :type => "text/javascript" %>

<%= form_for @borrower, :url=> {:controller=>"borrower", :action => "borrower_item_detail"},  :html=>{:class=>"borrower_item_detail", :id=>"borrowers_item_form"} do |nf| %>

<div class="top" >
	<p>
		<span class="logo_white" >The Echo Market</span>
	</p>
	<p>

		<% if  session[:community_id] %>
		<%= session[:user_alias]   %>
		<% else  %>
		<%= nf.fields_for :user do |u| %>
		<%= u.label :user_alias   %>
		<% end  %>
		: BORROWER ITEM DETAIL
	</p>
	<%= link_to 'Back to Items Listing', home_items_listing_url, {:style=>"color:white; text-align:right;float:right;margin-right:15px;"}  %>
</div>

<div class="div_p_detail" >
	Borrower Description
</div>
<div class="div_p_detail_sub">
	<p>
		<%=  @borrower.borrower_or_lender_text] %>
		<% if @borrower.borrower_or_lender_text] == 'Other'%>
		&nbsp;<%= @borrower.other_describe_yourself %>
		<% end %>

		<% unless @borrower.organization_name.blank? %>
		<br />
		<% if @borrower.displayBorrowerOrganizationName.abs == 1 %>
		Borrower Organization Name: &nbsp;<%= @borrower.organization_name %>
		<br />
		<% end %>
		<% end %>
		<% if @borrower.displayBorrowerName.abs == 1%>
		Borrower Name:&nbsp;<%= @borrower.first_name %>&nbsp;<%= (@borrower.mi.blank? ? "": @borrower.mi) %>&nbsp;<%= @borrower.last_name %>
		<br />
		<% end %>
	</p>
	<% if (@borrower.displayBorrowerAddress == 1) %>
	<p>
		Borrower Address:
		<br />
		<%= @borrower.address_line_1 %><%= (@borrower.address_line_2.blank? ? " ": @borrower.address_line_2) %>
		<br />
		<%= @borrower.city + ","%><%= (@borrower.province.blank? ? "": @borrower.province) + " " %>

		<% if @borrower.us_state_id.blank? %>
		<% >

		<% @s_c = UsStates.find(:first, :readonly => true,  :conditions => ["us_state_id = ?", @borrower.us_state_id ]) %>
		<%= (@s_c.us_state_id == '99' ? "" : @s_c.state_name) %>
		<% else %>
		<%= @borrower.us_state_id %>
		<% end %>
		<br />
		<% unless @borrower.country_id.blank? %>
		<% @s_c = Countries.find(:first, :select => "country_name", :readonly => true,  :conditions => ["country_id = ?", @borrower.country_id ]) %>
		<%= @s_c.country_name + " " %>
		<% end %>
		<%= @borrower.postal_code %>
	</p>
	<% end %>

</div>

<% if ((@borrower.useWhichContactAddress == 2)  || (@borrower.useWhichContactAddress == 1)) %>
<div class="div_p_detail" >
	Borrower Contact - Alternative Address:
</div>
<div class="div_p_detail_sub">

	<p>
		<%= @borrower.address_line_1_alternative %><%= (@borrower.address_line_2_alternative.blank? ? " ": @borrower.address_line_2_alternative) %>
		<br />
		<%= @borrower.city_alternative + ","%><%= (@borrower.province_alternative.blank? ? "": @borrower.province_alternative) + " " %>

		<% if @borrower.us_state_id_alternative.blank? %>
		<% @s_c = UsStates.find(:first, :readonly => true,  :conditions => ["us_state_id = ?", @borrower.us_state_id_alternative ]) %>
		<%= (@s_c.us_state_id == '99' ? "" : @s_c.state_name) %>
		<% else %>
		<%= @borrower.us_state_id_alternative + " " %>
		<% end %>
		<br />
		<% unless @borrower.country_id_alternative.blank? %>
		<% @s_c = Countries.find(:first, :select => "country_name", :readonly => true,  :conditions => ["country_id = ?", @borrower.country_id_alternative ]) %>
		<%= @s_c.country_name + " " %>
		<% end %>
		<%= @borrower.postal_code_alternative %>
	</p>
</div>
<% else %>
<% end %>

<% if @borrower.public_display_home_phone.abs == 1 || @borrower.public_display_cell_phone.abs == 1  || @borrower.public_display_alternative_phone.abs == 1%>

<div class="div_p_detail"  >
	Borrower Contact - Phone:
</div>
<div class="div_p_detail_sub">
	<p>
		<% if @borrower.public_display_home_phone.abs == 1 %>
		<%= "Home: " + @borrower.home_phone %>&nbsp;
		<% end %>
		<% if @borrower.public_display_cell_phone.abs == 1 %>
		<%= "Cell: " + @borrower.cell_phone %>&nbsp;
		<% end %>

		<% if @borrower.public_display_alternative_phone.abs == 1 %>
		<%= "Alternative: " + @borrower.alternative_phone %>
		<% end %>
	</p>

</div>

<% end %>

<% unless @borrower.borrower_contact_by_email == '0'  %>

<div class="div_p_detail" >
	Borrower Contact - Email:
</div>

<div class="div_p_detail_sub">
	<p>
		<% if @borrower.borrower_contact_by_email == 3 %>
		<% if  session[:community_id] %>
		<%= mail_to session[:email],"#{session[:email]}", {:style=>"color:indigo"}%>
		<% else  %>
		<% @uemail = User.find(:first, :readonly => true, :conditions => ["user_id = ?", @borrower.user_id]) %>&nbsp;&nbsp;
		<%= mail_to @uemail.email,"#{@uemail.email}", {:style=>"color:indigo"}%>
		<% end  %>
		<% end %>

		<% if @borrower.borrower_contact_by_email == '2' %>
		<%= mail_to @borrower.email_alternative,"#{@borrower.email_alternative}", {:style=>"color:indigo"} %>&nbsp;&nbsp;
		<% end %>
		<% if @borrower.borrower_contact_by_email.to_i.abs == 1 %>
		<%= mail_to @borrower.email_alternative, "#{@borrower.email_alternative}", {:style=>"color:indigo"} %>&nbsp;&nbsp;
		<% if  session[:community_id] %>
		<%= mail_to session[:email],"#{session[:email]}", {:style=>"color:indigo"}%>
		<% else  %>
		<% @uemail = User.find(:first, :readonly => true, :conditions => ["user_id = ?", @borrower.user_id]) %>&nbsp;&nbsp;
		<%= mail_to @uemail.email,"#{@uemail.email}", {:style=>"color:indigo"}%>
		<% end  %>
		<% end %>
	</p>

</div>

<% end %>

<% unless @borrower.borrower_contact_by_Facebook.blank? &&  @borrower.borrower_contact_by_LinkedIn.blank? &&  @borrower.borrower_contact_by_Other_Social_Media.blank?
@borrower.borrower_contact_by_Twitter.blank? &&  @borrower.borrower_contact_by_Instagram.blank? &&  @borrower.borrower_contact_by_Other_Social_Media_Access.blank? %>
<div class="div_p_detail" >
	borrower Contact - Social Media:
</div>
<div class="div_p_detail_sub">

	<p>
		<% unless @borrower.borrower_contact_by_Facebook.blank?  %>
		Facebook Access: &nbsp;<%= @borrower.borrower_contact_by_Facebook %>&nbsp;&nbsp;
		<% end %>

		<% unless @borrower.borrower_contact_by_LinkedIn.blank?  %>
		LinkedIn Access: &nbsp;<%= @borrower.borrower_contact_by_LinkedIn %>&nbsp;&nbsp;
		<% end %>

		<% unless @borrower.borrower_contact_by_Twitter.blank?  %>
		Twitter Access:&nbsp;<%= @borrower.borrower_contact_by_Twitter %>&nbsp;&nbsp;

		<% end %>
		<% unless @borrower.borrower_contact_by_Instagram.blank?  %>
		Instagram Access:&nbsp;<%= @borrower.borrower_contact_by_Instagram %>&nbsp;&nbsp;
		<% end %>

		<% unless @borrower.borrower_contact_by_Other_Social_Media.blank?  %>
		<br />
		Other Social Media Account Access:&nbsp;<%= @borrower.borrower_contact_by_Other_Social_Media %>
		Other Social Media Account Access:&nbsp;<%= @borrower.borrower_contact_by_Other_Social_Media_Access %>
		<% end %>
	</p>
</div>

<% end %>

<div   class="div_p_detail" >
	Item Sought to Borrow
</div>
<div class="div_p_detail_sub">

	Category:
	<% @categories = Category.find(:first, :select => "category_type", :readonly=> true, :conditions => ["category_id = ?", @borrower.category_id]) %>
	<%= @Category.category_type %>
	<% if @Category.category_type == "Other" %>
	&nbsp;Other category:
	<%= @borrower.other_item_category %>
	<% end %>

	<br />
	Description:&nbsp;
	<%= @borrower.item_description %>
	<br />

	Condition:&nbsp;
	<% @cont = Itemconditions.find(:first, :select => "conditions", :readonly=> true, :conditions => ["item_condition_id = ?", @borrower.item_condition_id]) %>
	<%= @cont.conditions %>
	<br />

	<% unless @borrower.item_model.blank?  %>
	Model: &nbsp;
	<%= @borrower.item_model %>
	<br />
	<% end %>

	Number of Items: &nbsp;
	<%= @borrower.item_count %>
	<br />

	<% @icaption = (@borrower.item_image_caption.blank? ? "No caption provided"  :  @borrower.item_image_caption)  %>

	<div style="margin-left:25px;margin-top:5px;float:left;">

		<table style="width:100%">
			<tr>
				<th>Image caption</th>
				<th>Image of Item</th>

			</tr>
			<tr>

				<td style="width:50%;text-align:center;"><%= @icaption %></td>
				<td style="width:50%;text-align:center;"><img src="<%= get_image_path(@borrower.image_file_name) %>"  height="42"  width="42" alt="<%= @icaption  %>" style="margin:5px;" /></td>
			</tr>
		</table>
	</div>

</div>
<% end %>
<% end %>