<%= javascript_include_tag 'add_item.js', :type => "text/javascript" %>
<%= stylesheet_link_tag 'rapid_echo_market.css' %>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<%= form_for @borrower, :url=> {:controller=>"borrower", :action => "rapid_borrower_seeking"},  :html=>   {:class=>"rapid_item", :method => 'post'} do |nf| %>

<% if  @borrower.errors.any? %>
<%= render :partial => 'home/check_for_errors', :locals => {:data_source => @borrower}  %>
<% end %>

<div style="display:none;">
<%= nf.hidden_field( :is_active, :value => 1) %>
<%= nf.hidden_field( :is_community, :value=> 3 ) %>
<%= nf.hidden_field( :item_count, :value=> 1) %>
<%= nf.hidden_field( :remote_ip, :value=> request.remote_ip) %>
</div>

<div class="top" >
	<p>
		<span >Your search for what borrowers need did not locate any records</span>
	</p>
	<%= get_search_query_string.html_safe %>
	<p>
		<span >RAPID BORROWER ITEM REGISTRATION</span>
	</p>
	
	<p>
		<%= session[:notice] unless session[:notice].blank? %>
	</p>
	
	<p>Except for Comments, all fields are required.</p>
	
	</p>
	
	<a href="#" onclick="addRapidItem();">==> Save your Item Sought</a>
	<%= link_to '==> Return to New Search', search_item_search_url %>
	<br />
</div>

<div class="error_warning" style="display:none;float:left;">
	<span class="error" id="incomplete_rapid_information" style="font-size:14px;"></span>
</div>

<div style="float:left;width:92%;">
	<label>Please provide an email address for lender contact:</label>
	<br />
	<%= nf.email_field( :email_alternative, :maxlength=>50, :size=>40, :class=> "rapid email" ) %>
</div>


<%= fields_for :primary_address do |builder| %>

<div style="display:none;">
	<%= builder.hidden_field(:lender_id, :value =>"") %>
	<%= builder.hidden_field(:address_line_1, :value => "Rapid Borrower Address") %>
	<%= builder.hidden_field(:city, :value => "Not required") %>
	<%= builder.hidden_field(:address_type, :value => "primary") %>
</div>

<div style="float:left;width:92%;">
	<label>Your Postal Code: </label>
	<br />
	<%= builder.text_field(:postal_code,  :maxlength=>15, :size=>15, :class=> "rapid postal_code") %>
</div>

<div style="float:left;width:92%;">
	<div class="column50_rapid"> 
	<label>Your Country:</label>
	 <%= builder.collection_select(:country_id, Country.all, :id, :country_name, {}, {:class => "rapid country_id"}) %>
	</div>

	
	<div id="country_selected" style="display:block;">
    <div class="column50_rapid">
	<label>Your State or Region: </label>
	<div id="choose_us_state"  style="display:block;" >
		<%= builder.collection_select(:us_state_id, UsState.all, :id, :state_name, {}, {:class => "rapid us_state_id"}) %>
	</div>

	<div id="provide_country_state" style="display:block;" >
		<%= builder.text_field(:region, {:maxlength=>40, :size=>25, :class => "rapid region"}) %>
	</div>
	</div>
</div>
<% end %>

<div style="float:left;width:92%;">

<div class="column50_rapid"><label>Item Category:
<%= nf.collection_select(:category_id, Category.all, :id, :category_type, {}, {:class => "rapid category_id"}) %>
</label>
 
</div>

<div class="column50_rapid"> 
<div style="display:none;" id="other_category">
	<label>Add another category:
	<%= nf.text_field(:other_item_category,:maxlength=>24, :size=>25, :class => "rapid other_item_category") %>
	</label>
</div>
</div>
</div>

<div style="float:left;width:92%;">
<div class="column50_rapid">	
<label for="item_description">Item Description:</label>
<br />
<%= nf.text_field(:item_description, :maxlength=>50, :size=>25, :class => "rapid item_description")  %>
</div>

<div class="column50_rapid">	
<label for="item_model">Item Model:</label>
<br />
<%= nf.text_field(:item_model, :maxlength=>50, :size=>25, :class => "rapid item_model")  %>
</div>
</div>

<div style="float:left;width:92%;">

<div class="column50_rapid">
<label>The Condition of Item:
<%= nf.collection_select(:item_condition_id, ItemCondition.all, :id, :condition, {}, {:class => "rapid item_condition_id"}) %>
</div>

<div class="column50_rapid">
<label>Comments:
<%= nf.text_area(:comment, :rows=>10, :cols=> 40) %></label>
</div>

</div>


<div style="float:left;width:92%;">

<p >
	Echo Market is provided as a goodwill facilitating service to introduce borrowers to lenders and vice versa, seeking or offering nonperishable/ethical items.
	Once a borrower or lender has been introduced, Echo Market will play no mediating role in that event.
</p>

<label for="borrower_goodwill" style="color:#0B0B3B">&nbsp;I am acting and participating in a spirit of goodwill.&nbsp;
	<%= nf.check_box(:goodwill, :class => "rapid goodwill") %>
	</label>

<label for="borrower_age_18_or_more" style="color:#0B0B3B">&nbsp;I have achieved the age of 18 years or more.&nbsp;
	<%= nf.check_box( :age_18_or_more, :class => "rapid age_18_or_more") %></label>
<br/>
</div>
<div class="top">
	<p>
		Echo Market is dedicated to fostering community development through goodwill lending and borrowing
	</p>
</div>
<div class="div_white"></div>
</div>
<% end %>

