<%= javascript_include_tag 'add_item.js', :type => "text/javascript" %>
<%= stylesheet_link_tag 'rapid_echo_market.css' %>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<%= form_for @borrower, :url=> {:controller=>"borrower", :action => "rapid_borrower_seeking"},  :html=>   {:class=>"rapid_item", :method => 'post'} do |nf| %>

<% unless  @borrower.errors.empty? %>
<%= render :partial => 'home/check_for_errors', :locals => {:data_source => @borrower}  %>
<% end %>



<% unless @borrower[0].blank? %>
<% @borrower = @borrower[0] %>
<% end  %>


<div style="display:none;">
<%= nf.hidden_field( :is_active, :value => 1) %>
<%= nf.hidden_field( :is_community, :value=> 0) %>
<%= nf.hidden_field( :item_count, :value=> 1) %>
<%= nf.hidden_field( :remote_ip, :value=> request.remote_ip) %>
</div>

<% display_us_state_id = 'none' %>

<div class="top" >
	<p>
		<span >Your search for what borrowers need did not locate any records</span>
	</p>
	<%= get_search_query_string.html_safe %>
	<p>
		<span >RAPID BORROWER ITEM REGISTRATION</span>
	</p>
	<a href="#" onclick="addLenderItem();">==> Save your Item Sought</a>
	<%= link_to '==> Return to New Search', search_item_search_url %>
	<br />
</div>

<div class="error_warning" style="display:none;float:left;">
	<span class="error" id="incomplete_rapid_information" style="font-size:14px;"></span>
</div>

<div style="float:left;;width:92%;">
	<label>Please provide an email address for lender contact:</label>
	<br />
	<%= nf.email_field( :email_alternative, :maxlength=>50, :size=>40 ) %>
</div>


<%= fields_for :addresses do |builder| %>

<div style="display:none;">
	<%= builder.hidden_field( :lender_id, :value =>"") %>
	<%= builder.hidden_field( :address_line_1, :value => "NA") %>
	<%= builder.hidden_field( :city, :value => "NA") %>
	<%= builder.hidden_field( :address_type, :value => "primary") %>
</div>

<div style="float:left;;width:92%;">
	<label>Your Postal Code: </label>
	<br />
	<%= builder.text_field( :postal_code,  :maxlength=>15, :size=>15) %>
</div>

<div style="float:left;;width:92%;">
	<div class="column50_rapid"> 
	<label>Your Country:</label>
	 <%= builder.collection_select :country_id, Country.all, :id, :country_name %>
	</div>

	
	<div id="country_selected" style="display:block;">
    <div class="column50_rapid">
	<label>Your State or Region: </label>
	<div id="choose_us_state"  style="display:<%= display_us_state_id %>;" >
		<%= builder.collection_select :us_state_id, UsState.all, :id, :state_name %>
	</div>

	<div id="provide_country_state" style="display:block;" >
		<%= builder.text_field(:region, :maxlength=>40, :size=>25) %>
	</div>
	</div>
</div>
<% end %>

<div style="float:left;width:92%;">

<div class="column50_rapid"><label>Item Category:
<%= nf.collection_select :category_id, Category.all, :id, :category_type %></label>
 
</div>

<div class="column50_rapid"> 
<div style="display:none;" id="other_category">
	<label>Add another category:
	<%= nf.text_field( :other_item_category,:maxlength=>24, :size=>25) %>
	</label>
</div>
</div>
</div>

<div style="float:left;width:92%;">
<div class="column50_rapid">	
<label for="item_description">Item Description:</label>
<br />
<%= nf.text_field( :item_description, :maxlength=>50, :size=>25) %>
</div>

<div class="column50_rapid">	
<label for="item_model">Item Model:</label>
<br />
<%= nf.text_field( :item_model, :maxlength=>50, :size=>25) %>
</div>
</div>

<div style="float:left;width:92%;">

<div class="column50_rapid">
<label>The Condition of Item:
<%= nf.collection_select :item_condition_id, ItemCondition.all, :id, :condition %>
</div>

<div class="column50_rapid">
<label>Comments:
<%= nf.text_area(:comment, :rows=>10, :cols=> 40) %></label>
</div>

</div>

<div style="float:left;width:92%;">

<p >
	Echo Market is provided as a goodwill facilitating service to introduce borrowers to lenders and vice versa, seeking or offering nonperishable/ethical items.
	Once a borrower or lender has been introduced, Echo Market will play no mediating role in that event.
</p>

<label for="borrowers_goodwill" style="color:#0B0B3B">&nbsp;I am acting and participating in a spirit of goodwill.&nbsp;
	<%= nf.check_box( :goodwill) %></label>

<label for="borrowers_age_18_or_more" style="color:#0B0B3B">&nbsp;I have achieved the age of 18 years or more.&nbsp;
	<%= nf.check_box( :age_18_or_more) %></label>
<br/>
</div>
<div class="top">
	<p>
		Echo Market is dedicated to fostering community development through goodwill lending and borrowing
	</p>
</div>
<div class="div_white"></div>
</div>
<% end %>

