<%= javascript_include_tag 'echo_market.js' %>
<%= form_tag({:action=>"about"}, {:class=>"about"}) do  %>

<style type="text/css">

  a.about {
    color:indigo;
  }

</style>


<div class="top" >
  <p><span class="logo_white" >The Echo Market</span></p>
  <p >About...</p>

</div>

<div class="column">
  <div >

    <p >Your goodwill resource for lending, borrowing and even trading or donating items.</p>
    <p >What kind of items? Echo Market supports the exchange of items that enhance, advance and/or
      improve the lives of its participants. </p>

    <p >You are discovering Echo Market very early in its development and deployment phase.  There may be errors.  As you
      contribute I have made provisions for protect your privacy... Otherwise, if you discover errors here, please contact Echo Market.</p>

<p>Types of lenders: A generous individual, an Emergency Service, an International NGO, a religious organization... Someone having a Yard Sale.  Anyone willing to provide item(s) to a borrower.  Lender can offer item(s) for free, for a small fee, for purchase, for donatation or trade, 
	and they can specify conditions of the lending like requiring a security deposit or requesting a third-party presence during item transfer. </p>
<p>Types of borrowers: an individual, enterprise or organization with an urgent, one-time or regular-basis need to borrow. </p>


    <p >As a visitor to The Echo Market, you can view what's available for lending, or view what's needed from borrowers.  As guest you will be able to view further item details, but
    you will not be able to post items for either lending or borrowing.</p>
    <p >As a registered member of The Echo Market, you can view what's available for lending or borrowing, and Offer Items to Lend or
      Seek Items to Borrow as either an individual, organization or Community.
    </p>

<p >Did I say 'Community'?  Yes, within Echo Market, you can now create your own Community with the option to list members.  
	On login to your Community, the entirety of the Echo Market presence pertains only to your Community.  Sales Pitch! Your Community presence can be customized to your preferences: changing its appearance, adding features, removing features...</p>       
    <p >The Echo Market is a <%= link_to " non-profit ", {:controller => "home", :action => "donate", :class=>"about"} %>, goodwill-based site.</p>

    <div class="bottom">
      <% unless session[:user_id].blank? %>
      <%= link_to "I'd like to Register as a Community", community_new_url %>
      <br />
       <%= link_to "I'd like to Register as a Lender, Borrower or Guest", user_register_url(:id=>'', :type=>'all') %>
      <% else%>
      <%= link_to "Let's see what is available for lending or borrowing", home_items_listing_url %>
      <% end %>
    </div>
  </div>
</div>

<% end %>