<script>


  $(document).ready(function() {

    $.fn.center = function () {
    	
      var element = $(this);
      var e_width = element.width();
      var win_width = $(window).width();
      var left_margin_calc =  (win_width - e_width) / 2;
      element.css('margin-left', (left_margin_calc + "px"));

    };


    $("div.form_wrapper").center();
  });


  function submitSearch(){
      
    if (($('input#search_product').val() == '') && ($('input#search_postal_code').val() == '')) {
      $("span#echo_market_search_error").text("You have to provide either a product or postal code search value.");
      $("span#echo_market_search_error").css("color", "red");
      $("span#echo_market_search_error").css("visibility", "visible");

    } else{
     
      $("form.item_search").submit();
    }
  }
</script>
<form class="item_search" method="post" >
  <div class="top" >
    <p><span class="logo_white" >The Echo Market</span></p>
    <p>SEARCH</p>
  </div>
  <div style="display:inline-block;vertical-align:top;margin-left:15px;margin-top:15px;">

    <label>Items to borrower or items to lend?:</label>
    <%= render :partial => 'home/i_am_seeking', :locals => {:which_class=>"radio"} %>
  </div>

  <div  style="float:left;margin-top:5px;margin-left:15px;" >
    <label>Enter your search value(s) here, each separated by a space:&nbsp;</label>
      <span class="max_length" style="float:left;width:94%;">60 characters permitted</span>
    <%= text_field_tag "search_product" , nil, :maxlength=> 60, :size=> 62 %>
    <span class="offering" style="float:left;">Assuming lender or borrower display permission(s), all relevant item lender and borrower database values will be searched for your value(s).
      Please be specific, just use singular nouns or verbs if they describe a product.</span>
  </div>

  <div  style="float:left;margin-top:5px;margin-left:15px;">
    <label>Location. Enter a postal code here.</label>
    <%= text_field_tag "search_postal_code" , nil,  :maxlength=> 12, :size=> 14 %>
    <span class="offering" style="float:left;">You can use the '*' wildcard. Find all items in the Boston, MA area, use wildcard search value '021*' without the single quotes.</span>

  </div>
  <div  style="float:left;margin-top:5px;width:76%;margin-left:15px;" >
    <span class="error" id="echo_market_search_error">Error message</span>
    <a style="color:indigo;font-weight:bold;" href="#" onclick="submitSearch();">I am hopeful! Go ahead and Search...</a>
  </div>


  <% unless session[:community_id].blank? %>
  	<% @lc = Lenders.count(:conditions =>   ["is_active = 1 AND is_saved = 1 AND is_community = 1"]) %>
  	<% @bc = Borrowers.count(:conditions => ["is_active = 1 AND is_saved = 1 AND is_community = 1"]) %>
  <% else %>
 	<% @lc = Lenders.count(:conditions =>   ["is_active = 1 AND is_saved = 1 and is_community = 0"]) %>
  	<% @bc = Borrowers.count(:conditions => ["is_active = 1 AND is_saved = 1 and is_community = 0"]) %>
  <% end %>
  <% if @item_search_query.blank? %>

    <% unless session[:on_search_open] %>
      <div style="margin-left:15px;margin-top:5px;float:left;">
        <% if @lc > 0 && @bc = 0 %>
          <p>1Sorry but your search criteria, <%= session[:search_params] %>, did not produce any results, please try again...  There are <%= @lc %> items available for lending, and at the moment no one is seeking to borrow.
          </p>
        <% elsif @lc = 0 && @bc > 0 %>
          <p>2Sorry but your search criteria, <%=  session[:search_params] %>, did not produce any results, please try again...  There are <%= @bc %> borrowers seeking items, and at the moment no one is offering items.</p>
        <% else %>
          <p>3Sorry but your search criteria, <%=  session[:search_params] %>, did not produce any results, please try again...  There are <%= @lc %> items available for lending, and <%= @bc %>  borrows seeking items. </p>

        <% end %>


      </div>
    <% else %>
      <div style="margin-left:15px;margin-top:10px;float:left;">

        <% if (@lc > 0 && @bc = 0) %>
          <p>4There are <%= @lc %> items available for lending, and at the moment no one is seeking to borrow.
          </p>
        <% elsif @lc = 0 && @bc > 0 %>
          <p>5There are <%= @bc %> borrowers seeking items, and at the moment no one is offering items.</p>
        <% else %>
          <p>6There are <%= @lc %> items available for lending, and <%= @bc %>  borrowers seeking items. </p>

        <% end %>

      </div>
    <% end %>
  <% else %>
    <div style="margin-left:15px;margin-top:10px;">
      <% which_type =  session[:item_search_query] %>
      <p style="margin:15px;color:red;float:left;">Your <%= which_type %> search for ' <%= session[:search_params] %> ' produced the following results.  Confused?  Please notice Option above, 'Items to borrower or items to lend?'.</p>
    </div>



    <table class="personal" >
      <tr>
        <th>Category</th>
        <th>Description</th>
        <th>Model</th>
        <th>Condition</th>
        <th>Postal Code</th>
        <th>Detail</th>
      </tr>
      <% @item_search_query.each do |isq| %>

        <tr>
          <td>
            <% @cats = Categories.find(:first, :select=> "category_type", :readonly=>true, :conditions => ["category_id = ?", isq.item_category_id]) %>
            <%= (isq.item_category_id.blank? ? "No Item Category provided" : @cats.category_type) %>
          </td>
          <td>
            <%= (isq.item_description.blank? ? "NA": isq.item_description) %></td>
          <td>
            <%= (isq.item_model.blank? ? "NA": isq.item_model) %></td>
          <td>
            <% @cond = Itemconditions.find(:first, :select=> "conditions", :readonly=>true, :conditions => ["item_conditions_id = ?", isq.item_condition_id]) %>
            <%= (isq.item_category_id.blank? ? "No Item Condition provided" : @cond.conditions) %>
          </td>
          <td>
            <%= (isq.postal_code.blank? ? "NA": isq.postal_code) %></td>
          <td>
            
            <% if session[:item_search_query]=="borrower" %>
            		<% if session[:community_id].blank? %>
              			<%= link_to "More..."  , borrower_item_detail_url(:id => isq.borrower_item_id), {:style=>"color:#ff4500;"} %>
            		<% else %>
            		     <%= link_to "More..."  ,community_borrower_item_detail_url(:id => isq.borrower_item_id), {:style=>"color:#ff4500;"} %>
            		<% end %>     
           <% else %> 		
              		<% if session[:community_id].blank? %>
              			<%= link_to "More..."  , lender_item_detail_url(:id => isq.lender_item_id), {:style=>"color:#ff4500;"} %>
            		<% else %>
            		     <%= link_to "More..."  ,community_lender_item_detail_url(:id => isq.lender_item_id), {:style=>"color:#ff4500;"} %>
            		<% end %>
          <% end %>
            
            
          </td>

        </tr>
      <% end %>
    </table>
  <% end %>

</form>