<%= javascript_include_tag 'echo_market.js' %>
<form class="items_listing"  id="lenders_item_form" >
	<div class="top" >
		<p>
			<span class="logo_white" >The Echo Market&nbsp;&copy;</span>
		</p>
		<p>
			Your goodwill resource for lending, borrowing, and even donating and trading items as an individual, organization or Community.
		</p>
		<p>
			ITEMS LISTING
		</p>
		<%= link_to 'Learn More About The Echo Market', {:controller => "home", :action=> "about"}, {:class=> "search" , :style=> "margin-left:20px;"}   %>
	</div>

	<% if session[:notice] %>
	<div class="top_notice" style="margin-top:5px;margin-left:5px;padding:5px;">
		<p>
			<%= session[:notice] %>
		</p>
	</div>
	<% end %>

	<div class="column40">
		<h2 class="h2_listing" >What is offered to lend...</h2>

	 	<% if session[:community_name].blank? %>
	    
	    <% @lender = Lender.joins(:category, :item_condition, :item_images).select(["lenders.*", "categories.category_type", "item_conditions.condition", "item_images.*"]).where([" lenders.is_active=1 AND (lenders.is_community = 0  OR lenders.is_community = 3 )"]).order("categories.category_type ASC, lenders.date_created ASC ")
	                
	                %>
						
		<% else %>
		
           <% where_clause = "lenders.is_active= 1 AND lenders.is_community = 1  AND lenders.user_id  =  '#{session[:user_id]}'" %>
	       <% @lender = Lender.joins(:category, :item_condition, :item_images).select(["lenders.*", "categories.category_type", "item_conditions.condition", "item_images.*"]).where([where_clause]).order("categories.category_type ASC, lenders.date_created ASC ")                %>
        
		<% end %>

		<% if @lender.blank? %>
		<p style="padding:5px;margin-left:-5px;">
			Seems that no one has offered to lend anything...
		</p>

		<% if session[:user_type] == 'lender' || session[:user_type] == 'both' %>
			
                     <%= link_to "Would you like to offer something to lend?", {:controller=> "lender", :action=> "lender_history", :id => session[:user_id]}, {:class => "search1"}  %>
			
		
		
		<% else %>
		<%= link_to "Please login or register as a 'lender' to offer an item.", user_login_path(:id => '', :type => 'lender'), {:class=> "search1"}   %>
		<% end %>

		<% else %>
	 
       
		<% @lender.each do |ldr| %>
		<label>Category: &nbsp;<%= ldr.category_type %></label>
		<br />
		<% file_path_str = ldr.image_file_name %>
		<% icaption = (ldr.item_image_caption.blank? ? '' : ldr.item_image_caption)  %>
		<img src='<%= get_image_path(file_path_str.to_s) %>' alt="<%= icaption  %>" style="margin:5px;"  height="50" width="50" />
		<% unless icaption.blank? %>
		<label class="item_listing"><%= icaption %></label>
		<% end %>
		<label class="item_listing" >Item Description: &nbsp;<%= ldr.item_description %></label>
		<label class="item_listing">Model: &nbsp;<%= ldr.item_model %></label>
		<label class="item_listing">Condition:&nbsp;<%= @ih2[ldr.item_condition_id.to_s] %></label>
		
			
	<%= link_to "Details..." , lender_item_detail_url(:id => ldr.id), {:class=>"item_details"}  %>
				
		
		<hr style="color:indigo;" />

		<% end %>

		<% end %>
	</div>

	<div class="column40">
		<h2 class="h2_listing" >What is sought to borrow...</h2>

		<% if session[:community_name].blank? %>
		
    <% @borrower = Borrower.joins(:category, :item_condition, :item_images).select(["borrowers.*", "categories.category_type", "item_conditions.condition", "item_images.*"]).where([" borrowers.is_active=1 AND (borrowers.is_community = 0  OR borrowers.is_community = 3 )"]).order("categories.category_type ASC, borrowers.date_created ASC ")
	                
	                %>
						
		<% else %>
		
           <% where_clause = "borrowers.is_active= 1 AND borrowers.is_community = 1  AND borrowers.user_id  =  '#{session[:user_id]}'" %>
	       <% @borrower = Borrower.joins(:category, :item_condition, :item_images).select(["borrowers.*", "categories.category_type", "item_conditions.condition", "item_images.*"]).where([where_clause]).order("categories.category_type ASC, borrowers.date_created ASC ")
	               %>
		
		<% end %>

		<% if @borrower.blank? %>
		<p style="padding:5px;margin-left:-5px;">Seems that no one is seeking to borrow anything...</p>
		<% if session[:user_type] == 'borrower' || session[:user_type] == 'both' %>
	      <%= link_to "Would you like to borrow something?", {:controller => "borrower", :action=> "borrower_history", :id=> session[:user_id]}, {:class=>"search1"}  %>
		<% else %>
		<%= link_to "Please login or register as a 'borrower' to seek an item.", user_login_url(:id => '', :type => 'borrower'),  {:class => "search1"}   %>
		<% end %>

		<% else %>
		
		<% @borrower.each do |ldr| %>
		<label class="item_listing">Category:&nbsp;<%= ldr.category_type %></label>
		<br />
		<% file_path_str = ldr.image_file_name %>
		<% icaption = (ldr.item_image_caption.blank? ? '' : ldr.item_image_caption) %>
		<img src='<%= get_image_path(file_path_str.to_s) %>' alt="<%= icaption %>" style="margin:5px;" height="50" width="50" />
		<% unless icaption.blank? %>
		<label class="item_listing"><%= icaption %></label>
		<% end %>
		<label class="item_listing" >Item Description: &nbsp;<%= ldr.item_description %></label>
		<label class="item_listing">Model: &nbsp;<%= ldr.item_model %></label>
		<label class="item_listing">Condition:&nbsp;<%= ldr.condition %></label>
        		
			<%= link_to "Details..." , borrower_item_detail_url(:id => ldr.id), {:class=>"item_details"} %>
		
		<hr style="color:indigo;" />

		<% end %>

		<% end %>
	</div>
<div   class="div_white" >&nbsp;</div>
<div   class="div_white" >&nbsp;</div>
	<div class="bottom">
		<% unless session[:user_type].blank? %>
		<% if session[:user_type] == 'lender' || session[:user_type] == 'both' %>
		
		<% unless session[:community_id].blank? %>
			<a href="/lender/community_lender_offering" >=> Offer an Item to Lend</a>
		<% else %>
			<a href="/lender/lender_offering" >=> Offer an Item to Lend</a>
		<% end %>
		
		
		
		<% end %>
		<% if session[:user_type] == 'borrower' || session[:user_type] == 'both' %>
		
		<% unless session[:community_id].blank? %>
			<a href="/borrower/community_borrower_seeking" >=> Seek an Item to Borrow</a>
		<% else %>
			<a href="/borrower/borrower_seeking" >=> Seek an Item to Borrow</a>
		<% end %>
		
			
		
		<% end %>
		<% if session[:user_type] == 'guest'  %>
		<%= link_to "=> You are registered as a 'Guest', please change that status to offer or seek items.", user_edit_url, {:class=> "search"}   %>
		<% end %>
		<% else %>
		<%= link_to '=> Become a registered Echo Market Lender, Borrower or Guest', user_register_url(:type=>'all', :id=>''), {:class=> "search"}   %>
		<% end %>
	</div>

	
	<% if session[:community_id].blank? %>
	
	<div class="bottom_flash">
		<p class="offering">
		<span class="logo_white" >Create Your Own Echo Market Community</span> </p>
		
		<%= link_to 'Just what I was hoping for... I want to create my Echo Market Community now', community_new_url( :id=>'', :type=>'all'), :class=> "search"   %>
           <p style="color:indigo;font-size:16px;font-weight:normal;">Register as a Community before June, 2015, and Echo Market will provide Five-Point Customization for free.</p> 
		<div   class="div_white" >&nbsp;</div>
	</div>
	
	<% end %>
	
	
	<div   class="div_white" >&nbsp;</div>
</form>
