<form class="items_listing",  id="lenders_item_form") >
  <div class="top" >
    <p><span class="logo_white" >The Echo Market</span></p>
    <p>ITEMS LISTING</p>
 <%= link_to 'Learn More About The Echo Market', {:controller => "home", :action=> "about"}, {:class=> "search" , :style=> "margin-left:25px;"}   %>
  </div>

  <% if session[:notice] %>
    <div class="top_notice" style="margin-top:5px;margin-left:5px;padding:5px;">
      <p><%= session[:notice] %></p>
    </div>
  <% end %>

  <div class="column40">
    <h2 id="h2_listing" >What is offered to lend...</h2>

    <% @lender = Lenders.find(:all, :order =>"item_category_id ASC, date_created ASC", :conditions => ["is_active = 1"])  %>
    <% if @lender.blank? %>
      <p style="padding:5px;margin-left:-5px;">Seems that no one has offered to lend anything...</p>


      <% if session[:user_type] == 'lender' || session[:user_type] == 'both' %>
        <%= link_to "Would you like to offer something to lend?", lender_offering_path(:id => session[:user_id], :type => session[:user_type]), {:class=> "search1"}   %>
      <% else %>
        <%= link_to "Please login or register as a 'lender' to offer an item.", user_login_path(:id => '', :type => 'lender'), {:class=> "search1"}   %>
      <% end %>


    <% else %>
      <% hold_cat  = "" %>

      <% @lender.each do |ldr| %>
        <% @cats = Categories.find(:first, :readonly, :conditions => ['category_id = ?', ldr.item_category_id])  %>
        <% if @cats %>
          <% if ((@cats.category_id == ldr.item_category_id) && (hold_cat != @cats.category_id))  %>
            <label>Category: &nbsp;<%= @cats.category_type %></label><br />
            <% hold_cat  = @cats.category_id %>
          <% end %>
        <% end %>
        <% @imgs = Itemimages.find(:all,:readonly => true, :conditions => ['lender_item_id = ?', ldr.lender_item_id])  %>
        <% if @imgs %>
          <% @imgs.each do |oimg| %>
            <% file_path_str = "../images/item_images/" + oimg.image_file_name %>
            <%  icaption = (oimg.item_image_caption.blank? ? '' : oimg.item_image_caption)  %>
            <img src='<%= file_path_str.to_s %>' alt="<%= icaption  %>" style="margin:5px;"  height="50" width="50" />
            <% unless icaption.blank? %>
              <label id="item_listing"><%= icaption %></label>
            <% end %>
          <% end %>
        <% end %>
        <label id="item_listing" >Item Description: &nbsp;<%= ldr.item_description %></label>
        <label id="item_listing">Model: &nbsp;<%= ldr.item_model %></label>
        <% @icond = Itemconditions.find(:first, :readonly=> true, :order => "item_conditions_id", :conditions => ['item_conditions_id = ?', ldr.item_condition_id]) %>
        <label id="item_listing">Condition:&nbsp;<%= @icond.conditions %></label>
        <%= link_to "Details..." , lender_item_detail_url(:id => ldr.lender_item_id), {:class=>"item_details"}  %>

        <hr style="color:indigo;" />

      <% end %>

    <% end %>
  </div>

  <div class="column40">
    <h2 id="h2_listing" >What is sought to borrow...</h2>

    <% @borrower = Borrowers.find(:all, :order =>"item_category_id ASC, date_created ASC", :conditions => ["is_active = 1"])  %>
    <% if @borrower.blank? %>
      <p style="padding:5px;margin-left:-5px;">Seems that no one is seeking to borrow anything...</p>
      <% if session[:user_type] == 'borrower' || session[:user_type] == 'both' %>
        <%= link_to "Would you like to borrow something?", borrower_seeking_url(:id => session[:user_id], :type => session[:user_type]), {:class=> "search1"} %>
      <% else %>
        <%= link_to "Please login or register as a 'borrower' to seek an item.", user_login_url(:id => '', :type => 'borrower'),  {:class => "search1"}   %>
      <% end %>
    <% else %>
      <% hold_cat  = "" %>

      <% @borrower.each do |ldr| %>
        <% @cats = Categories.find(:first, :readonly, :conditions => ['category_id = ?', ldr.item_category_id])  %>
        <% if @cats %>
          <% if ((@cats.category_id == ldr.item_category_id) && (hold_cat != @cats.category_id))  %>
            <label>Category: &nbsp;<%= @cats.category_type %></label><br />
            <% hold_cat  = @cats.category_id %>
          <% end %>
        <% end %>
        <% @imgs = Itemimages.find(:all,:readonly => true, :conditions => ['borrower_item_id = ?', ldr.borrower_item_id])  %>
        <% if @imgs %>
          <% @imgs.each do |oimg| %>


            <% file_path_str = "../images/item_images/" + oimg.image_file_name %>
            <%  icaption = (oimg.item_image_caption.blank? ? '' : oimg.item_image_caption) %>
            <img src='<%= file_path_str.to_s %>' alt="<%= icaption %>" style="margin:5px;" height="50" width="50" />
            <% unless icaption.blank? %>
              <label id="item_listing"><%=  icaption %></label>
            <% end %>



          <% end %>
        <% end %>
        <label id="item_listing" >Item Description: &nbsp;<%= ldr.item_description %></label>
        <label id="item_listing">Model: &nbsp;<%= ldr.item_model %></label>
        <% @icond = Itemconditions.find(:first, :readonly=> true, :conditions => ['item_conditions_id = ?', ldr.item_condition_id]) %>
        <label id="item_listing">Condition:&nbsp;<%= @icond.conditions %></label>
        <%= link_to "Details..." , borrower_item_detail_url(:id => ldr.borrower_item_id), {:class=>"item_details"} %>

        <hr style="color:indigo;" />

      <% end %>

    <% end %>
  </div>

  <div class="bottom">
    <% unless session[:user_type].blank? %>
      <% if session[:user_type] == 'lender' || session[:user_type] == 'both' %>
        <a href="/lender/lender_offering" >=> Offer an Item to Lend</a>
      <% end %>
      <% if session[:user_type] == 'borrower' || session[:user_type] == 'both' %>
        <a href="/borrower/borrower_seeking" >=> Seek an Item to Borrow</a>
        <% end %>
      <% if session[:user_type] == 'guest'  %>
        <%= link_to "=> You are registered as a 'Guest', please change that status to offer or seek items.", user_edit_url, {:class=> "search"}   %>
      <% end %>
    <% else %>
      <%= link_to '=> Become a registered Echo Market Lender, Borrower or Guest', user_register_url(:type=>'all', :id=>''), {:class=> "search"}   %>
    <% end %>


  </div>


</ form>
