<%= javascript_include_tag 'advertiser.js', :type => "text/javascript"  %>

<%= form_for @advertiser, :url=> {:controller=>"advertiser", :action => "create"},:html=>   {:class=>"advertiser", :multipart=>true} do |nf| %>

<div class="top" >

	<p><span class="logo_smallw" >The Echo Market: Your Advertisement Information</span></p>
	<p class="offeringa">Place your advertisment here for free.  For free with a little effort on your part...</p>
	<p class="offeringa">On a calendar monthly basis, free advertising requires that from your contacts at least one individual/organization creates some combination of four new borrowing or lending records.</p>
	<p class="offeringa">In creating those records they and actually other Echo Market Borrowers/Lenders will be able to identify you as their Echo Market reference.  In this fairly simple process,
		you will gain so much visibility. Echo Market continues to be sought by thousands of new or returning users and dozens of search engines.  So make your entries here meaningful and specific to your purpose.
	</p>
	<% unless session[:notice].blank? %>
	<p class="offeringa">
		<%= session[:notice] %>
	</p>
	<% end  %>
</div>


<% unless  @advertiser.errors.empty? %>
<%= render :partial => 'home/check_for_errors', :locals => {:data_source => @advertiser}  %>
<% end %>


<div style="float:left;width:92%;">
	<span class="registration_header" style="display:none;color:black;font-size:14px;font-weight:bold;text-decoration:none;float:left;margin:10px;width:94%;">All fields are required.</span>
</div>

<div style="display:none" >
	<%= nf.hidden_field( :approved, :value => 0 ) %>  
	<%= nf.hidden_field( :remote_ip, :value => request.remote_ip) %>
	<%= nf.hidden_field( :is_active, :value => 1) %>
	<%= nf.hidden_field( :is_activated, :value => 0) %>
	<%= nf.hidden_field( :date_created, :value => Time.now) %>
		
</div>

<div class="column50_rapid" style="padding:15px;">
	<div >
	
	<label>Advertisement Title:&nbsp;<span style="float:left;color:red;font-size:small;">Your company or service name... An annoucement of an event, a new resource...</span></label>
	<%= nf.text_field( :title,  :maxlength=>50, :size=>24) %>
	
	<span class="error" id="advertisement_title_error">&nbsp;</span>
	</div>
	
	<div >
	<label>Contact Email:&nbsp;<span style="float:left;color:red;font-size:small;">Will not be publicly dislayed, only for purposes of Echo Market communication with you.</span></label>
	<%= nf.text_field( :advertiser_email,  :maxlength=>50, :size=>24) %>
	<span class="error" id="advertisement_email_error">&nbsp;</span>
	</div>

<div >
		
	<label>Advertisement Category:&nbsp;<span style="float:left;color:red;font-size:small;">Choose an Item category that most parallels your advertisement, otherwise choose 'Other'</span></label>
	<%= nf.collection_select :category_id, Category.all, :id, :category_type %>
	
	<span class="error" id="category_id_error">Choose a 'Category'.</span>
</div>


 <div style="display:none;" id="other_category">
	<label>Add another category:</label>
	<%= nf.text_field( :category_other) %>
</div>


</div>
<div class="column50_rapid" style="padding:15px;">
<div >
	<label>Advertisement Content:</label>
	<%= nf.text_area( :description,  :cols=> 40, :rows=> 3, :maxlength=>255) %>
	<span class="error" id="advertisement_description_error">&nbsp;</span>
</div>



<div >
	<label>URL Link:&nbsp;<span style="float:left;color:red;font-size:small;">On user click of either your advertisement title or icon/logo, the user will be directed to this URL.</span></label>
	<%= nf.url_field( :advertiser_url,  :maxlength=>50, :size=>24, :placeholder =>"http://") %>
	<span class="error" id="advertisement_url_error">&nbsp;</span>
</div>

<div >
	<label>Advertisement Icon/Logo:</label>
	<%= fields_for :item_image do |builder| %>
	<%=  builder.label :item_image_caption , "Item Caption" %>
	<%= builder.text_field :item_image_caption %>
	<%= builder.file_field :item_image_upload, {:id=>"l2bimage", :accept=>"image/*"} %>
    <%= builder.hidden_field :lender_id, :value => '' %>
    <%= builder.hidden_field :borrower_id, :value => '' %>
    <%= builder.hidden_field :date_created, :value => Time.now %>
    <%= builder.hidden_field :is_active, :value => 1 %>
	<% end %>
	
	
</div>



<div id='image_details' style="display:block;">
	<img src="" id="imagePreview" height="100" width="200" alt="New uploaded image file" />
	<span class="error" id="advertisement_file_image_error">&nbsp;</span>	
</div>

</div>

<div   class="div_white" id="div_white" >
	
</div>

<div class="bottom">
	<a href="#" onclick="submitAdvertisement();">=> Submit My Advertisement</a>
	<%= link_to "=> Nevermind..Let's see what's available for lending and borrowing.", home_items_listing_url  %>
	
</div>

<% end %>
