<%= javascript_include_tag 'login.js', :type => "text/javascript" %>
	
<style>
	input#form_submit1 {
		background-color: indigo;
		color: white;
		font-size: 12px;
		width: auto;
		height: auto;
		border: none;
		margin-left: 15px;
		padding: 0;
		float: left;
	}
	th {
		width: auto;
		text-align: left;
	}

	td {
		text-align: center;
	}

	p {
		padding: 5x;
		margin-left: 5px;
		color: black;
		font-size: 14px;
		/*    border-bottom:1px solid #ddd;*/
		font-weight: bold;
		width: 94%;
	}

</style>


<%= form_for @community , :url=>  {:controller=>"community", :action => "advise"}, :html=> {:class=>"register_community", :id=>"register_community"} do |nf| %>
<div class="top" >

	<p>		<span class="logo_white" >The Echo Market</span>
	</p>

	<p >	COMMUNITY REGISTRATION, continued...
	</p>

	<% if session[:notice] %>
	<p>		<%= session[:notice] %>
	</p>
	<% end %>

</div>

	
<div class="top_notice_5" id="commmunity_info">
	
	<p>Would you like to add members to your Community?
	</p>
	<p>Adding members is optional, but recommended as it adds a layer of security to your Community. You may choose later to add members, and of course update or delete members.
	</p>
	<p>Frankly, adding members seems to be a great opportunity to <span class="logo_smaller">Throw A Echo Market Commmunity Member Party!</span>
	</p>
</div>

<div id="community_members_build" style="display:block;float:left;width:96%;">
	<p>
		For each member, you need to provide either a member's full name or alias.  Either way, for each member that name or alias must be unique.  On login to the Echo Market, the member will need to provide the Community name, Community password and then provided either his/her fullname or alias.
	</p>


	<div id="add_community_members" style="display:block;float:left;width:96%;height:auto;margin:5px;">
		
		
		<table class="history_members" style="margin-left:25px;">

			<tr >
				<th >First Name</th>
				<th >MI</th>
				<th>Last Name</th>
				<th>OR</th>
				<th>Alias</th>
				<th>Function</th>
			</tr>
	
			
			<tr class="even" >

				<td width= "20%"> <%= nf.text_field(:first_name, :size=>24, :class=> "creator first_name") %>
					<%= nf.hidden_field(:is_creator, :value => 1) %>
				</td>
				<td width='5%'><%= nf.text_field(:mi, :size=>1, :class => "mi") %></td>
				<td width='20%'><%= nf.text_field(:last_name, :size=>24, :class => "creator last_name") %></td>
				<td width="5%">OR</td>
				<td width='20%'><%= "Alias on Community creator not permit" %></td>
				<td width='20%'><%= nf.submit "Update Creator" %></td>
			</tr>
		
		  	<%= nf.fields_for :noncreator_community_members, @community.community_members.noncreator_community_members do |builder| %>
			<% rowClass = ((rowCount%2) == 1 ? "odd" : "even" )  %>
			<tr class="<%= rowClass %>" >
               
				<td width= "20%"><%= builder.text_field(:first_name, {:maxlength=>24, :size=>20, :class=> "member first_name"})  %></td>
				<td width='5%'><%= builder.text_field(:mi,  {:maxlength=>1, :size=>2, :class => "member mi"}) %></td>
				<td width='20%'><%= builder.text_field(:last_name,  {:maxlength=>24, :size=>20, :class => "member last_name"}) %></td>
				<td width="5%">OR</td>
				<td width='20%'><%= builder.text_field(:alias, {:maxlength=>50, :size=>20, :class => "member alias"}) %></td>
				<td width='30%'><%= builder.label :_destroy, "Remove Member" %><%= builder.check_box :_destroy %></td>
				
			</tr>
			<% rowCount = rowCount + 1 %>
			<% end %>
	           

					<tr>
						<td colspan=6 style="text-align:center;font-size:14px;color:red;">
						<span class="error" id="incomplete_information_error" >incomplete</span>
						</td>
					</tr>
					<tr >
						<td colspan=6 ><span style="color:red;font-size:12px;">Presented to you are all the existing member(s). Click here to add a new one:</span><%= nf.submit "Add Member" %></td>
					</tr>
					<tr>
						<td colspan=6 ><span style="color:red;font-size:12px;">Here your selection of either a fullname or alias, and checked 'Remove Member' to delete from Echo Market will be processed:</span><%= nf.submit "Update Members" %></td>
					</tr>
				
		</table>
	
		
	</div>

</div>

<% end%>

