<%= javascript_include_tag 'login.js' %>

<%= form_for @user, :url=> {:controller=>"user", :action => "edit"} do |f| %>

<div class="top" >
	<p>
		<span class="logo_white" >The Echo Market</span>
	</p>
	<p>
		USER ACCOUNT
	</p>
</div>
<%= render :partial => 'home/check_for_errors', :locals => {:data_source => @user}  %>
<%= f.hidden_field(:user_id)   %>

<div class="column" >
	<label for="alias">Current Alias: &nbsp;
		<%= f.text_field(:user_alias, :maxlength =>16) %></label>
		&nbsp;&nbsp;<span class="error" id="user_alias_error">This is an error</span>
</div>

<div class="column" >

	<% @userTypeArray = Array.new %>
	<% @userTypeArray << ["guest","Guest"] %>
	<% @userTypeArray << ["borrower","Borrower"] %>
	<% @userTypeArray << ["lender","Lender"] %>
	<% @userTypeArray << ["both","Lender/Borrower"] %>

	<label for="user_type">Current User Type:&nbsp;
		<%= f.select(:user_type, @userTypeArray.collect {|p| [ p[1], p[0]]}) %> </label>
		&nbsp;&nbsp;<span class="error" id="user_user_type">This is an error</span>
</div>
<div class="column"  >

	<label for="email">Current User Email:&nbsp;
		<%= f.text_field :email %> </label>
		&nbsp;&nbsp;<span class="error" id="user_email_error">This is an error</span>
		<br />

</div>
<div class="bottom" >
	<%= f.submit 'Save My Changes' %>
	<%= link_to "Delete My Account" , controller => "user", :action => "delete_user_account" %>
	<%= link_to "Nevermind, not now. What's out there?" , home_items_listing_url %>
</div>
<% end %>