<%= javascript_include_tag 'login.js' %>
<%= form_for @users, :url=> {:controller=>"user", :action => "reset_password", :reset_code=> @User.reset_code}, :html=> {:class=>"reset_password", :id=>"reset_password"} do |f| %>

  <div class="top" >
    <p><span class="logo_white" >The Echo Market</span></p>
    <p>RESET PASSWORD</p>
    <% if session[:notice] %>
      <%= session[:notice] %>
    <% end %>
  </div>
	<% if @User.errors.any? %> 
		<%= render :partial => 'home/check_for_errors', :locals => {:data_source => @users}  %>
	<% end %>
<%= f.hidden_field(:reset_code) %>

  <div class="column">
    <label for="password"><span title="Password is required. Please no fewer than 8 characters and no more than 16.">Password:&nbsp; </span>

      <%= f.password_field(:password, :maxlength =>16) %></label>
    <span class="error" id="registration_password_error">This is an error</span>
  </div>

  <div class="column">
    <label for="password_confirmation"><span title="Password and Confirm Password must match.">Confirm Password:&nbsp; </span>
      <%= f.password_field(:password_confirmation, :maxlength =>16) %></label>
    <span class="error" id="registration_password_confirmation_error">This is an error</span>
  </div>


  <div class="bottom" >

    <a href="#" onclick="submitPasswordReset();">=> Please reset my password</a>
    <%= link_to '=> I remembered my password', user_login_url(:id => '', :type=>'all'), { :class => 'button_style'} %>

  </div>
<% end %>