<%= javascript_include_tag 'login.js' %>
<% if session[:register_type].blank? || session[:register_type]== 'all' %>
<% @lender_type_string == "" %>
<% elsif session[:register_type] == "both" %>
<% @lender_type_string == "LENDER/BORROWER" %>
<% else %>
<% @lender_type_string = session[:register_type].upcase + " " %>
<% end %>
<%= form_for @users, :url=> {:controller=>"user", :action => "login", :commit=>"login"}, :html=> {:class=>"login",  :id=>"user_login_form"} do |nf| %>

<div class="top" >
	<p>
		<span class="logo_white" >The Echo Market</span>
	</p>
	<p>
		<%= @lender_type_string %> LOGIN: As either an established Community, or as a Lender, Borrower or Guest...
	</p>
</div>

<% unless session[:login_notice].blank? && session[:notice].blank? %>
<div class="top_notice" style="margin-top:5px;margin-left:5px;padding:5px;">
	<p>
		<%= session[:login_notice] unless session[:login_notice].blank? %>
	</p>
	
	<p>
		<%= session[:notice] unless session[:notice].blank? %>
	</p>
</div>
<% end %>
	<div   class="div_white" >
		&nbsp;
	</div>
<div class='column50_withborder' >
	<p>	Echo Market Community Login
	</p>
	<div style="margin-left:25px;">
		<label>Community Name: <a href="#" onclick="showForgotCommunityName();" tabindex="-1"> &nbsp;&nbsp;<span class="validation">Forgot your Community Name?</span></a> </label>
		<%= nf.text_field(:community_name, {:maxlength=>16, :value=>"" })  %>
		&nbsp;&nbsp; <span class="error" id="login_community_name_error">This is an error</span>
	
	
		<label>Community Password (case sensitive): <a href="#" onclick="showForgotCommunityPassword();" tabindex="-1"> &nbsp;&nbsp;<span class="validation">Forgot your Community password?</span></a> </label>
		<%= nf.password_field(:community_password, {:maxlength=>16,  :value=>""}) %>
		&nbsp;&nbsp;<span class="error" id="login_community_password_error">This is an error</span>
	

	
		<p class="offering">
			Optional, you may login under your Community provided Member full name or alias. Otherwise you can borrow or lend under your Community identity.
		</p>
		<table style="margin-left:0px;widht:100%;">

				<tr >
					<th style="background-color: #FFFFCC;text-align:left;">First Name</th>
					<th style="background-color: #FFFFCC;text-align:left;">MI</th>
					<th style="background-color: #FFFFCC;text-align:left;">Last Name</th>
					<th>&nbsp;</th>
					<th style="background-color: #CCFFCC;text-align:left;">Alias</th>

				</tr>
				<tr>
					<td ><%= nf.text_field(:community_first_name, {:maxlength=>16,  :value=>""}) %>
					
						
					</td>
					<td ><%= nf.text_field(:community_mi, {:maxlength=>1, :value=>""}) %>
					
					</td>
					<td ><%= nf.text_field(:community_last_name, {:maxlength=>16,  :value=>""}) %>
					
					</td>
					<td>OR</td>
					<td ><%= nf.text_field(:community_alias, {:maxlength=>16,  :value=>""}) %>
					
					</td>
				</tr>
					<tr>
					<td >
						
						<span class="error" id="login_community_first_name_error">This is an error</span>
						
					</td>
					<td >
						
						<span >&nbsp;</span>
					</td>
					<td >
						
						<span class="error" id="login_community_last_name_error">This is an error</span>
					</td>
					<td>&nbsp;</td>
					<td >
						
						<span class="error" id="login_community_alias_error">This is an error</span>
					</td>
				</tr>
			</table>
</div>
	
	<div   class="div_white" >
		&nbsp;
	</div>
	<div class="bottom_login">
		<a style="color:white;" href="#" onclick="submitCommunityLogin();">Submit Community Login</a>
	</div>

	<div   class="div_white" >&nbsp;</div>
</div>

<div class='column50_withborder' >
	<p>
		Echo Market Lender, Borrower, and Guest Login
	</p>
	<div style="margin-left:25px;">
		<label>Username: <a href="#" onclick="showForgotUsername();" tabindex="-1"> &nbsp;&nbsp;<span class="validation">Forgot your username?</span></a> </label>
		<%= nf.text_field(:username, {:maxlength=>16, :value=>"" })  %>
		 &nbsp;&nbsp; <span class="error" id="login_username_error">This is an error</span>
	</div>

	<div style="margin-left:25px;">
		<label>Password (case sensitive): <a href="#" onclick="showForgotPassword();" tabindex="-1"> &nbsp;&nbsp;<span class="validation">Forgot your password?</span></a> </label>
		<%= nf.password_field(:password, {:maxlength=>16, :value=>""}) %>
		&nbsp;&nbsp;<span class="error" id="login_password_error">This is an error</span>
	</div>

	<div class="bottom_login">
		<a style="color:white" href="#" onclick="submitLogin();">Submit Lender, Borrower or Guest Login</a>
	</div>
	<div   class="div_white" >&nbsp;</div>
</div>

<div   class="div_white" >&nbsp;</div>

<div class="bottom">

	<a href="#" onclick="showCommunityRegistration();">=> I don't have a login...Register here as a Community.</a>
	<a href="#" onclick="showRegistration();">=> I don't have a login...Register here as a lender, borrower or guest.</a>
	<a href="#" onclick="window.location.replace('/home/items_listing');">=> Let's see that is being offered to borrow or lend.</a>
</div>
<div   class="div_white" >&nbsp;</div>
<% end %>

