<%= javascript_include_tag 'login.js' %>
<% if session[:register_type].blank? || session[:register_type]== 'all' %>
<% @lender_type_string == "" %>
<% elsif session[:register_type] == "both" %>
<% @lender_type_string == "LENDER/BORROWER" %>
<% else %>
<% @lender_type_string = session[:register_type].upcase + " " %>

<% end %>

<%= form_for @users,  :url=>  {:controller=>"user", :action => "create", :commit=>"register"}, :html=> {:class=>"register", :id=>"user_login_form"} do |nf| %>

<div class="top" >

	<p>
		<span class="logo_white" >The Echo Market</span>
	</p>

	<p >
		<%= @lender_type_string %> REGISTRATION
	</p>
</div>

<% if @User.errors.any? %>
<%= render :partial => 'home/check_for_errors', :locals => {:data_source => @users}  %>
<% end %>

<% if session[:register_type].blank? || session[:register_type] == 'all'%>
<div style="float:left;width:100%;margin-top:15px;" >
	<label class="radio_login" >How would you like to Register?:</label>
	<div class="radio" style="width:475px;">
		<div style="float:left;" >
			<label class="radio_login"  >As a Guest:
				<%= nf.radio_button(:user_type, "guest", {:checked => true}) %> </label>
		</div>
		<div style="float:left;" >
			<label class="radio_login"  >&nbsp;&nbsp;As a Lender:
				<%= nf.radio_button(:user_type, "lender") %> </label>
		</div>
		<div style="float:left;" >
			<label class="radio_login"  >&nbsp;&nbsp;As a Borrower:
				<%= nf.radio_button(:user_type, "borrower") %> </label>
		</div>
		<div style="float:left;" >
			<label class="radio_login"  >As a Lender and a Borrower:
				<%= nf.radio_button(:user_type, "both") %> </label>
		</div>
	</div>
	<span class="error" id="no_type_choice_error">This is an error</span>
</div>
<% else %>
<%= nf.hidden_field :user_type, :value=> session[:register_type] %>
<% end %>

	<div style="float:left;margin-top:5px;margin-bottom:0px;padding:0;width:90%;" >
	<label>User Alias:&nbsp; </label>
	<%= nf.text_field(:user_alias, {:maxlength=>40,:tabindex=>"1",:value=>"" }) %>
	<span style="color:indigo;font-size:12px;">Your required publicly displayed User Alias, must have between 8 and 40 alpha-numeric characters.</span>
	<span class="error" id="registration_alias_error">This is an error</span>
	</div>

	<div style="float:left;margin-top:5px;margin-bottom:0px;padding:0;width:90%;" >
		<label>Username:&nbsp;</label>
		<%= nf.text_field(:username, {:maxlength=>40,:tabindex=>"2",:value=>""})  %>
		<span style="color:indigo;font-size:12px;">Strictly for login, will not be publicly displayed, and must have between 8 and 40 characters.</span>
		<span class="error" id="registration_username_error">This is an error</span>
	</div>
	
	<div style="float:left;margin-top:5px;margin-bottom:0px;padding:0;width:90%;" >
		<label>Password:&nbsp;</label>
		<%= nf.password_field(:password, {:maxlength=>16,:tabindex=>"3",:value=>""})  %>
		<span style="color:indigo;font-size:12px;">Between 8 - 16 alpha-numeric characters.</span>
		<span class="error" id="registration_password_error">This is an error</span>
	</div>
	
	<div style="float:left;margin-top:5px;margin-bottom:0px;padding:0;width:90%;" >
		<label>Re-enter Password: &nbsp;</label>
		<%= nf.password_field(:password_confirmation, {:maxlength=>16,:tabindex=>"4",:value=>""})  %>
		<span style="color:indigo;font-size:12px;">Password and re-entered password must match.</span>
		<span class="error" id="registration_password_confirmation_error">This is an error</span>
	</div>


	<div style="float:left;margin-top:5px;margin-bottom:0px;padding:0;width:90%;" >
		<label>Email:&nbsp;</label>
		<%= nf.email_field(:email, {:maxlength=>100, :size=>24,:tabindex=>"5",:value=>""}) %>
		<span style="color:indigo;font-size:12px;">Required, will not be publicly displayed unless you later permit it and must be formatted properly.</span>
		<span class="error" id="registration_email_error">This is an error</span>
	</div>


<% if session[:edit_user] %>
<div class="bottom" >
	<a href="#" onclick="submitRegistration();">=> Okay... Please update my Registration.</a>
	<a href="#" onclick="window.location.replace('/home/items_listing');">=> No, I'll update later. Let's see what is being offered to borrow or lend.</a>
</div>
<% else %>
<div class="bottom" >
	<a href="#" onclick="submitRegistration();">>>Submit Registration.</a>
	<% if User.count(:conditions => ["activation_code is null"]) > 0 %>
	<a href="#" onclick="showLogin();">=> Remembered that I already registered.</a>
	<% end %>
	<a href="#" onclick="window.location.replace('/home/items_listing');">=> I'll register later. Let's see what is being offered to borrow or lend.</a>
</div>

<div   class="div_white" >&nbsp;</div>	
<% end %>

<%= nf.hidden_field :remote_ip, :value => request.remote_ip %>
<%= nf.hidden_field :approved, :value => 0 %>
<% begin %>
<%= nf.hidden_field :user_id %>
<% rescue %>
<% end %>

<% end %>
