<%= javascript_include_tag 'login.js' %>
<style>
	input#form_submit1 {
		background-color: indigo;
		color: white;
		font-size: 12px;
		width: auto;
		height: auto;
		border: none;
		margin-left: 15px;
		padding: 0;
		float: left;
	}
	th {
		width: auto;
		text-align: left;
	}

	td {
		text-align: center;
	}

	p {
		padding: 5x;
		margin-left: 5px;
		color: black;
		font-size: 14px;
		/*    border-bottom:1px solid #ddd;*/
		font-weight: bold;
		width: 94%;
	}

</style>

<%= form_for @community_members , :url=>  {:controller=>"community_member", :action => "create"}, :html=> {:class=>"register_community", :id=>"register_community"} do |nf| %>

<div class="top" >

	<p>
		<span class="logo_white" >The Echo Market</span>
	</p>

	<p >
		COMMUNITY MEMBER LISTING
	</p>

	<% if session[:notice] %>
	<p>
		<%= session[:notice] %>
	</p>
	<% end %>

</div>


<div id="community_members_build" style="display:block;float:left;width:96%;">
	<p>
		The aspect of adding members to your Community is optional.  If you choose to add members, for each member, you need to provide either a member's full name or alias.  
		Either way, for each member that name or alias must be unique.  On login to the Echo Market, the member will need to provide the Community name, Community password and then provide either his/her fullname or alias.
	</p>

	<div id="add_community_members" style="display:block;float:left;width:96%;height:auto;margin:5px;">
		
		
		<table style="margin-left:25px;">

			<tr >
				<th style="background-color: #FFFFCC;text-align:left;">First Name</th>
				<th style="background-color: #FFFFCC;text-align:left;">MI</th>
				<th style="background-color: #FFFFCC;text-align:left;">Last Name</th>
				<th>&nbsp;</th>
				<th style="background-color: #CCFFCC;text-align:left;">Alias</th>
				<th>Function</th>
			</tr>
		
			<%= nf.hidden_field :community_id, {:value=> session[:community_id]} %>
			<% rowCount = 1 %>
			<% numRows = @community_members.count %>
			<% rowClass = ((rowCount%2) == 1 ? "odd" : "even" )  %>
			
			<tr class="<%= rowClass %>" >

				<td width= "20%"> <%= nf.text_field :first_name, {:size=>24}  %></td>
				<td width='5%'><%= nf.text_field :mi,  {:size=>2} %></td>
				<td width='20%'><%= nf.text_field (:last_name), {:size=>24} %></td>
				<td width="5%">OR</td>
				<td width='20%'><%= nf.text_field :alias, {:size=>24} %></td>
				
				<td width='20%'>&nbsp;&nbsp;
					<% if  @community_members[rowCount][:is_creator] == 1 %>
					<%= link_to "Update Member", community_member_update_row_url(@community_members[rowCount][:community_member_id]) %>
				    <%= nf.hidden_field :is_creator, :value => 1 %>
				<% else %>
					<%= link_to "Remove Member", community_member_remove_url(@community_members[rowCount][:community_member_id]) %>
					<br />
					<%= nf.hidden_field :is_creator, :value => 0 %>
					<%= link_to "Update Member", community_member_update_row_url(@community_members[rowCount][:community_member_id]) %> 
				<% end%>
				</td>
				
			</tr>
			<% rowCount = rowCount + 1 %>
			
            <% if rowCount == numRows %>
			<tr>
				<td width= '20%'> <%= nf.text_field :first_name, {:value=> '', :size=>24} %></td>
				<td width='5%'><%= nf.text_field :mi, {:value=> '', :size=>1} %></td>
				<td width= '20%'><%= nf.text_field :last_name, {:value=> '', :size=>24} %></td>
				<td width='5%'>&nbsp;</td>
				<td width='20%'><%= nf.text_field :alias, {:value=> '',:size=>24} %></td>
				<td width='20%'>&nbsp;&nbsp;<%= nf.hidden_field :is_creator, :value => 0 %>
					<%= nf.submit 'Add', {:id=> "form_submit1"} %></td>
			</tr>
			<% end %>
			
		</table>
	</div>

</div>

<% end%>

