<%= javascript_include_tag 'login.js' %>
<style>
	input#form_submit1 {
		background-color: indigo;
		color: white;
		font-size: 12px;
		width: auto;
		height: auto;
		border: none;
		margin-left: 15px;
		padding: 0;
		float: left;
	}
	th {
		width: auto;
		text-align: left;
	}

	td {
		text-align: center;
	}

	p {
		padding: 5x;
		margin-left: 5px;
		color: black;
		font-size: 14px;
		/*    border-bottom:1px solid #ddd;*/
		font-weight: bold;
		width: 94%;
	}

</style>

<%= form_for @community_members , :url=>  {:controller=>"community_member", :action => "add", :view=> 'm_list'}, :html => {:class=>"register_community", :id=>"register_community"} do |lf| %>
 
<% if  session[:advise]  %> 
<div class="top" >

	<p>
		<span class="logo_white" >The Echo Market</span>
	</p>

	<p >
		COMMUNITY MEMBER LISTING
	</p>

	<% if session[:notice] %>
	<p>
		<%= session[:notice] %>
	</p>
	<% end %>

</div>

<% else %>

<div class="top" >

	<p>
		<span class="logo_white" >The Echo Market</span>
	</p>

	<p >
		COMMUNITY REGISTRATION, continued...
	</p>

	<% if session[:notice] %>
	<p>
		<%= session[:notice] %>
	</p>
	<% end %>

</div>
<div class="top_notice_5" id="commmunity_info">
	
<p>	Your Echo Market Community presence has been activated. </p>
	<p>
		Would you like to add members to your Community?
	</p>
	<p>
		Adding members is optional, but recommended as it adds a layer of security to your Community. You may choose later to add members, and of course update or delete members.
	</p>
	<p>
		Frankly, adding members seems to be a great opportunity to <span class="logo_smaller">Throw A Echo Market Commmunity Member Party!</span>
	</p>
</div>

<% end %>


<div id="community_members_build" style="display:block;float:left;width:96%;">
	<p>
		The aspect of adding members to your Community is optional.  If you choose to add members, for each member, you need to provide either a member's full name or alias.  
		Either way, for each member that name or alias must be unique.  On login to the Echo Market, the member will need to provide the Community name, Community password and then provide either his/her fullname or alias.
	</p>

		<div id="add_community_members" style="display:block;float:left;width:96%;height:auto;margin-left:5px;">
		
			<% rowCount = 0 %>	
	        <% numRows = @community_members.count %>
         
		<table style="margin-left:-5px;">

			<tr >
				<th style="background-color: #FFFFCC;text-align:left;">First Name</th>
				<th style="background-color: #FFFFCC;text-align:left;">MI</th>
				<th style="background-color: #FFFFCC;text-align:left;">Last Name</th>
				<th>&nbsp;</th>
				<th style="background-color: #CCFFCC;text-align:left;">Alias</th>
				<th>Function</th>
			</tr>

		   <% for cm in @community_members %>
			<% rowClass = ((rowCount%2) == 1 ? "odd" : "even" )  %>
			<tr class="<%= rowClass %>" >
               <% get_onchange = "update_row(this," + rowCount.to_s + ");"  %>
				<td width= "20%">
					<%= lf.text_field :first_name_h,  {:value =>"#{cm[:first_name]}" , :maxlength=>24, :size=>20, :onchange=>"#{get_onchange}" }  %>
					  <% get_span = "thisFirstName" + rowCount.to_s  %>
					<span class="1error" id="<%= get_span %>" )>first_name</span>
				</td>
				<td width='5%'><%= lf.text_field :mi_h,  {:value =>"#{cm[:mi]}" ,:maxlength=>1, :size=>2, :onchange=>"#{get_onchange}"} %>
					<% get_span = "thisMI" + rowCount.to_s  %>
					<span class="error" id="<%= get_span %>"  >mi</span>
				</td>
				<td width='20%'><%= lf.text_field :last_name_h,  {:value =>"#{cm[:last_name]}" , :maxlength=>24, :size=>20, :onchange=>"#{get_onchange}"} %>
					<% get_span = "thisLastName" + rowCount.to_s  %>
					<span class="1error" id="<%= get_span %>" >last_name</span>
				</td>
				<% if  (cm[:is_creator] == 0) %>
				<td width="5%">OR</td>
				<td width='20%'><%= lf.text_field :alias_h, {:value =>"#{cm[:alias]}" ,:maxlength=>50, :size=>40, :onchange=>"#{get_onchange}"} %>
					<% get_span = "thisAlias" + rowCount.to_s  %>
					<span class="1error" id="<%= get_span %>" >alias</span>
				</td>
				<% else %> 
				<% get_span = "thisAlias" + rowCount.to_s  %>
				<td width="5%">&nbsp;</td>
				<td width='20%'><span class="1error" id="<%= get_span %>" >alias</span></td>
				<% end %>
				<td width="20%">
					<% if  (cm[:is_creator] == 1) %>
						<% get_onclick = "submitUpdateMember(" + rowCount.to_s + ",'" + cm[:community_member_id].to_s + "','"  + cm[:community_id].to_s + "',1);" %>
						
						<a href="#" onclick="<%= get_onclick %>" class="update_member" >Update Member</a>
				    <% else %>
						<% get_onclick = "submitUpdateMember(" + rowCount.to_s + ",'" + cm[:community_member_id].to_s + "','"  + cm[:community_id].to_s + "',0);" %>
						<%= link_to "Remove Member", community_member_remove_url(@community_members[rowCount][:community_member_id], :html=>{:class=>"remove_member"}) %>
					<br />
				    <a href="#"  onclick="<%= get_onclick %>" class="update_member">Update Member</a>
				       
					<% end %>
				</td>
				
			</tr>
			<% rowCount = rowCount + 1 %>
			
	            <% if rowCount == numRows %>
					<tr>
						<td width= '20%'> <%= lf.text_field :first_name, {:value=> '', :maxlength=>24, :size=>20}  %></td>
						<td width='5%'><%= lf.text_field :mi, {:value=> '', :maxlength=>1, :size=>2}  %></td>
						<td width= '20%'><%= lf.text_field :last_name, {:value=> '', :maxlength=>24, :size=>20}  %></td>
						<td width='5%'>&nbsp;</td>
						<td width='20%'><%= lf.text_field :alias, {:value=> '',:maxlength=>50, :size=>40}  %></td>
						<td width='20%'>
						<%= lf.hidden_field :is_creator, :value => 0 %>
						<%= lf.submit "Add" %>
					</tr>
				<% end %>
			<%  end  %>
		</table>
		
	</div>

</div>

<% end %>

