  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  

<script type="text/javascript">


    $(document).ready(function() {
  	

    $.fn.center = function () {
    	
      var element = $(this);
      var e_width = element.width();
      var win_width = $(window).width();
      var left_margin_calc =  (win_width - e_width) / 2;
      element.css('margin-left', (left_margin_calc + "px"));

    };


    $("div.form_wrapper").center();
    
   var clientKey = "";
	var cache = {};
     var cache_placeholder = '';
	var container = $("div.location");
	
	var errorDiv = container.find("span#postal_code_error");
  
$( "input#searches_start_date").datepicker({
  dateFormat: "yy-mm-dd"
});

$( "input#searches_end_date").datepicker({
  dateFormat: "yy-mm-dd"
});


  $("input[name='searches[zip_code_radius]']").bind('change', function() {
     var test_is_checked = $("input[name='searches[zip_code_radius]']:checked").val()
	      if (test_is_checked) {
			$("input[name='searches[postal_code]']").trigger('change');
		}

	});



$( "input#searches_end_date.hasDatepicker").bind('change', function() {

		
	   $("#start_date_error").css("visibility", "hidden");
	   $("#end_date_error").css("visibility", "hidden");
	   $("#start_date_error").text("");
	   $("#end_date_error").text("");

        var start_date_value   = $("input#searches_start_date.hasDatepicker").val();
        var end_date_value   = $(this).val();


		if ((start_date_value == '') && (end_date_value != '')){
			$("#start_date_error").text("Now please provide a Start Date.");
			
			$("#start_date_error").css("visibility", "visible");
		} else if (start_date_value > end_date_value) {
			$("#start_date_error").text("Please provide a Start Date earlier than your End Date.");
			
			$("#start_date_error").css("visibility", "visible");
		} 
		
	});
	

$( "input#searches_start_date.hasDatepicker").bind('change', function() {

		
		$("#end_date_error").css("visibility", "hidden");
		$("#start_date_error").css("visibility", "hidden");
		$("#start_date_error").text("");
	    $("#end_date_error").text("");

        var start_date_value = $(this).val();
        var end_date_value   = $("input#searches_end_date.hasDatepicker").val();

		if ((end_date_value == '') && (start_date_value != '')) {
			$("#end_date_error").text("Now please provide an End Date.");
			
			$("#end_date_error").css("visibility", "visible");
		} else if (start_date_value > end_date_value) {
			$("#end_date_error").text("Please provide an End Date later than your Start Date.");
			
			$("#end_date_error").css("visibility", "visible");
		}  
		
});

  $("input[name='searches[postal_code]']").bind('change', function() {
	///alert("postal code change");
		var distance = $("input[name='searches[zip_code_radius]']:checked").val(); 
		
	///alert(distance);

		if (distance) {
				// Get zip code
				var zipcode = $("input[name='searches[postal_code]']").val().substring(0, 5);
		///		alert(zipcode);		
				if (zipcode.length == 5 && /^[0-9]+$/.test(zipcode)) {
							
					cache_placeholder = zipcode + distance;
///alert(cache_placeholder);		
					// Clear error
								
							// Check cache
							if (cache_placeholder in cache){
								handleResp(cache[zipcode]);
							} else 	{
								// Build url
								var url = "https://www.zipcodeapi.com/rest/"+clientKey +"/radius.json/"+ zipcode +  "/" +  distance + "/mile";
							
								$.ajax({
									"url": url,
									"dataType": "json"
								}).done(function(data) {
									///alert("okay");
									handleResp(data);
									
									// Store in cache
									cache[cache_placeholder] = data;
								}).fail(function(data) {
									////alert("FAIL");
									if (data.responseText && (json = $.parseJSON(data.responseText)))
									{
										// Store in cache
										cache[cache_placeholder] = json;
										
										// Check for error
										if (json.error_msg) errorDiv.text(json.error_msg);
									} else  {
										errorDiv.text('Request failed.'); }
								});
							} 
					}
			}
			
		});
		
	
	  $( "input#searches_start_date.hasDatepicker").trigger('change');
	  $( "input#searches_end_date.hasDatepicker").trigger('change');
	  $("input[name='searches[postal_code]']").trigger('change');
	  $("input[name='searches[zip_code_radius]']").trigger('change');
	   
	  	  function handleResp(data) 	{
			///		alert("function within function?");
					var mystr = "";
					
					if(data) {
							///alert("Data found");
							if (data.error_msg)  { 
							    //errorDiv.text(data.error_msg); 
							   ///alert("No error okay");
							} else {
						       ///alert(data.zip_codes);
							 $.each( data.zip_codes, function( i, zip ) {
				             		mystr = mystr + "'" + zip.zip_code + "',"; });
							/// alert(mystr);
							var set_hidden_field = $("input#searches_found_zip_codes");
							if (set_hidden_field) {
								set_hidden_field.val() = mystr.chomp(",");	 
							}  else { 
								 
							}
								

							                      } 
						    }
		                               }
	 });
	 



</script>

<script type="text/javascript">
  
	 function submitSearch(){
  
  	 var choose_l_or_b = $("input[name='searches[lender_or_borrower]']:checked");
 	 
      $("span#echo_market_search_error").css("visibility", "hidden");
      if ( !(choose_l_or_b.val()) )   {
        $("span#echo_market_search_error").text("From the above option 'Items to Borrow or items to Lend?', you need to choose to either search for what is being offered or what is needed.");
        $("span#echo_market_search_error").css("color", "red");
        $("span#echo_market_search_error").css("visibility", "visible");
  
      } else if (($("input#searches_keyword").val() == "")   && ($("input#searches_postal_code").val() == "")  &&
        ($("input#searches_start_date").val() == "")  && ($("input#searches_end_date").val() == "")  && ($("select#searches_category_id").val() == "") )
      {
        $("span#echo_market_search_error").text("You have to provide at least one search criteria.");
        $("span#echo_market_search_error").css("color", "red");
        $("span#echo_market_search_error").css("visibility", "visible");
  
      } else if ( 
      	
      	
      	  (($("input#searches_start_date").val() != "")  && ($("input#searches_end_date").val() == ""))  || 
      	  (($("input#searches_start_date").val() == "")  && ($("input#searches_end_date").val() != "")) 
      	  
      	  
      	  )
      {
        $("span#echo_market_search_error").text("If you want to do a Date Create search, you have to provide both a Start Date and an End Date.");
        $("span#echo_market_search_error").css("color", "red");
        $("span#echo_market_search_error").css("visibility", "visible");
  
      } else {
       
        $("form.items_listing").submit();
      }
      
      
    
    }

 </script>

<%= form_for @search, :url => {:controller => "search", :action => "create"}, :html => {:class=>"items_listing"} do |nf| %>
  <% @s_get_items = @search.get_items %>
   <%= nf.hidden_field :found_zip_codes, :value=> '' %>
  <div class="top" >
    <p><span class="logo_white" >Echo Market&nbsp;&copy;: Your Goodwill Resource For Lending, Borrowing, Donating or Trading Items</span></p>
    <p>ITEM SEARCH
<a href="#" onclick="submitSearch();" style="color:white;clear:both; float:right;padding-right:4px;">Fingers Crossed! Submit search.</a></p>
   </div>
   
  
 <div  style="float:left;margin-top:5px;margin-left:15px;background-color: #ECF4ED; width:45%; border-bottom: solid 1px indigo;padding:2px;">

    <label>Items to borrower or items to lend?:</label>
<% if session[:community_id] %>
	<% @l_c =  Lenders.where("user_id = ?", session[:user_id]) %>
	<% @b_c =  Borrowers.where("user_id = ?", session[:user_id]) %>
	<%= nf.hidden_field :is_community, :value=> 1 %>
	<%= nf.hidden_field :user_id, :value=> session[:user_id] %>

<% else %>
	<% @l_c =  Lenders.where("is_community = 0 and is_active = 1") %>
	<% @b_c =  Borrowers.where("is_community = 0 and is_active = 1") %>
	<%= nf.hidden_field :is_community, :value=> 0 %>
	<%= nf.hidden_field :user_id, :value=> '' %>

<% end %>

 <% if session[:user_id].blank? %>

  <ul  >
  

      <li><label class="radio" for="searches_lender_or_borrower_1" >Search what lenders have offered...:&nbsp;
          <%= nf.radio_button :lender_or_borrower, "1" %>
        </label>
      </li>
      <li><label class="radio" for="searches_lender_or_borrower_2" >Search what borrowers need..:&nbsp;
          <%= nf.radio_button :lender_or_borrower, "2" %>
        </label>
      </li>
  </ul>

<% else %>
 
  <ul  >
  

  <% if @l_c.count > 0 %>
      <li><label class="radio" for="searches_lender_or_borrower_1" >Search what lenders have offered...:&nbsp;
          <%= nf.radio_button :lender_or_borrower, "1" %>
        </label>
      </li>
    <% end %>
    <% if @b_c.count > 0 %>
      <li><label class="radio" for="searches_lender_or_borrower_2" >Search what borrowers need..:&nbsp;
          <%= nf.radio_button :lender_or_borrower, "2" %>
        </label>
      </li>
    <% end %>




  </ul>

<% end %>
</div>
 
 <div  style="float:left;margin-top:5px;margin-left:15px;background-color: #ECF4ED; width:45%; border-bottom: solid 1px indigo;padding:2px;">
    <label>By Date Created Range:</label>    
     <% @s_d = (@search.start_date.blank? ? "" : @search.start_date.strftime("%Y-%m-%d")) %>
     <% @e_d = (@search.end_date.blank? ? ""  : @search.end_date.strftime("%Y-%m-%d")) %>

<table class="search">
<tr>
<td style="text-align:left;font-size:12px;width:40%;">Start Date</td>
<td style="text-align:left;font-size:12px;width:20%;">- through - </td>
<td style="text-align:left;font-size:12px;width:40%;">End Date</td>
</tr>
<tr>
<td><%= nf.text_field :start_date, :value => @s_d,   :maxlength=> 10, :size=> 10 %></td>
<td>&nbsp;</td>
<td><%= nf.text_field :end_date, :value => @e_d,   :maxlength=> 10, :size=> 10 %></td>
</tr>
<tr>
<td><span class="error" style="width:100%;" id="start_date_error">error</span></td>
<td>&nbsp;</td>
<td><span class="error" style="width:100%;" id="end_date_error">error</span><td>
</tr>
</table> 
</div>

    <div  style="clear:both;float:left;margin-top:5px;margin-left:15px;background-color: #F3EBF4; width:45%; border-bottom: solid 1px indigo;padding:2px;">
    <label>By Item Description or Model:&nbsp;
    <%= nf.text_field :keyword , {:maxlength=> 24, :size=> 20} %></label>
    <span class="radius" style="float:left;">Use one singular noun or verb to describe an item, you can use a partial word.</span>
  </div>

 <div  style="float:left;margin-top:5px;margin-left:15px;background-color: #F3EBF4; width:45%; border-bottom: solid 1px indigo;padding:2px;">
    <label>By Item category:</label>
    <%= nf.collection_select :category_id, Categories.order('category_type ASC'), :category_id, :category_type, {:include_blank => true}, {:style=>"
     border: solid 1px #E5E5E5;
    background: #BDAEC6;
    padding: 1px;
    display:inline-table;
    font-size:16px;
    width:92%;
    -moz-box-shadow: 0px 0px 8px #f0f0f0;
    -webkit-box-shadow: 0px 0px 8px #f0f0f0;"}
    
     %> 
</div>
  
  
  
<div  class="location" style="float:left;">
<div  style="float:left;margin-top:5px;margin-left:15px;background-color: #ECF4ED; width:45%; border-bottom: solid 1px indigo;padding:2px;">
    <label>By Postal Code Location:</label>
    <%= nf.text_field :postal_code , { :maxlength=> 12, :size=> 14} %>
    <span class="radius" style="float:left;">You can search for vicinity postal code beginning with a certain pattern.  For example to find all items in the Boston, MA area, just search for '021' without the single quotes.</span>
</div>

 <div  style="float:left;margin-top:5px;margin-left:15px;background-color: #ECF4ED; width:45%; border-bottom: solid 1px indigo;padding:2px;">

    <label>Within Radius: Select number of miles from your entered postal code.</label>
	
	<label for="searches_zip_code_radius_1" class="radius">One Mile:&nbsp;<%= nf.radio_button( 'zip_code_radius', 1) %></label> 
	<label for="searches_zip_code_radius_5" class="radius">Five Miles:&nbsp;<%= nf.radio_button(  'zip_code_radius', 5) %></label>
	<label for="searches_zip_code_radius_10" class="radius">Ten Miles:&nbsp;<%= nf.radio_button( 'zip_code_radius', 10) %></label>
	<label for="searches_zip_code_radius_25" class="radius">25 Miles:&nbsp;<%= nf.radio_button('zip_code_radius', 25)%></label>
	
   <span class="radius" style="float:left;">For the moment only available for United States zip codes, and you must provide a 5-digit Postal Code Location.</span>
   <span class="error" id="postal_code_error"></span>
 </div>

</div>
 
  


  <div  style="float:left;margin-top:5px;width:76%;margin-left:15px;" >
    <span class="error" id="echo_market_search_error"></span>
   
  </div>


  <% unless session[:community_id].blank? %>
  	<% @lc = Lenders.count(:conditions =>   ["user_id = ?", session[:user_id]]) %>
  	<% @bc = Borrowers.count(:conditions => ["user_id = ?", session[:user_id]]) %>
  <% else %>
 	<% @lc = Lenders.count(:conditions =>   ["is_active = 1 AND is_saved = 1 and is_community = 0"]) %>
  	<% @bc = Borrowers.count(:conditions => ["is_active = 1 AND is_saved = 1 and is_community = 0"]) %>
  <% end %>
 
  <% if @s_get_items.blank? %>



<div class="bottom_flash">
<% if @search.id.blank? %>
	<p style="color:#ccff99;">Your search result will be displayed below.</p>
<%  else  %>
	<p style="color:#ffcc99;">Your search did not produce any results.</p>
<% end %>

</div>

    


  <% else %>
    <div class="bottom_flash">
      <p style="color:red;float:left;">Your search for above criteria produced the following results.</p>
    </div>


    <table class="personal" >
      <tr>
        <th>Category</th>
        <th>Description</th>
        <th>Model</th>
        <th>Condition</th>
        <th>Postal Code</th>
        <th>Detail</th>
      </tr>
    
      <% @s_get_items.each do |isq| %>

        <tr>
          <td>
            <% @cats = Categories.find(:first, :select=> "category_type", :readonly=>true, :conditions => ["category_id = ?", isq.item_category_id]) %>
            <%= (isq.item_category_id.blank? ? "No Item Category provided" : @cats.category_type) %>
          </td>
          <td>
            <%= (isq.item_description.blank? ? "NA": isq.item_description) %></td>
          <td>
            <%= (isq.item_model.blank? ? "NA": isq.item_model) %></td>
          <td>
            <% @cond = Itemconditions.find(:first, :select=> "conditions", :readonly=>true, :conditions => ["item_conditions_id = ?", isq.item_condition_id]) %>
            <%= (isq.item_category_id.blank? ? "No Item Condition provided" : @cond.conditions) %>
          </td>
          <td>
            <%= (isq.postal_code.blank? ? "NA": isq.postal_code) %></td>
          <td>
            
            <% if @search.lender_or_borrower == 2 %>
            	<%= link_to "More..."  , borrower_item_detail_url(:id => isq.borrower_item_id), {:style=>"color:#ff4500;"} %>
            <% else %> 		
       		<%= link_to "More..."  , lender_item_detail_url(:id => isq.lender_item_id), {:style=>"color:#ff4500;"} %>
           		
          <% end %>
            
            
          </td>

        </tr>
      <% end %>
    </table>
  <% end %>
  <% if session[:user_id].blank? %>
    <div class="bottom_flash">
		<p class="offering">
		<span class="logo_white" >Create Your Own Echo Market Community</span> </p>
		
		<%= link_to 'Just what I was hoping for... I want to create my Echo Market Community now', community_new_url( :id=>'', :type=>'all'), :class=> "search"   %>
           <p style="color:indigo;font-size:16px;font-weight:normal;margin-bottom:3px;">Register as a Community before May, 2015, and Echo Market will provide Five-Point Customization for free.</p> 

		<%= link_to 'Registered as lender or borrower...', user_register_url(:type=>'all', :id=>''), {:class=> "search"}   %>

		<div   class="div_white" >&nbsp;</div>
	</div>
  <% end %>

  <% end %>