<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>

		<%= stylesheet_link_tag 'echo_market.css' %>
		<!-- <%= javascript_include_tag 'google_analytics.js' %> -->

		<% if session[:background] %>
		<%= stylesheet_link_tag 'menu_nav.css' %>
		<%= stylesheet_link_tag 'style_animated_echo_market.css' %>
		<%= javascript_include_tag 'echo_market.js' %>
		<%= javascript_include_tag 'background.js' %>
		<%= javascript_include_tag  'http://code.jquery.com/jquery-1.10.1.min.js'  %>
		<%= javascript_include_tag  'http://code.jquery.com/jquery.min.js'  %>

		<%  end %>
		<title>The Echo Market  -- Lending and Borrowing</title>

	</head>

	<body>

		<% content_for :header do %>
		
		<%= render :partial => 'menus/echomarket_menu_options' %>
		<% end %>

		<% content_for :footer do %>
		<%= render :partial => 'menus/footer' %>
		<% end %>

		<% content_for :center do %>
		<% if session[:background] %>
			<div class="wrapper">
				<div id="form_wrapper" class="form_wrapper">
					<%= yield -%>
				</div>
	
			</div>
			<% else %>
			<%= yield -%>
			<% end %>
		<% end %>

		<% if session[:background] %>
		<div class="" >
			<%= yield :header %>
		</div>
		<% end %>

		<%= yield :center %>

	</body>
</html>
